<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.ajax4jsf.org/rich"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">

	<h:form id="campaignReport" styleClass="edit">

        <rich:panel>
            <f:facet name="header">CampaignReports</f:facet>
				<s:decorate id="startDateDecorate" template="/layout/edit.xhtml">
					<ui:define name="label">Start Date</ui:define>
					<rich:calendar value="#{campaignPreferences.start}"
                        locale="US"
                        popup="true"
                        datePattern="MM/dd/yyyy"
                        showApplyButton="false" cellWidth="24px" cellHeight="22px" style="width:200px"/>
				</s:decorate>
				<s:decorate id="stopDateDecorate" template="/layout/edit.xhtml">
					<ui:define name="label">End Date</ui:define>
				
					<rich:calendar value="#{campaignPreferences.stop}"
                        locale="US"
                        popup="true"
                        datePattern="MM/dd/yyyy"
                        showApplyButton="false" cellWidth="24px" cellHeight="22px" style="width:200px"/>
				</s:decorate>
				<input type="hidden" name="campaignCid" value="#{campaignHome.campaignCid}" />
			<div style="clear:both" />
			
        	<div class="actionButtons">

		       <h:commandButton
					value="Areacode Report(PDF)"
            	    action="AreacodePDFReport" >
	           </h:commandButton>
	           <!-- 
		       <h:commandButton
					value="Areacode Report(PDF)"
            	    action="/i/AreacodeDetailPDF.xhtml" >
	           </h:commandButton>
	           -->

	           
<s:fragment rendered="false" >
		       <h:commandButton rendered="#{identity.loggedIn and s:hasRole('admin')}"
					value="Transaction Detail (PDF)"
            	    action="transaction_pdf" />

		       <h:commandButton rendered="#{identity.loggedIn and s:hasRole('admin')}"
					value="Transaction Detail (CSV) "
            	    action="transaction_csv" />
	             
		       <h:commandButton
					value="Campaign Click Report (CSV)  "
            	    action="click_csv" />
		       <h:commandButton
					value="Campaign Click Report (PDF)  "
            	    action="click_pdf" />
		       <h:commandButton
					value="Domain PDF Report "
            	    action="domain_pdf" />

 </s:fragment>

			</div>

    </rich:panel>


		</h:form>
</ui:composition>