<!DOCTYPE composition PUBLIC "Mod-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="https://ajax4jsf.dev.java.net/ajax"
	xmlns:rich="http://richfaces.ajax4jsf.org/rich">
	
<div class="wizard">
	<div
		style="text-align:center;background-color:white;font-size:12px;padding:0px">
	<span style="color:#d0d0d0;">1. Enter Email Address</span> <span
		style="color:blue;border-left-color:black">2. Enter hint answer</span>
	<span style="color:#d0d0d0;border-left-color:black">3.
	Reset Password</span></div>

	<s:decorate id="hintDecorate" template="/layout/display.xhtml">

		<ui:define name="label">Security Question</ui:define>
            #{forgotUser.instance.hintQuestions.question}
        </s:decorate>

	<s:decorate id="hintAnswerDecoration" template="/layout/edit.xhtml">
		<ui:define name="label">Answer</ui:define>
		<h:inputText id="hintAnswer" style="width:100%" required="true"
			value="#{forgot.hintAnswer}" autocomplete="off">
			<a:support event="onblur" reRender="hintAnswerDecoration"
				bypassUpdates="true" />
		</h:inputText>

	</s:decorate>

	<div class="actionButtons">

		<h:commandButton style="float:right;clear:right;" id="next"  action="Next" value="Next &gt;&gt;" />
		
		<s:fragment rendered="false">

		<s:button id="cancel" action="cancel" value="cancel" />

			<a:commandButton style="float:left"
				action="Prev" value="&lt;&lt; Prev" />
			<a:commandButton
				style="float:right" action="#{forgot.step2}" value="Next &gt;&gt;" />
		</s:fragment>
	</div>
	</div>
</ui:composition>
