<!DOCTYPE composition PUBLIC "Mod-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="https://ajax4jsf.dev.java.net/ajax"
	xmlns:rich="http://richfaces.ajax4jsf.org/rich">
	
<div class="wizard">
	<div  style="text-align:center;background-color:white;font-size:12px;padding:0px">
	<span style="color:#d0d0d0;">1. Enter Email Address</span> 
	<span style="color:#d0d0d0;border-left-color:black">2.Enter hint answer</span> 
	<span style="color:blue;border-left-color:black">3.	Reset Password</span>
	</div>

	<s:decorate id="hintDecorate" template="/layout/display.xhtml">
		<ui:define name="label">Your Email</ui:define>
            #{forgotUser.instance.emailAddresses.emailAddress}
    </s:decorate>

	<s:decorate id="passwords" template="/layout/edit.xhtml">
		<ui:define name="label">User Password <br />Verify Password</ui:define>
		<div style="float:left;display:block;width:100%"><h:inputSecret
			value="#{forgot.password1}" required="true" autocomplete="off">
		</h:inputSecret><span style="margin:5px">Must 6-24 Letters or Numbers in length</span>
		</div>
		<div style="float:left;display:block;width:100%"><h:inputSecret
			value="#{forgot.password2}" required="true" autocomplete="off">
		</h:inputSecret></div>
	</s:decorate>

	<div class="actionButtons">
		<s:fragment rendered="false">
		<h:commandButton style="float:left" id="prev"  action="Prev" value="&lt;&lt; Prev" />
				<s:button id="cancel" action="cancel" value="cancel" />
	</s:fragment>
	
			<h:commandButton style="clear:both;text-align:center;"  id="finish"  action="Finish" value="Finish" />

			<s:fragment rendered="false">
	
				<a:commandButton style="float:left;" action="Prev" value="&lt;&lt; Prev " />
	
				<a:commandButton style="float:right" action="#{forgot.step3}" value="Finish &gt;&gt;" />
			</s:fragment>
	</div>
	</div>
</ui:composition>
