<!DOCTYPE composition PUBLIC "Mod-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="https://ajax4jsf.dev.java.net/ajax"
	xmlns:rich="http://richfaces.ajax4jsf.org/rich">
	
<div class="wizard">

	<div style="text-align:center;background-color:white;font-size:12px;padding:0px">
		<span style="color:blue;background-color:white">1. Enter Email Address</span>
		<span style="color:#d0d0d0;border-left-color:black">2. Enter hint answer</span>
		<span style="color:#d0d0d0;border-left-color:black">3. Reset Password</span>
	</div>

	<s:decorate id="emailAddresses" template="/layout/edit.xhtml">
		<ui:define name="label">User Email Address </ui:define>
		<div style="float:left;display:block;width:100%"><h:inputText
			value="#{forgot.emailAddress}" required="true" autocomplete="off" /></div>
	</s:decorate>

	<s:decorate id="CaptchaDecoration" template="/layout/edit.xhtml">
		<ui:define name="label">Security</ui:define>
		<div><h:graphicImage id="captchaImage"
			style="border:1px solid black"
			value="/seam/resource/captcha?#{mongoCaptcha.id}" /> <span><a:commandLink
			reRender="captchaImage">
			<h:outputText value="Can't read image?" />
		</a:commandLink> </span></div>
	</s:decorate>

	<s:decorate id="CaptchaInput" template="/layout/edit.xhtml">
		<ui:define name="label">Enter the above letters</ui:define>
		<h:inputText id="verifyCaptcha" value="#{mongoCaptcha.response}"
			autocomplete="off" required="true" />
		<a:support event="onblur" reRender="CaptchaDecoration"
			bypassUpdates="true" />
	</s:decorate>
	
	<div class="actionButtons">
		<h:commandButton style="float:right;clear:right" id="next" action="Next" value="Next &gt;&gt;" />
		<s:fragment rendered="false">
			<a:commandButton style="float:right;clear:right" action="#{forgot.step1}"
				value="Next &gt;&gt;" />
		<s:button id="cancel" action="cancel" value="cancel" style="float:;clear:left" />

		</s:fragment>
	</div>
</div>
</ui:composition>
