<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.ajax4jsf.org/rich"
	xmlns:a4j="https://ajax4jsf.dev.java.net/ajax">
<style type="text/css">

	.mapContainer{
		border: solid black 1px;
		width: 100%;
		border: 0px solid green;
		margin-top: 5px;
		margin-bottom:5px;
		padding: 5px;
	}

	#map {
		float:left;
		clear:none;
		border: 1px solid black;
		}
	.mapLegend{
		float:left;
		padding:0px;
		margin:0px;
	}
	.nodelistStyle{
		border=solid black 2px;
		overflow: auto;
		display:none;
		width: 100%;
	}
	table.featureInfo{
		width:100%;
	}

	
</style>

      		<div id="mapContainer" class="mapContainer">
      			<div>
			
					<a href="javascript: void(0);" onclick="switchLayer('5day')">5-day</a>
					<a href="javascript: void(0);" onclick="switchLayer('30day')">30-day</a>
					<a href="javascript: void(0);" onclick="switchLayer('mtd')">MTD</a>
					<a href="javascript: void(0);" onclick="switchLayer('ytd')">YTD</a>
					<a href="javascript: void(0);" onclick="switchLayer('year')">1 Year</a>
				</div>
				<div id="notice" />
			    <div id="map" class="map">
	        	</div>
				<div id="legend2" class="mapLegend">
					<img id="legendImg"
						src="#{geoserverPath}/wms?REQUEST=GetLegendGraphic&amp;VERSION=1.0.0&amp;FORMAT=image/png&amp;WIDTH=20&amp;HEIGHT=20&amp;LAYER=#{LegendLayer}"
						 alt="Map Legend" />
				</div>   

    		    <div id="wrapper">
		            <div id="location">location</div>
        	    <div id="scale" />
            
		        </div>
    		    <div id="nodelist"  class="nodelistStyle">
        		    <em>Click on the map to get feature info</em>
		        </div>
		        <div id="pager" class="pager"/>
		        
			</div>

</ui:composition>