<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.ajax4jsf.org/rich"
	>


	
 <script type="text/javascript" >
 //<![CDATA[ 
 
 
			// these paramaters are defined by mongo_map.js

			baseLayerURL = "#{baseLayerURL}";
			baseLayerName="#{baseLayerName}" ;
		
    	    drillableLayerURL="#{drillableLayerURL}" ;
			drillableLayerName="#{drillableLayerName}";
		
			queryLayer="#{queryLayer}" ;
			drillTarget="#{drillTarget}";

			mapWidth = "#{mapWidth}" ;
			mapHeight ="#{mapHeight}";

			conversationID = #{conversation.id};			

   			var campaignCid="#{campaignHome.campaignCid}";
   			var accountAcctSeqid="#{accountHome.accountAcctSeqid}";

            jQuery(document).ready(function(){
            	init();
            })

//]]>

</script>
<!-- 
<rich:jQuery selector="div.body" timing="onload" query="init()" />
 -->
</ui:composition>
