<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <rich:panel>
        <f:facet name="header">Account</f:facet>

        <s:decorate id="acctSeqid" template="/layout/display.xhtml">
            <ui:define name="label">acctSeqid</ui:define>
            #{accountHome.instance.acctSeqid}
        </s:decorate>

        <s:decorate id="companyName" template="/layout/display.xhtml">
            <ui:define name="label">companyName</ui:define>
            #{accountHome.instance.companyName}
        </s:decorate>

        <div style="clear:both"/>
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/protected/AccountEdit.xhtml" 
                    id="edit" 
                 value="Edit"/>

        <s:button view="/protected/#{empty accountFrom ? 'AccountList' : accountFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab label="accountPhonenumberses">
    <div class="association" id="accountPhonenumbersesChildren">
        
        <h:outputText value="No accountPhonenumberses" 
                   rendered="#{empty accountHome.accountPhonenumberses}"/>
        
        <rich:dataTable value="#{accountHome.accountPhonenumberses}" 
                       var="accountPhonenumbers" 
                  rendered="#{not empty accountHome.accountPhonenumberses}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="accountPhonenumbersesTable">
            <h:column>
                <f:facet name="header">acctRef</f:facet>
                #{accountPhonenumbers.id.acctRef}
            </h:column>
            <h:column>
                <f:facet name="header">phoneRef</f:facet>
                #{accountPhonenumbers.id.phoneRef}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectaccountPhonenumbers" 
                     value="Select" 
                      view="/protected/AccountPhonenumbers.xhtml">
                    <f:param name="accountPhonenumbersAcctRef" 
                            value="#{accountPhonenumbers.id.acctRef}"/>
                    <f:param name="accountPhonenumbersPhoneRef" 
                            value="#{accountPhonenumbers.id.phoneRef}"/>
                    <f:param name="accountPhonenumbersFrom" value="Account"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add accountPhonenumbers"
                view="/protected/AccountPhonenumbersEdit.xhtml">
            <f:param name="accountAcctSeqid" 
                    value="#{accountHome.instance.acctSeqid}"/>
            <f:param name="accountPhonenumbersFrom" value="Account"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="peraccountPhoneExclusionses">
    <div class="association" id="peraccountPhoneExclusionsesChildren">
        
        <h:outputText value="No peraccountPhoneExclusionses" 
                   rendered="#{empty accountHome.peraccountPhoneExclusionses}"/>
        
        <rich:dataTable value="#{accountHome.peraccountPhoneExclusionses}" 
                       var="peraccountPhoneExclusions" 
                  rendered="#{not empty accountHome.peraccountPhoneExclusionses}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="peraccountPhoneExclusionsesTable">
            <h:column>
                <f:facet name="header">acctRef</f:facet>
                #{peraccountPhoneExclusions.id.acctRef}
            </h:column>
            <h:column>
                <f:facet name="header">phoneRef</f:facet>
                #{peraccountPhoneExclusions.id.phoneRef}
            </h:column>
            <h:column>
                <f:facet name="header">reason</f:facet>
                <h:outputText value="#{peraccountPhoneExclusions.reason}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectperaccountPhoneExclusions" 
                     value="Select" 
                      view="/protected/PeraccountPhoneExclusions.xhtml">
                    <f:param name="peraccountPhoneExclusionsAcctRef" 
                            value="#{peraccountPhoneExclusions.id.acctRef}"/>
                    <f:param name="peraccountPhoneExclusionsPhoneRef" 
                            value="#{peraccountPhoneExclusions.id.phoneRef}"/>
                    <f:param name="peraccountPhoneExclusionsFrom" value="Account"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add peraccountPhoneExclusions"
                view="/protected/PeraccountPhoneExclusionsEdit.xhtml">
            <f:param name="accountAcctSeqid" 
                    value="#{accountHome.instance.acctSeqid}"/>
            <f:param name="peraccountPhoneExclusionsFrom" value="Account"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="campaigns">
    <div class="association" id="campaignsChildren">
        
        <h:outputText value="No campaigns" 
                   rendered="#{empty accountHome.campaigns}"/>
        
        <rich:dataTable value="#{accountHome.campaigns}" 
                       var="campaign" 
                  rendered="#{not empty accountHome.campaigns}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="campaignsTable">
            <h:column>
                <f:facet name="header">cid</f:facet>
                <h:outputText value="#{campaign.cid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">publicId</f:facet>
                <h:outputText value="#{campaign.publicId}"/>
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                <h:outputText value="#{campaign.name}"/>
            </h:column>
            <h:column>
                <f:facet name="header">description</f:facet>
                <h:outputText value="#{campaign.description}"/>
            </h:column>
            <h:column>
                <f:facet name="header">startTime</f:facet>
                <h:outputText value="#{campaign.startTime}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectcampaign" 
                     value="Select" 
                      view="/protected/Campaign.xhtml">
                    <f:param name="campaignCid" 
                            value="#{campaign.cid}"/>
                    <f:param name="campaignFrom" value="Account"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add campaign"
                view="/protected/CampaignEdit.xhtml">
            <f:param name="accountAcctSeqid" 
                    value="#{accountHome.instance.acctSeqid}"/>
            <f:param name="campaignFrom" value="Account"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="accountOptions">
    <div class="association" id="accountOptionsChildren">
        
        <h:outputText value="No accountOptions" 
                   rendered="#{empty accountHome.accountOptions}"/>
        
        <rich:dataTable value="#{accountHome.accountOptions}" 
                       var="accountOption" 
                  rendered="#{not empty accountHome.accountOptions}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="accountOptionsTable">
            <h:column>
                <f:facet name="header">accountOptionSeqid</f:facet>
                <h:outputText value="#{accountOption.accountOptionSeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">nvSeqid</f:facet>
                <h:outputText value="#{accountOption.nvSeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">nameId</f:facet>
                <h:outputText value="#{accountOption.nameId}"/>
            </h:column>
            <h:column>
                <f:facet name="header">value</f:facet>
                <h:outputText value="#{accountOption.value}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectaccountOption" 
                     value="Select" 
                      view="/protected/AccountOption.xhtml">
                    <f:param name="accountOptionAccountOptionSeqid" 
                            value="#{accountOption.accountOptionSeqid}"/>
                    <f:param name="accountOptionFrom" value="Account"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add accountOption"
                view="/protected/AccountOptionEdit.xhtml">
            <f:param name="accountAcctSeqid" 
                    value="#{accountHome.instance.acctSeqid}"/>
            <f:param name="accountOptionFrom" value="Account"/>
        </s:button>
    </div>        
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
