<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <h:form id="accountSearch" styleClass="edit">
    
        <rich:simpleTogglePanel label="Account search parameters" switchType="ajax">
        
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">companyName</ui:define>
                <h:inputText id="companyName" value="#{accountList2.account.companyName}"/>
            </s:decorate>

        
        </rich:simpleTogglePanel>
        
        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/protected/AccountList.xhtml"/>
        </div>
        
    </h:form>
    
    <rich:panel>
        <f:facet name="header">Account search results</f:facet>
    <div class="results" id="accountList">

    <h:outputText value="No account exists" 
               rendered="#{empty accountList2.resultList}"/>
               
    <rich:dataTable id="accountList" 
                var="account"
              value="#{accountList2.resultList}" 
           rendered="#{not empty accountList2.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="acctSeqid #{accountList2.order=='acctSeqid asc' ? messages.down : ( accountList2.order=='acctSeqid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{accountList2.order=='acctSeqid asc' ? 'acctSeqid desc' : 'acctSeqid asc'}"/>
                </s:link>
            </f:facet>
            #{account.acctSeqid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="companyName #{accountList2.order=='companyName asc' ? messages.down : ( accountList.order=='companyName desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{accountList2.order=='companyName asc' ? 'companyName desc' : 'companyName asc'}"/>
                </s:link>
            </f:facet>
            #{account.companyName}
        </h:column>
        <h:column>
            <f:facet name="header">action</f:facet>
            <s:link view="/protected/#{empty from ? 'Account' : from}.xhtml" 
                   value="Select" 
                      id="account">
                <f:param name="accountAcctSeqid" 
                        value="#{account.acctSeqid}"/>
            </s:link>
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>
    
    <div class="tableControl">
      
        <s:link view="/protected/AccountList.xhtml" 
            rendered="#{accountList2.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/AccountList.xhtml" 
            rendered="#{accountList2.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult" 
                    value="#{accountList2.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/AccountList.xhtml" 
            rendered="#{accountList2.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult" 
                    value="#{accountList2.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/AccountList.xhtml" 
            rendered="#{accountList2.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult" 
                    value="#{accountList2.lastFirstResult}"/>
        </s:link>
        
    </div>
    
    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/protected/AccountEdit.xhtml"
                    id="create" 
                 value="Create account">
            <f:param name="accountAcctSeqid"/>
        </s:button>
    </s:div>
    
</ui:define>

</ui:composition>

