<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <rich:panel>
        <f:facet name="header">AreacodeRollup</f:facet>

        <s:decorate id="areacodeRollupId" template="/layout/display.xhtml">
            <ui:define name="label">areacodeRollupId</ui:define>
            #{areacodeRollupHome.instance.areacodeRollupId}
        </s:decorate>

        <s:decorate id="rollupType" template="/layout/display.xhtml">
            <ui:define name="label">rollupType</ui:define>
            #{areacodeRollupHome.instance.rollupType}
        </s:decorate>

        <s:decorate id="startPeriod" template="/layout/display.xhtml">
            <ui:define name="label">startPeriod</ui:define>
            <h:outputText value="#{areacodeRollupHome.instance.startPeriod}">
                <s:convertDateTime type="both" dateStyle="short"/>
            </h:outputText>
        </s:decorate>

        <s:decorate id="endPeriod" template="/layout/display.xhtml">
            <ui:define name="label">endPeriod</ui:define>
            <h:outputText value="#{areacodeRollupHome.instance.endPeriod}">
                <s:convertDateTime type="both" dateStyle="short"/>
            </h:outputText>
        </s:decorate>

        <s:decorate id="areacode" template="/layout/display.xhtml">
            <ui:define name="label">areacode</ui:define>
            #{areacodeRollupHome.instance.areacode}
        </s:decorate>

        <s:decorate id="totalClicks" template="/layout/display.xhtml">
            <ui:define name="label">totalClicks</ui:define>
            #{areacodeRollupHome.instance.totalClicks}
        </s:decorate>

        <s:decorate id="totalTx" template="/layout/display.xhtml">
            <ui:define name="label">totalTx</ui:define>
            #{areacodeRollupHome.instance.totalTx}
        </s:decorate>

        <s:decorate id="totalEmails" template="/layout/display.xhtml">
            <ui:define name="label">totalEmails</ui:define>
            #{areacodeRollupHome.instance.totalEmails}
        </s:decorate>

        <s:decorate id="totalUniqEmails" template="/layout/display.xhtml">
            <ui:define name="label">totalUniqEmails</ui:define>
            #{areacodeRollupHome.instance.totalUniqEmails}
        </s:decorate>

        <div style="clear:both"/>
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/protected/AreacodeRollupEdit.xhtml" 
                    id="edit" 
                 value="Edit"/>

        <s:button view="/protected/#{empty areacodeRollupFrom ? 'AreacodeRollupList' : areacodeRollupFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab label="campaign">
    <div class="association" id="campaignParent">
        
        <h:outputText value="No campaign" 
                   rendered="#{areacodeRollupHome.instance.campaign == null}"/>
        
        <rich:dataTable var="campaign" 
                   value="#{areacodeRollupHome.instance.campaign}" 
                rendered="#{areacodeRollupHome.instance.campaign != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="campaignTable">
            <h:column>
                <f:facet name="header">cid</f:facet>
                #{campaign.cid}
            </h:column>
            <h:column>
	    	    <f:facet name="header">account acctSeqid</f:facet>
		    	#{campaign.account.acctSeqid}
            </h:column>
            <h:column>
                <f:facet name="header">publicId</f:facet>
                #{campaign.publicId}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{campaign.name}
            </h:column>
            <h:column>
                <f:facet name="header">description</f:facet>
                #{campaign.description}
            </h:column>
            <h:column>
                <f:facet name="header">startTime</f:facet>
                #{campaign.startTime}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="viewcampaign" 
                     value="View" 
                      view="/protected/Campaign.xhtml">
                    <f:param name="campaignCid" 
                           value="#{campaign.cid}"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
