<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <h:form id="areacodeRollupSearch" styleClass="edit">
    
        <rich:simpleTogglePanel label="AreacodeRollup search parameters" switchType="ajax">
        
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">areacode</ui:define>
                <h:inputText id="areacode" value="#{areacodeRollupDetailList.areacodeRollup.areacode}"/>
            </s:decorate>
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">Period type (d|h)</ui:define>
                <h:inputText id="periodType" value="#{campaignPreferences.rollupType}"/>
            </s:decorate>
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">Campaign Id</ui:define>
                <h:inputText id="campaignCid" value="#{areacodeRollupDetailList.campaignCid}"/>
            </s:decorate>
				<s:decorate id="startDateDecorate" template="/layout/edit.xhtml">
					<ui:define name="label">Start Date</ui:define>
					<rich:calendar value="#{campaignPreferences.start}" locale="US"
						popup="true" datePattern="MM/dd/yyyy" showApplyButton="false"
						cellWidth="24px" cellHeight="22px" style="width:200px" />
				</s:decorate>
				<s:decorate id="stopDateDecorate" template="/layout/edit.xhtml">
					<ui:define name="label">End Date</ui:define>
					<rich:calendar value="#{campaignPreferences.stop}"
                        locale="US"
                        popup="true"
                        datePattern="MM/dd/yyyy"
                        showApplyButton="false" cellWidth="24px" cellHeight="22px" style="width:200px"/>
				</s:decorate>
            
            
        </rich:simpleTogglePanel>
        
        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/protected/AreacodeRollupList.xhtml"/>
        </div>
        
    </h:form>
    
    <rich:panel>
        <f:facet name="header">AreacodeRollup search results</f:facet>
    <div class="results" id="areacodeRollupList">

    <h:outputText value="No areacodeRollup exists" 
               rendered="#{empty areacodeRollupList.resultList}"/>

    <div class="tableControl">
      
        <s:link view="/protected/AreacodeRollupList.xhtml" 
            rendered="#{areacodeRollupDetailList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage_top">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/AreacodeRollupList.xhtml" 
            rendered="#{areacodeRollupDetailList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage_top">
            <f:param name="firstResult" 
                    value="#{areacodeRollupDetailList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/AreacodeRollupList.xhtml" 
            rendered="#{areacodeRollupDetailList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage_top">
            <f:param name="firstResult" 
                    value="#{areacodeRollupDetailList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/AreacodeRollupList.xhtml" 
            rendered="#{areacodeRollupDetailList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage_top">
            <f:param name="firstResult" 
                    value="#{areacodeRollupDetailList.lastFirstResult}"/>
        </s:link>
        
    </div>
               
    <rich:dataTable id="areacodeRollupList" 
                var="areacodeRollup"
              value="#{areacodeRollupDetailList.resultList}" 
           rendered="#{not empty areacodeRollupList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="areacodeRollupId #{areacodeRollupDetailList.order=='areacodeRollupId asc' ? messages.down : ( areacodeRollupList.order=='areacodeRollupId desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='areacodeRollupId asc' ? 'areacodeRollupId desc' : 'areacodeRollupId asc'}"/>
                </s:link>
            </f:facet>
            #{areacodeRollup.areacodeRollupId}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="campaign cid #{areacodeRollupDetailList.order=='campaign.cid asc' ? messages.down : ( areacodeRollupList.order=='campaign.cid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='campaign.cid asc' ? 'campaign.cid desc' : 'campaign.cid asc'}"/>
                </s:link>
            </f:facet>

		<s:fragment rendered="0" >
            <s:link value="#{areadcodeRollup.campaign.account.companyName} - #{areacodeRollup.campaign.cid}/#{areacodeRollup.campaign.name}"
            	view="/ManagedAccount.xhtml">
				<f:param name="campaignCid" value="#{areacodeRollup.campaign.cid}"/>
				<f:param name="accountAcctSeqid" value="#{areacodeRollup.campaign.account.acctSeqid}"/>
			</s:link>
            <s:link value="#{areadcodeRollup.campaign.account.companyName} - #{areacodeRollup.campaign.cid}/#{areacodeRollup.campaign.name}"
            	view="/ManagedCampaign.xhtml">
				<f:param name="campaignCid" value="#{areacodeRollup.campaign.cid}"/>
			</s:link>		

		</s:fragment>
            <s:link value="#{areacodeRollup.campaign.cid}">
				<f:param name="campaignCid" value="#{areacodeRollup.campaign.cid}"/>
			</s:link>		
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="rollupType #{areacodeRollupDetailList.order=='rollupType asc' ? messages.down : ( areacodeRollupList.order=='rollupType desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='rollupType asc' ? 'rollupType desc' : 'rollupType asc'}"/>
                </s:link>
            </f:facet>
            #{areacodeRollup.rollupType}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="endPeriod #{areacodeRollupDetailList.order=='transDate asc' ? messages.down : ( areacodeRollupList.order=='transDate desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='transDate asc' ? 'transDate desc' : 'transDate asc'}"/>
                </s:link>
            </f:facet>
            #{areacodeRollup.transDate}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="areacode #{areacodeRollupDetailList.order=='areacode asc' ? messages.down : ( areacodeRollupList.order=='areacode desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='areacode asc' ? 'areacode desc' : 'areacode asc'}"/>
                </s:link>
            </f:facet>

            <s:link value="#{areacodeRollup.areacode}">
				<f:param name="areacode" value="#{areacodeRollup.areacode}"/>
			</s:link>

	<s:fragment rendered="0">             
            <s:link value="All - #{areacodeRollup.areacode}">
				<f:param name="areacode" value="#{areacodeRollup.areacode}"/>
				<f:param name="campaignCid" />
			</s:link>
            <s:link value="Just Campaign #{areacodeRollup.campaign.cid}'s areacode #{areacodeRollup.areacode}">
				<f:param name="campaignCid" value="#{areacodeRollup.campaign.cid}"/>
				<f:param name="areacode" value="#{areacodeRollup.areacode}"/>
			</s:link>
			</s:fragment>
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalClicks #{areacodeRollupDetailList.order=='totalClicks asc' ? messages.down : ( areacodeRollupList.order=='totalClicks desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='totalClicks asc' ? 'totalClicks desc' : 'totalClicks asc'}"/>
                </s:link>
            </f:facet>
            #{areacodeRollup.totalClicks}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalTx #{areacodeRollupDetailList.order=='totalTx asc' ? messages.down : ( areacodeRollupList.order=='totalTx desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='totalTx asc' ? 'totalTx desc' : 'totalTx asc'}"/>
                </s:link>
            </f:facet>
            #{areacodeRollup.totalTx}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalEmails #{areacodeRollupDetailList.order=='totalEmails asc' ? messages.down : ( areacodeRollupList.order=='totalEmails desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='totalEmails asc' ? 'totalEmails desc' : 'totalEmails asc'}"/>
                </s:link>
            </f:facet>
            #{areacodeRollup.totalEmails}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalUniqEmails #{areacodeRollupDetailList.order=='totalUniqEmails asc' ? messages.down : ( areacodeRollupList.order=='totalUniqEmails desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='totalUniqEmails asc' ? 'totalUniqEmails desc' : 'totalUniqEmails asc'}"/>
                </s:link>
            </f:facet>
            #{areacodeRollup.totalUniqEmails}
        </h:column>
        
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalMinutes #{areacodeRollupDetailList.order=='totalMinutes asc' ? messages.down : ( areacodeRollupDetailList.order=='totalMinutes desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='totalMinutes asc' ? 'totalMinutes desc' : 'totalMinutes asc'}"/>
                </s:link>
            </f:facet>
            #{areacodeRollup.totalMinutes}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalPages #{areacodeRollupDetailList.order=='totalPages asc' ? messages.down : ( areacodeRollupDetailList.order=='totalPages desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='totalPages asc' ? 'totalPages desc' : 'totalPages asc'}"/>
                </s:link>
            </f:facet>
            #{areacodeRollup.totalPages}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalCharges #{areacodeRollupDetailList.order=='totalCharges asc' ? messages.down : ( areacodeRollupDetailList.order=='totalCharges desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{areacodeRollupDetailList.order=='totalCharges asc' ? 'totalCharges desc' : 'totalCharges asc'}"/>
                </s:link>
            </f:facet>
            #{areacodeRollup.totalCharges}
        </h:column>
        <h:column>
            <f:facet name="header">action</f:facet>
            <s:link value="Manage Campaign" view="/ManagedCampaign.xhtml">
				<f:param name="campaignCid" value="#{areacodeRollup.campaign.cid}"/>
				<f:param name="campaignFrom" value="protected/AreacodeRollupList"/>
			</s:link>		
            <s:link value="ManageAccount" view="/ManagedAccount.xhtml">
				<f:param name="accountAcctSeqid" value="#{areacodeRollup.campaign.account.acctSeqid}"/>
				<f:param name="accountFrom" value="protected/AreacodeRollupList"/>
			</s:link>		
        
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>
    
    <div class="tableControl">
      
        <s:link view="/protected/AreacodeRollupList.xhtml" 
            rendered="#{areacodeRollupDetailList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/AreacodeRollupList.xhtml" 
            rendered="#{areacodeRollupDetailList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult" 
                    value="#{areacodeRollupDetailList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/AreacodeRollupList.xhtml" 
            rendered="#{areacodeRollupDetailList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult" 
                    value="#{areacodeRollupDetailList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/AreacodeRollupList.xhtml" 
            rendered="#{areacodeRollupDetailList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult" 
                    value="#{areacodeRollupDetailList.lastFirstResult}"/>
        </s:link>
        
    </div>
    
</ui:define>

</ui:composition>

