<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <rich:panel>
        <f:facet name="header">CampaignUsage</f:facet>

        <s:decorate id="cuid" template="/layout/display.xhtml">
            <ui:define name="label">cuid</ui:define>
            #{campaignUsageHome.instance.cuid}
        </s:decorate>

        <s:decorate id="clicked" template="/layout/display.xhtml">
            <ui:define name="label">clicked</ui:define>
            <h:outputText value="#{campaignUsageHome.instance.clicked}">
                <s:convertDateTime type="both" dateStyle="short"/>
            </h:outputText>
        </s:decorate>

        <s:decorate id="ip" template="/layout/display.xhtml">
            <ui:define name="label">ip</ui:define>
            #{campaignUsageHome.instance.ip}
        </s:decorate>

        <s:decorate id="uid" template="/layout/display.xhtml">
            <ui:define name="label">uid</ui:define>
            #{campaignUsageHome.instance.uid}
        </s:decorate>

        <div style="clear:both"/>
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/protected/CampaignUsageEdit.xhtml" 
                    id="edit" 
                 value="Edit"/>

        <s:button view="/protected/#{empty campaignUsageFrom ? 'CampaignUsageList' : campaignUsageFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab label="xids">
    <div class="association" id="xidsParent">
        
        <h:outputText value="No xids" 
                   rendered="#{campaignUsageHome.instance.xids == null}"/>
        
        <rich:dataTable var="xids" 
                   value="#{campaignUsageHome.instance.xids}" 
                rendered="#{campaignUsageHome.instance.xids != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="xidsTable">
            <h:column>
                <f:facet name="header">xidSeqid</f:facet>
                #{xids.xidSeqid}
            </h:column>
            <h:column>
                <f:facet name="header">xid</f:facet>
                #{xids.xid}
            </h:column>
            <h:column>
                <f:facet name="header">xidDate</f:facet>
                #{xids.xidDate}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="viewxids" 
                     value="View" 
                      view="/protected/Xids.xhtml">
                    <f:param name="xidsXidSeqid" 
                           value="#{xids.xidSeqid}"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    </rich:tab>

    <rich:tab label="campaign">
    <div class="association" id="campaignParent">
        
        <h:outputText value="No campaign" 
                   rendered="#{campaignUsageHome.instance.campaign == null}"/>
        
        <rich:dataTable var="campaign" 
                   value="#{campaignUsageHome.instance.campaign}" 
                rendered="#{campaignUsageHome.instance.campaign != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="campaignTable">
            <h:column>
                <f:facet name="header">cid</f:facet>
                #{campaign.cid}
            </h:column>
            <h:column>
	    	    <f:facet name="header">account acctSeqid</f:facet>
		    	#{campaign.account.acctSeqid}
            </h:column>
            <h:column>
                <f:facet name="header">publicId</f:facet>
                #{campaign.publicId}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{campaign.name}
            </h:column>
            <h:column>
                <f:facet name="header">description</f:facet>
                #{campaign.description}
            </h:column>
            <h:column>
                <f:facet name="header">startTime</f:facet>
                #{campaign.startTime}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="viewcampaign" 
                     value="View" 
                      view="/protected/Campaign.xhtml">
                    <f:param name="campaignCid" 
                           value="#{campaign.cid}"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
