<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>

    <h:form id="campaign" styleClass="edit">
    
        <rich:panel>
            <f:facet name="header">#{campaignHome.managed ? 'Edit' : 'Add'} Campaign</f:facet>
			<s:fragment rendered="#{campaignHome.managed}" >
	            <s:decorate id="cidDecoration" template="/layout/display.xhtml">
    	            <ui:define name="label">Campaign#</ui:define>
						#{campaignHome.instance.cid}
        	    </s:decorate>
    	        <s:decorate id="publicIdDecoration" template="/layout/edit.xhtml">
        	        <ui:define name="label">publicId</ui:define>
						#{campaignHome.instance.publicId}"/>
	            </s:decorate>
			</s:fragment>

            <s:decorate id="nameDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">Name</ui:define>
                <h:inputTextarea id="name"
                               cols="80"
                               rows="3"
                           required="true"
                              value="#{campaignHome.instance.name}"/>
            </s:decorate>

            <s:decorate id="linkDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">URL</ui:define>
                <h:inputTextarea id="link"
                               cols="80"
                               rows="3"
                           required="true"
                              value="#{campaignHome.instance.link}"/>
            </s:decorate>

            <s:decorate id="descriptionDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">Description</ui:define>
                <h:inputTextarea id="description"
                               cols="80"
                               rows="3"
                              value="#{campaignHome.instance.description}"/>
            </s:decorate>

            <s:decorate id="startTimeDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">StartTime</ui:define>
                <h:inputText id="startTime" 
                           size="16"
                          value="#{campaignHome.instance.startTime}">
                    <s:convertDateTime type="both" dateStyle="short"/>
                    <a:support event="onblur" reRender="startTimeDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
        
            <div style="clear:both">
                <span class="required">*</span> 
                required fields
            </div>
            
        </rich:panel>
                
        <div class="actionButtons">

            <h:commandButton id="save" 
                          value="Save" 
                         action="#{campaignHome.persist}"
                       disabled="#{!campaignHome.wired}"
                       rendered="#{!campaignHome.managed}"/>  
                          			  
            <h:commandButton id="update" 
                          value="Save" 
                         action="#{campaignHome.update}"
                       rendered="#{campaignHome.managed}"/>
                        			  
            <h:commandButton id="delete" 
                          value="Delete" 
                         action="#{campaignHome.remove}"
                       rendered="#{campaignHome.managed}"/>

            <s:button id="done" 
                   value="Done"
             propagation="end"
                    view="/#{empty campaignFrom ? 'protected/Campaign' : campaignFrom}.xhtml"
                rendered="#{campaignHome.managed}"/>

                
            <s:button id="cancel" 
                   value="Cancel"
             propagation="end"
                    view="/#{empty campaignFrom ? 'protected/Campaign' : campaignFrom}.xhtml"
                rendered="#{!campaignHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">
    
    <rich:tab label="account *" labelClass="required">
    <div class="association" id="accountParent">
    
        <h:outputText value="No account" 
                   rendered="#{campaignHome.instance.account == null}"/>
        
        <rich:dataTable var="account" 
                   value="#{campaignHome.instance.account}" 
                rendered="#{campaignHome.instance.account != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="accountTable">
            <h:column>
                <f:facet name="header">acctSeqid</f:facet>
                #{account.acctSeqid}
            </h:column>
            <h:column>
                <f:facet name="header">companyName</f:facet>
                #{account.companyName}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link view="/protected/Account.xhtml" 
                         id="viewaccount" 
                      value="View" 
                propagation="none">
                    <f:param name="accountAcctSeqid" 
                           value="#{account.acctSeqid}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button value="Select account"
                       view="/protected/AccountList.xhtml">
                <f:param name="from" value="CampaignEdit"/>
            </s:button>
        </div>
        
    </div>
    </rich:tab>

    <rich:tab label="domainRollups">
        <div class="association" id="domainRollupsChildren">
        
            <h:outputText value="No domainRollups" 
                       rendered="#{empty campaignHome.domainRollups}"/>
        
            <rich:dataTable value="#{campaignHome.domainRollups}" 
                           var="domainRollup" 
                      rendered="#{not empty campaignHome.domainRollups}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="domainRollupsTable">
                <h:column>
                    <f:facet name="header">domainRollupSeqid</f:facet>
                    <h:outputText value="#{domainRollup.domainRollupSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">rollupType</f:facet>
                    <h:outputText value="#{domainRollup.rollupType}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">startPeriod</f:facet>
                    <h:outputText value="#{domainRollup.startPeriod}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">endPeriod</f:facet>
                    <h:outputText value="#{domainRollup.endPeriod}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">domainName</f:facet>
                    <h:outputText value="#{domainRollup.domainName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">totalClicks</f:facet>
                    <h:outputText value="#{domainRollup.totalClicks}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">totalTx</f:facet>
                    <h:outputText value="#{domainRollup.totalTx}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">totalEmails</f:facet>
                    <h:outputText value="#{domainRollup.totalEmails}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">totalUniqEmails</f:facet>
                    <h:outputText value="#{domainRollup.totalUniqEmails}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/DomainRollup.xhtml" 
                              id="selectdomainRollup" 
                           value="Select"
                     propagation="none">
                        <f:param name="domainRollupDomainRollupSeqid" 
                                value="#{domainRollup.domainRollupSeqid}"/>
                        <f:param name="domainRollupFrom" value="Campaign"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{campaignHome.managed}" id="domainRollups">
        <div class="actionButtons">
            <s:button id="adddomainRollup" 
                   value="Add domainRollup"
                    view="/protected/DomainRollupEdit.xhtml"
             propagation="none">
                 <f:param name="campaignCid" 
                         value="#{campaignHome.instance.cid}"/>
                 <f:param name="domainRollupFrom" value="Campaign"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="campaignUsages">
        <div class="association" id="campaignUsagesChildren">
        
            <h:outputText value="No campaignUsages" 
                       rendered="#{empty campaignHome.campaignUsages}"/>
        
            <rich:dataTable value="#{campaignHome.campaignUsages}" 
                           var="campaignUsage" 
                      rendered="#{not empty campaignHome.campaignUsages}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="campaignUsagesTable">
                <h:column>
                    <f:facet name="header">cuid</f:facet>
                    <h:outputText value="#{campaignUsage.cuid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">clicked</f:facet>
                    <h:outputText value="#{campaignUsage.clicked}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">ip</f:facet>
                    <h:outputText value="#{campaignUsage.ip}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">uid</f:facet>
                    <h:outputText value="#{campaignUsage.uid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/CampaignUsage.xhtml" 
                              id="selectcampaignUsage" 
                           value="Select"
                     propagation="none">
                        <f:param name="campaignUsageCuid" 
                                value="#{campaignUsage.cuid}"/>
                        <f:param name="campaignUsageFrom" value="Campaign"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{campaignHome.managed}" id="campaignUsages">
        <div class="actionButtons">
            <s:button id="addcampaignUsage" 
                   value="Add campaignUsage"
                    view="/protected/CampaignUsageEdit.xhtml"
             propagation="none">
                 <f:param name="campaignCid" 
                         value="#{campaignHome.instance.cid}"/>
                 <f:param name="campaignUsageFrom" value="Campaign"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="areacodeRollups">
        <div class="association" id="areacodeRollupsChildren">
        
            <h:outputText value="No areacodeRollups" 
                       rendered="#{empty campaignHome.areacodeRollups}"/>
        
            <rich:dataTable value="#{campaignHome.areacodeRollups}" 
                           var="areacodeRollup" 
                      rendered="#{not empty campaignHome.areacodeRollups}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="areacodeRollupsTable">
                <h:column>
                    <f:facet name="header">areacodeRollupId</f:facet>
                    <h:outputText value="#{areacodeRollup.areacodeRollupId}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">rollupType</f:facet>
                    <h:outputText value="#{areacodeRollup.rollupType}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">startPeriod</f:facet>
                    <h:outputText value="#{areacodeRollup.startPeriod}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">endPeriod</f:facet>
                    <h:outputText value="#{areacodeRollup.endPeriod}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">areacode</f:facet>
                    <h:outputText value="#{areacodeRollup.areacode}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">totalClicks</f:facet>
                    <h:outputText value="#{areacodeRollup.totalClicks}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">totalTx</f:facet>
                    <h:outputText value="#{areacodeRollup.totalTx}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">totalEmails</f:facet>
                    <h:outputText value="#{areacodeRollup.totalEmails}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">totalUniqEmails</f:facet>
                    <h:outputText value="#{areacodeRollup.totalUniqEmails}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/AreacodeRollup.xhtml" 
                              id="selectareacodeRollup" 
                           value="Select"
                     propagation="none">
                        <f:param name="areacodeRollupAreacodeRollupId" 
                                value="#{areacodeRollup.areacodeRollupId}"/>
                        <f:param name="areacodeRollupFrom" value="Campaign"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{campaignHome.managed}" id="areacodeRollups">
        <div class="actionButtons">
            <s:button id="addareacodeRollup" 
                   value="Add areacodeRollup"
                    view="/protected/AreacodeRollupEdit.xhtml"
             propagation="none">
                 <f:param name="campaignCid" 
                         value="#{campaignHome.instance.cid}"/>
                 <f:param name="areacodeRollupFrom" value="Campaign"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
