<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>

    <h:form id="campaignUsage" styleClass="edit">
    
        <rich:panel>
            <f:facet name="header">#{campaignUsageHome.managed ? 'Edit' : 'Add'} CampaignUsage</f:facet>

            <s:decorate id="cuidDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">cuid</ui:define>
                <h:inputText id="cuid"
                       required="true"
                       disabled="#{campaignUsageHome.managed}"
                          value="#{campaignUsageHome.instance.cuid}">
                    <a:support event="onblur" reRender="cuidDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="clickedDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">clicked</ui:define>
                <h:inputText id="clicked" 
                           size="16"
                          value="#{campaignUsageHome.instance.clicked}">
                    <s:convertDateTime type="both" dateStyle="short"/>
                    <a:support event="onblur" reRender="clickedDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="ipDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">ip</ui:define>
                <h:inputText id="ip" 
                       required="true"
                           size="100"
                      maxlength="128"
                          value="#{campaignUsageHome.instance.ip}">
                    <a:support event="onblur" reRender="ipDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="uidDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">uid</ui:define>
                <h:inputText id="uid"
                       required="true"
                          value="#{campaignUsageHome.instance.uid}">
                    <a:support event="onblur" reRender="uidDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
        
            <div style="clear:both">
                <span class="required">*</span> 
                required fields
            </div>
            
        </rich:panel>
                
        <div class="actionButtons">

            <h:commandButton id="save" 
                          value="Save" 
                         action="#{campaignUsageHome.persist}"
                       disabled="#{!campaignUsageHome.wired}"
                       rendered="#{!campaignUsageHome.managed}"/>  
                          			  
            <h:commandButton id="update" 
                          value="Save" 
                         action="#{campaignUsageHome.update}"
                       rendered="#{campaignUsageHome.managed}"/>
                        			  
            <h:commandButton id="delete" 
                          value="Delete" 
                         action="#{campaignUsageHome.remove}"
                       rendered="#{campaignUsageHome.managed}"/>
                    
            <s:button id="done" 
                   value="Done"
             propagation="end"
                    view="/protected/CampaignUsage.xhtml"
                rendered="#{campaignUsageHome.managed}"/>
                
            <s:button id="cancel" 
                   value="Cancel"
             propagation="end"
                    view="/protected/#{empty campaignUsageFrom ? 'CampaignUsageList' : campaignUsageFrom}.xhtml"
                rendered="#{!campaignUsageHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">
    
    <rich:tab label="xids *" labelClass="required">
    <div class="association" id="xidsParent">
    
        <h:outputText value="No xids" 
                   rendered="#{campaignUsageHome.instance.xids == null}"/>
        
        <rich:dataTable var="xids" 
                   value="#{campaignUsageHome.instance.xids}" 
                rendered="#{campaignUsageHome.instance.xids != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="xidsTable">
            <h:column>
                <f:facet name="header">xidSeqid</f:facet>
                #{xids.xidSeqid}
            </h:column>
            <h:column>
                <f:facet name="header">xid</f:facet>
                #{xids.xid}
            </h:column>
            <h:column>
                <f:facet name="header">xidDate</f:facet>
                #{xids.xidDate}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link view="/protected/Xids.xhtml" 
                         id="viewxids" 
                      value="View" 
                propagation="none">
                    <f:param name="xidsXidSeqid" 
                           value="#{xids.xidSeqid}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button value="Select xids"
                       view="/protected/XidsList.xhtml">
                <f:param name="from" value="CampaignUsageEdit"/>
            </s:button>
        </div>
        
    </div>
    </rich:tab>
    
    <rich:tab label="campaign *" labelClass="required">
    <div class="association" id="campaignParent">
    
        <h:outputText value="No campaign" 
                   rendered="#{campaignUsageHome.instance.campaign == null}"/>
        
        <rich:dataTable var="campaign" 
                   value="#{campaignUsageHome.instance.campaign}" 
                rendered="#{campaignUsageHome.instance.campaign != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="campaignTable">
            <h:column>
                <f:facet name="header">cid</f:facet>
                #{campaign.cid}
            </h:column>
            <h:column>
	    	    <f:facet name="header">account acctSeqid</f:facet>
		    	#{campaign.account.acctSeqid}
            </h:column>
            <h:column>
                <f:facet name="header">publicId</f:facet>
                #{campaign.publicId}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{campaign.name}
            </h:column>
            <h:column>
                <f:facet name="header">description</f:facet>
                #{campaign.description}
            </h:column>
            <h:column>
                <f:facet name="header">startTime</f:facet>
                #{campaign.startTime}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link view="/protected/Campaign.xhtml" 
                         id="viewcampaign" 
                      value="View" 
                propagation="none">
                    <f:param name="campaignCid" 
                           value="#{campaign.cid}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button value="Select campaign"
                       view="/protected/CampaignList.xhtml">
                <f:param name="from" value="CampaignUsageEdit"/>
            </s:button>
        </div>
        
    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
