<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <h:form id="campaignUsageSearch" styleClass="edit">
    
        <rich:simpleTogglePanel label="CampaignUsage search parameters" switchType="ajax">
        
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">ip</ui:define>
                <h:inputText id="ip" value="#{campaignUsageList.campaignUsage.ip}"/>
            </s:decorate>

        
        </rich:simpleTogglePanel>
        
        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/protected/CampaignUsageList.xhtml"/>
        </div>
        
    </h:form>
    
    <rich:panel>
        <f:facet name="header">CampaignUsage search results</f:facet>
    <div class="results" id="campaignUsageList">

    <h:outputText value="No campaignUsage exists" 
               rendered="#{empty campaignUsageList.resultList}"/>
               
    <rich:dataTable id="campaignUsageList" 
                var="campaignUsage"
              value="#{campaignUsageList.resultList}" 
           rendered="#{not empty campaignUsageList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="cuid #{campaignUsageList.order=='cuid asc' ? messages.down : ( campaignUsageList.order=='cuid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignUsageList.order=='cuid asc' ? 'cuid desc' : 'cuid asc'}"/>
                </s:link>
            </f:facet>
            #{campaignUsage.cuid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="xids xidSeqid #{campaignUsageList.order=='xids.xidSeqid asc' ? messages.down : ( campaignUsageList.order=='xids.xidSeqid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignUsageList.order=='xids.xidSeqid asc' ? 'xids.xidSeqid desc' : 'xids.xidSeqid asc'}"/>
                </s:link>
            </f:facet>
            #{campaignUsage.xids.xidSeqid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="campaign cid #{campaignUsageList.order=='campaign.cid asc' ? messages.down : ( campaignUsageList.order=='campaign.cid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignUsageList.order=='campaign.cid asc' ? 'campaign.cid desc' : 'campaign.cid asc'}"/>
                </s:link>
            </f:facet>
            #{campaignUsage.campaign.cid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="clicked #{campaignUsageList.order=='clicked asc' ? messages.down : ( campaignUsageList.order=='clicked desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignUsageList.order=='clicked asc' ? 'clicked desc' : 'clicked asc'}"/>
                </s:link>
            </f:facet>
            #{campaignUsage.clicked}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="ip #{campaignUsageList.order=='ip asc' ? messages.down : ( campaignUsageList.order=='ip desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignUsageList.order=='ip asc' ? 'ip desc' : 'ip asc'}"/>
                </s:link>
            </f:facet>
            #{campaignUsage.ip}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="uid #{campaignUsageList.order=='uid asc' ? messages.down : ( campaignUsageList.order=='uid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignUsageList.order=='uid asc' ? 'uid desc' : 'uid asc'}"/>
                </s:link>
            </f:facet>
            #{campaignUsage.uid}
        </h:column>
        <h:column>
            <f:facet name="header">action</f:facet>
            <s:link view="/protected/#{empty from ? 'CampaignUsage' : from}.xhtml" 
                   value="Select" 
                      id="campaignUsage">
                <f:param name="campaignUsageCuid" 
                        value="#{campaignUsage.cuid}"/>
            </s:link>
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>
    
    <div class="tableControl">
      
        <s:link view="/protected/CampaignUsageList.xhtml" 
            rendered="#{campaignUsageList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/CampaignUsageList.xhtml" 
            rendered="#{campaignUsageList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult" 
                    value="#{campaignUsageList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/CampaignUsageList.xhtml" 
            rendered="#{campaignUsageList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult" 
                    value="#{campaignUsageList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/CampaignUsageList.xhtml" 
            rendered="#{campaignUsageList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult" 
                    value="#{campaignUsageList.lastFirstResult}"/>
        </s:link>
        
    </div>
    
    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/protected/CampaignUsageEdit.xhtml"
                    id="create" 
                 value="Create campaignUsage">
            <f:param name="campaignUsageCuid"/>
        </s:button>
    </s:div>
    
</ui:define>

</ui:composition>

