<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <h:form id="campaignSearch" styleClass="edit">
    
        <rich:simpleTogglePanel label="Campaign search parameters" switchType="ajax">
        
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">publicId</ui:define>
                <h:inputText id="publicId" value="#{campaignList.campaign.publicId}"/>
            </s:decorate>

            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">Campaign Name</ui:define>
                <h:inputText id="name" value="#{campaignList.campaign.name}"/>
            </s:decorate>

            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">URL</ui:define>
                <h:inputText id="name" value="#{campaignList.campaign.link}"/>
            </s:decorate>

            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">description</ui:define>
                <h:inputText id="description" value="#{campaignList.campaign.description}"/>
            </s:decorate>

        
        </rich:simpleTogglePanel>
        
        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/protected/CampaignList.xhtml"/>
        </div>
        
    </h:form>

    <s:div styleClass="tableControl" rendered="#{not empty campaignList.resultList}">
		      
        <s:link view="/protected/CampaignList.xhtml" 
            rendered="#{campaignList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage_top">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/CampaignList.xhtml" 
            rendered="#{campaignList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage_top">
            <f:param name="firstResult" 
                    value="#{campaignList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/CampaignList.xhtml" 
            rendered="#{campaignList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage_top">
            <f:param name="firstResult" 
                    value="#{campaignList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/CampaignList.xhtml" 
            rendered="#{campaignList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage_top">
            <f:param name="firstResult" 
                    value="#{campaignList.lastFirstResult}"/>
        </s:link>
        
    </s:div>
    
    <rich:panel>
        <f:facet name="header">Campaign search results</f:facet>
    <div class="results" id="campaignList">

    <h:outputText value="No campaign exists" 
               rendered="#{empty campaignList.resultList}"/>
               
    <rich:dataTable id="campaignList" 
                var="campaign"
              value="#{campaignList.resultList}" 
           rendered="#{not empty campaignList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="cid #{campaignList.order=='cid asc' ? messages.down : ( campaignList.order=='cid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignList.order=='cid asc' ? 'cid desc' : 'cid asc'}"/>
                </s:link>
            </f:facet>
            #{campaign.cid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="account acctSeqid #{campaignList.order=='campaign.account.acctSeqid asc' ? messages.down : ( campaignList.order=='campaign.account.acctSeqid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignList.order=='campaign.account.acctSeqid asc' ? 'campaign.account.acctSeqid desc' : 'campaign.account.acctSeqid asc'}"/>
                </s:link>
            </f:facet>
					<s:link view="/ManagedAccount" value="#{campaign.account.acctSeqid}">
						<f:param name="accountAcctSeqid"
							value="#{campaign.account.acctSeqid}" />
					</s:link>
				</h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="acount name #{campaignList.order=='campaign.account.companyName asc' ? messages.down : ( campaignList.order=='campaign.account.companyName desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignList.order=='campaign.account.companyName asc' ? 'campaign.account.companyName desc' : 'campaign.account.companyName asc'}"/>
                </s:link>
            </f:facet>
            #{campaign.account.companyName}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="URL #{campaignList.order=='link asc' ? messages.down : ( campaignList.order=='link desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignList.order=='link asc' ? 'link desc' : 'link asc'}"/>
                </s:link>
            </f:facet>
            #{campaign.link}
        </h:column>

        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="publicId #{campaignList.order=='publicId asc' ? messages.down : ( campaignList.order=='publicId desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignList.order=='publicId asc' ? 'publicId desc' : 'publicId asc'}"/>
                </s:link>
            </f:facet>
            #{campaign.publicId}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="name #{campaignList.order=='name asc' ? messages.down : ( campaignList.order=='name desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignList.order=='name asc' ? 'name desc' : 'name asc'}"/>
                </s:link>
            </f:facet>
            #{campaign.name}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="description #{campaignList.order=='description asc' ? messages.down : ( campaignList.order=='description desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignList.order=='description asc' ? 'description desc' : 'description asc'}"/>
                </s:link>
            </f:facet>
            #{campaign.description}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="startTime #{campaignList.order=='startTime asc' ? messages.down : ( campaignList.order=='startTime desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{campaignList.order=='startTime asc' ? 'startTime desc' : 'startTime asc'}"/>
                </s:link>
            </f:facet>
            #{campaign.startTime}
        </h:column>
        <s:fragment rendered="false" >
	        <h:column>
    	        <f:facet name="header">action</f:facet>
        	    <s:link view="/protected/#{empty from ? 'Campaign' : from}.xhtml" 
            	       value="Select" 
                	      id="drill_campaign2">
	                <f:param name="campaignCid" 
    	                    value="#{campaign.cid}"/>
        	    </s:link>
	        </h:column>
	    </s:fragment>
        
        <s:fragment rendered="false" >
        
		    <h:column>
    	        <f:facet name="header">action</f:facet>
        	    <s:link view="/ManagedAccount.xhtml" 
                   value="Select" 
                      id="drill_account">
            	    <f:param name="accountAcctSeqid" value="#{campaign.account.acctSeqid}"/>
                	<f:param name="campaignCid" value="#{campaign.cid}"/>
	            </s:link>
    	    </h:column>
		</s:fragment>

	    <h:column>
            <f:facet name="header">action</f:facet>
            <s:link view="/ManagedCampaign.xhtml" 
                   value="Select" 
                      id="drill_campaign">
                <f:param name="accountAcctSeqid" value="#{campaign.account.acctSeqid}"/>
                <f:param name="campaignCid" value="#{campaign.cid}"/>
            </s:link>
        </h:column>
		        

    </rich:dataTable>

    </div>
    </rich:panel>

    <s:div styleClass="tableControl" rendered="#{not empty campaignList.resultList}">
		      
        <s:link view="/protected/CampaignList.xhtml" 
            rendered="#{campaignList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/CampaignList.xhtml" 
            rendered="#{campaignList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult" 
                    value="#{campaignList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/CampaignList.xhtml" 
            rendered="#{campaignList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult" 
                    value="#{campaignList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/CampaignList.xhtml" 
            rendered="#{campaignList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult" 
                    value="#{campaignList.lastFirstResult}"/>
        </s:link>
        
    </s:div>
    
    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/protected/CampaignEdit.xhtml"
                    id="create" 
                 value="Create campaign">
            <f:param name="campaignCid"/>
        </s:button>
    </s:div>
    
</ui:define>

</ui:composition>

