<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <h:form id="domainRollupSearch" styleClass="edit">
    
        <rich:simpleTogglePanel label="DomainRollup search parameters" switchType="ajax">
        
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">domainName</ui:define>
                <h:inputText id="domainName" value="#{domainRollupDetailList.domainRollup.domainName}"/>
            </s:decorate>
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">Period type (d|h)</ui:define>
                <h:inputText id="periodType" value="#{campaignPreferences.rollupType}"/>
            </s:decorate>
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">Campaign Id</ui:define>
                <h:inputText id="campaignCid" value="#{domainRollupDetailList.campaignCid}"/>
            </s:decorate>
				<s:decorate id="startDateDecorate" template="/layout/edit.xhtml">
					<ui:define name="label">Start Date</ui:define>
					<rich:calendar value="#{campaignPreferences.start}" locale="US"
						popup="true" datePattern="MM/dd/yyyy" showApplyButton="false"
						cellWidth="24px" cellHeight="22px" style="width:200px" />
				</s:decorate>
				<s:decorate id="stopDateDecorate" template="/layout/edit.xhtml">
					<ui:define name="label">End Date</ui:define>
					<rich:calendar value="#{campaignPreferences.stop}"
                        locale="US"
                        popup="true"
                        datePattern="MM/dd/yyyy"
                        showApplyButton="false" cellWidth="24px" cellHeight="22px" style="width:200px"/>
				</s:decorate>

        
        </rich:simpleTogglePanel>
        
        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/protected/DomainRollupList.xhtml"/>
        </div>
        
    </h:form>
    
    <rich:panel>
        <f:facet name="header">DomainRollup search results</f:facet>
    <div class="results" id="domainRollupList">

    <h:outputText value="No domainRollup exists" 
               rendered="#{empty domainRollupDetailList.resultList}"/>
               
    <rich:dataTable id="domainRollupList" 
                var="domainRollup"
              value="#{domainRollupDetailList.resultList}" 
           rendered="#{not empty domainRollupDetailList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="domainRollupSeqid #{domainRollupDetailList.order=='domainRollupSeqid asc' ? messages.down : ( domainRollupDetailList.order=='domainRollupSeqid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='domainRollupSeqid asc' ? 'domainRollupSeqid desc' : 'domainRollupSeqid asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.domainRollupSeqid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="campaign cid #{domainRollupDetailList.order=='campaign.cid asc' ? messages.down : ( domainRollupDetailList.order=='campaign.cid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='campaign.cid asc' ? 'campaign.cid desc' : 'campaign.cid asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.campaign.cid}
            
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="campaign name #{domainRollupDetailList.order=='campaign.name asc' ? messages.down : ( domainRollupDetailList.order=='campaign.name desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='campaign.name asc' ? 'campaign.name desc' : 'campaign.name asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.campaign.name}
        </h:column>

        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="rollupType #{domainRollupDetailList.order=='rollupType asc' ? messages.down : ( domainRollupDetailList.order=='rollupType desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='rollupType asc' ? 'rollupType desc' : 'rollupType asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.rollupType}
        </h:column>
        <!--         <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="startPeriod #{domainRollupDetailList.order=='startPeriod asc' ? messages.down : ( domainRollupDetailList.order=='startPeriod desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='startPeriod asc' ? 'startPeriod desc' : 'startPeriod asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.startPeriod}
        </h:column>
        -->
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="transDate #{domainRollupDetailList.order=='transDate asc' ? messages.down : ( domainRollupDetailList.order=='transDate desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='transDate asc' ? 'transDate desc' : 'transDate asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.transDate}
        </h:column>


        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="domainName #{domainRollupDetailList.order=='domainName asc' ? messages.down : ( domainRollupDetailList.order=='domainName desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='domainName asc' ? 'domainName desc' : 'domainName asc'}"/>
                </s:link>
            </f:facet>
<s:fragment rendered="0">
            <s:link value="All Campaigns w/#{domainRollup.domainName}">
				<f:param name="domainName" value="#{domainRollup.domainName}"/>
				<f:param name="campaignCid" />
			</s:link>

            <s:link value="Only Campaign #{domainRollup.campaign.cid}'s  #{domainRollup.domainName}">
				<f:param name="campaignCid" value="#{domainRollup.campaign.cid}"/>
				<f:param name="domainName" value="#{domainRollup.domainName}"/>
			</s:link>
</s:fragment>
            <s:link value="#{domainRollup.domainName}">
				<f:param name="domainName" value="#{domainRollup.domainName}"/>
			</s:link>

        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalClicks #{domainRollupDetailList.order=='totalClicks asc' ? messages.down : ( domainRollupDetailList.order=='totalClicks desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='totalClicks asc' ? 'totalClicks desc' : 'totalClicks asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.totalClicks}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalTx #{domainRollupDetailList.order=='totalTx asc' ? messages.down : ( domainRollupDetailList.order=='totalTx desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='totalTx asc' ? 'totalTx desc' : 'totalTx asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.totalTx}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalEmails #{domainRollupDetailList.order=='totalEmails asc' ? messages.down : ( domainRollupDetailList.order=='totalEmails desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='totalEmails asc' ? 'totalEmails desc' : 'totalEmails asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.totalEmails}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalUniqEmails #{domainRollupDetailList.order=='totalUniqEmails asc' ? messages.down : ( domainRollupDetailList.order=='totalUniqEmails desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{order=='totalUniqEmails asc' ? 'totalUniqEmails desc' : 'totalUniqEmails asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.totalUniqEmails}
        </h:column>

        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalMinutes #{domainRollupDetailList.order=='totalMinutes asc' ? messages.down : ( domainRollupDetailList.order=='totalMinutes desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='totalMinutes asc' ? 'totalMinutes desc' : 'totalMinutes asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.totalMinutes}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalPages #{domainRollupDetailList.order=='totalPages asc' ? messages.down : ( domainRollupDetailList.order=='totalPages desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='totalPages asc' ? 'totalPages desc' : 'totalPages asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.totalPages}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="totalCharges #{domainRollupDetailList.order=='totalCharges asc' ? messages.down : ( domainRollupDetailList.order=='totalCharges desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{domainRollupDetailList.order=='totalCharges asc' ? 'totalCharges desc' : 'totalCharges asc'}"/>
                </s:link>
            </f:facet>
            #{domainRollup.totalCharges}
        </h:column>        
        <h:column>
            <f:facet name="header">action</f:facet>
            <s:link value="Manage Campaign" view="/ManagedCampaign.xhtml">
				<f:param name="campaignCid" value="#{domainRollup.campaign.cid}"/>
			</s:link>		
            <s:link value="ManageAccount" view="/ManagedAccount.xhtml">
				<f:param name="accountAcctSeqid" value="#{domainRollup.campaign.account.acctSeqid}"/>
			</s:link>		
        
        </h:column>
        
    </rich:dataTable>

    </div>
    </rich:panel>
    
    <div class="tableControl">
      
        <s:link view="/protected/DomainRollupList.xhtml" 
            rendered="#{domainRollupDetailList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/DomainRollupList.xhtml" 
            rendered="#{domainRollupDetailList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult" 
                    value="#{domainRollupDetailList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/DomainRollupList.xhtml" 
            rendered="#{domainRollupDetailList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult" 
                    value="#{domainRollupDetailList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/DomainRollupList.xhtml" 
            rendered="#{domainRollupDetailList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult" 
                    value="#{domainRollupDetailList.lastFirstResult}"/>
        </s:link>
        
    </div>
    
    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/protected/DomainRollupEdit.xhtml"
                    id="create" 
                 value="Create domainRollup">
            <f:param name="domainRollupDomainRollupSeqid"/>
        </s:button>
    </s:div>
    
</ui:define>

</ui:composition>

