<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>

    <h:form id="domainRollup" styleClass="edit">
    
        <rich:panel>
            <f:facet name="header">#{domainRollupHome.managed ? 'Edit' : 'Add'} DomainRollup</f:facet>

            <s:decorate id="domainRollupSeqidDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">domainRollupSeqid</ui:define>
                <h:inputText id="domainRollupSeqid"
                       required="true"
                       disabled="#{domainRollupHome.managed}"
                          value="#{domainRollupHome.instance.domainRollupSeqid}">
                    <a:support event="onblur" reRender="domainRollupSeqidDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="rollupTypeDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">rollupType</ui:define>
                <h:inputText id="rollupType"
                       required="true"
                          value="#{domainRollupHome.instance.rollupType}">
                    <a:support event="onblur" reRender="rollupTypeDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="startPeriodDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">startPeriod</ui:define>
                <h:inputText id="startPeriod" 
                           size="16"
                       required="true"
                          value="#{domainRollupHome.instance.transDate}">
                    <s:convertDateTime type="both" dateStyle="short"/>
                    <a:support event="onblur" reRender="startPeriodDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="domainNameDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">domainName</ui:define>
                <h:inputTextarea id="domainName"
                               cols="80"
                               rows="3"
                           required="true"
                              value="#{domainRollupHome.instance.domainName}"/>
            </s:decorate>

            <s:decorate id="totalClicksDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">totalClicks</ui:define>
                <h:inputText id="totalClicks"
                       required="true"
                          value="#{domainRollupHome.instance.totalClicks}">
                    <a:support event="onblur" reRender="totalClicksDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="totalTxDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">totalTx</ui:define>
                <h:inputText id="totalTx"
                       required="true"
                          value="#{domainRollupHome.instance.totalTx}">
                    <a:support event="onblur" reRender="totalTxDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="totalEmailsDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">totalEmails</ui:define>
                <h:inputText id="totalEmails"
                       required="true"
                          value="#{domainRollupHome.instance.totalEmails}">
                    <a:support event="onblur" reRender="totalEmailsDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="totalUniqEmailsDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">totalUniqEmails</ui:define>
                <h:inputText id="totalUniqEmails"
                       required="true"
                          value="#{domainRollupHome.instance.totalUniqEmails}">
                    <a:support event="onblur" reRender="totalUniqEmailsDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
        
            <div style="clear:both">
                <span class="required">*</span> 
                required fields
            </div>
            
        </rich:panel>
                
        <div class="actionButtons">

            <h:commandButton id="save" 
                          value="Save" 
                         action="#{domainRollupHome.persist}"
                       disabled="#{!domainRollupHome.wired}"
                       rendered="#{!domainRollupHome.managed}"/>  
                          			  
            <h:commandButton id="update" 
                          value="Save" 
                         action="#{domainRollupHome.update}"
                       rendered="#{domainRollupHome.managed}"/>
                        			  
            <h:commandButton id="delete" 
                          value="Delete" 
                         action="#{domainRollupHome.remove}"
                       rendered="#{domainRollupHome.managed}"/>
                    
            <s:button id="done" 
                   value="Done"
             propagation="end"
                    view="/protected/DomainRollup.xhtml"
                rendered="#{domainRollupHome.managed}"/>
                
            <s:button id="cancel" 
                   value="Cancel"
             propagation="end"
                    view="/protected/#{empty domainRollupFrom ? 'DomainRollupList' : domainRollupFrom}.xhtml"
                rendered="#{!domainRollupHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">
    
    <rich:tab label="campaign *" labelClass="required">
    <div class="association" id="campaignParent">
    
        <h:outputText value="No campaign" 
                   rendered="#{domainRollupHome.instance.campaign == null}"/>
        
        <rich:dataTable var="campaign" 
                   value="#{domainRollupHome.instance.campaign}" 
                rendered="#{domainRollupHome.instance.campaign != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="campaignTable">
            <h:column>
                <f:facet name="header">cid</f:facet>
                #{campaign.cid}
            </h:column>
            <h:column>
	    	    <f:facet name="header">account acctSeqid</f:facet>
		    	#{campaign.account.acctSeqid}
            </h:column>
            <h:column>
                <f:facet name="header">publicId</f:facet>
                #{campaign.publicId}
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                #{campaign.name}
            </h:column>
            <h:column>
                <f:facet name="header">description</f:facet>
                #{campaign.description}
            </h:column>
            <h:column>
                <f:facet name="header">startTime</f:facet>
                #{campaign.startTime}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link view="/protected/Campaign.xhtml" 
                         id="viewcampaign" 
                      value="View" 
                propagation="none">
                    <f:param name="campaignCid" 
                           value="#{campaign.cid}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button value="Select campaign"
                       view="/protected/CampaignList.xhtml">
                <f:param name="from" value="DomainRollupEdit"/>
            </s:button>
        </div>
        
    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
