<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>

    <h:form id="emailAddresses" styleClass="edit">
    
        <rich:panel>
            <f:facet name="header">#{emailAddressesHome.managed ? 'Edit' : 'Add'} EmailAddresses</f:facet>

            <s:decorate id="emailSeqidDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">emailSeqid</ui:define>
                <h:inputText id="emailSeqid"
                       required="true"
                       disabled="#{emailAddressesHome.managed}"
                          value="#{emailAddressesHome.instance.emailSeqid}">
                    <a:support event="onblur" reRender="emailSeqidDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="emailAddressDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">emailAddress</ui:define>
                <h:inputText id="emailAddress" 
                       required="true"
                           size="60"
                      maxlength="60"
                          value="#{emailAddressesHome.instance.emailAddress}">
                    <a:support event="onblur" reRender="emailAddressDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="md5Decoration" template="/layout/edit.xhtml">
                <ui:define name="label">md5</ui:define>
                <h:inputText id="md5" 
                           size="64"
                      maxlength="64"
                          value="#{emailAddressesHome.instance.md5}">
                    <a:support event="onblur" reRender="md5Decoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
        
            <div style="clear:both">
                <span class="required">*</span> 
                required fields
            </div>
            
        </rich:panel>
                
        <div class="actionButtons">

            <h:commandButton id="save" 
                          value="Save" 
                         action="#{emailAddressesHome.persist}"
                       disabled="#{!emailAddressesHome.wired}"
                       rendered="#{!emailAddressesHome.managed}"/>  
                          			  
            <h:commandButton id="update" 
                          value="Save" 
                         action="#{emailAddressesHome.update}"
                       rendered="#{emailAddressesHome.managed}"/>
                        			  
            <h:commandButton id="delete" 
                          value="Delete" 
                         action="#{emailAddressesHome.remove}"
                       rendered="#{emailAddressesHome.managed}"/>
                    
            <s:button id="done" 
                   value="Done"
             propagation="end"
                    view="/protected/EmailAddresses.xhtml"
                rendered="#{emailAddressesHome.managed}"/>
                
            <s:button id="cancel" 
                   value="Cancel"
             propagation="end"
                    view="/protected/#{empty emailAddressesFrom ? 'EmailAddressesList' : emailAddressesFrom}.xhtml"
                rendered="#{!emailAddressesHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">


    <rich:tab label="addressbooks">
        <div class="association" id="addressbooksChildren">
        
            <h:outputText value="No addressbooks" 
                       rendered="#{empty emailAddressesHome.addressbooks}"/>
        
            <rich:dataTable value="#{emailAddressesHome.addressbooks}" 
                           var="addressbook" 
                      rendered="#{not empty emailAddressesHome.addressbooks}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="addressbooksTable">
                <h:column>
                    <f:facet name="header">userRef</f:facet>
                    #{addressbook.id.userRef}
                </h:column>
                <h:column>
                    <f:facet name="header">emailRef</f:facet>
                    #{addressbook.id.emailRef}
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/Addressbook.xhtml" 
                              id="selectaddressbook" 
                           value="Select"
                     propagation="none">
                        <f:param name="addressbookUserRef" 
                                value="#{addressbook.id.userRef}"/>
                        <f:param name="addressbookEmailRef" 
                                value="#{addressbook.id.emailRef}"/>
                        <f:param name="addressbookFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="addressbooks">
        <div class="actionButtons">
            <s:button id="addaddressbook" 
                   value="Add addressbook"
                    view="/protected/AddressbookEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="addressbookFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="reservationEmailses">
        <div class="association" id="reservationEmailsesChildren">
        
            <h:outputText value="No reservationEmailses" 
                       rendered="#{empty emailAddressesHome.reservationEmailses}"/>
        
            <rich:dataTable value="#{emailAddressesHome.reservationEmailses}" 
                           var="reservationEmails" 
                      rendered="#{not empty emailAddressesHome.reservationEmailses}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="reservationEmailsesTable">
                <h:column>
                    <f:facet name="header">reservationEmailSeqid</f:facet>
                    <h:outputText value="#{reservationEmails.reservationEmailSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">emailType</f:facet>
                    <h:outputText value="#{reservationEmails.emailType}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/ReservationEmails.xhtml" 
                              id="selectreservationEmails" 
                           value="Select"
                     propagation="none">
                        <f:param name="reservationEmailsReservationEmailSeqid" 
                                value="#{reservationEmails.reservationEmailSeqid}"/>
                        <f:param name="reservationEmailsFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="reservationEmailses">
        <div class="actionButtons">
            <s:button id="addreservationEmails" 
                   value="Add reservationEmails"
                    view="/protected/ReservationEmailsEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="reservationEmailsFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="cookieses">
        <div class="association" id="cookiesesChildren">
        
            <h:outputText value="No cookieses" 
                       rendered="#{empty emailAddressesHome.cookieses}"/>
        
            <rich:dataTable value="#{emailAddressesHome.cookieses}" 
                           var="cookies" 
                      rendered="#{not empty emailAddressesHome.cookieses}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="cookiesesTable">
                <h:column>
                    <f:facet name="header">cookieSeqid</f:facet>
                    <h:outputText value="#{cookies.cookieSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">opaque</f:facet>
                    <h:outputText value="#{cookies.opaque}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">expires</f:facet>
                    <h:outputText value="#{cookies.expires}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/Cookies.xhtml" 
                              id="selectcookies" 
                           value="Select"
                     propagation="none">
                        <f:param name="cookiesCookieSeqid" 
                                value="#{cookies.cookieSeqid}"/>
                        <f:param name="cookiesFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="cookieses">
        <div class="actionButtons">
            <s:button id="addcookies" 
                   value="Add cookies"
                    view="/protected/CookiesEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="cookiesFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="referralses" rendered="false">
        <div class="association" id="referralsesChildren">
        
            <h:outputText value="No referralses" 
                       rendered="#{empty emailAddressesHome.referralses}"/>
        
            <rich:dataTable value="#{emailAddressesHome.referralses}" 
                           var="referrals" 
                      rendered="#{not empty emailAddressesHome.referralses}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="referralsesTable">
                <h:column>
                    <f:facet name="header">referralSeqid</f:facet>
                    <h:outputText value="#{referrals.referralSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">enterpriseXid</f:facet>
                    <h:outputText value="#{referrals.enterpriseXid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">reftype</f:facet>
                    <h:outputText value="#{referrals.reftype}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">referralDate</f:facet>
                    <h:outputText value="#{referrals.referralDate}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/Referrals.xhtml" 
                              id="selectreferrals" 
                           value="Select"
                     propagation="none">
                        <f:param name="referralsReferralSeqid" 
                                value="#{referrals.referralSeqid}"/>
                        <f:param name="referralsFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="referralses">
        <div class="actionButtons">
            <s:button id="addreferrals" 
                   value="Add referrals"
                    view="/protected/ReferralsEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="referralsFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="bounceses">
        <div class="association" id="bouncesesChildren">
        
            <h:outputText value="No bounceses" 
                       rendered="#{empty emailAddressesHome.bounceses}"/>
        
            <rich:dataTable value="#{emailAddressesHome.bounceses}" 
                           var="bounces" 
                      rendered="#{not empty emailAddressesHome.bounceses}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="bouncesesTable">
                <h:column>
                    <f:facet name="header">bounceSeqid</f:facet>
                    <h:outputText value="#{bounces.bounceSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">fromEmailRef</f:facet>
                    <h:outputText value="#{bounces.fromEmailRef}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">bounceProcessed</f:facet>
                    <h:outputText value="#{bounces.bounceProcessed}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">data</f:facet>
                    <h:outputText value="#{bounces.data}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/Bounces.xhtml" 
                              id="selectbounces" 
                           value="Select"
                     propagation="none">
                        <f:param name="bouncesBounceSeqid" 
                                value="#{bounces.bounceSeqid}"/>
                        <f:param name="bouncesFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="bounceses">
        <div class="actionButtons">
            <s:button id="addbounces" 
                   value="Add bounces"
                    view="/protected/BouncesEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="bouncesFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="userses">
        <div class="association" id="usersesChildren">
        
            <h:outputText value="No userses" 
                       rendered="#{empty emailAddressesHome.userses}"/>
        
            <rich:dataTable value="#{emailAddressesHome.userses}" 
                           var="users" 
                      rendered="#{not empty emailAddressesHome.userses}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="usersesTable">
                <h:column>
                    <f:facet name="header">userSeqid</f:facet>
                    <h:outputText value="#{users.userSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">screenId</f:facet>
                    <h:outputText value="#{users.screenId}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">password</f:facet>
                    <h:outputText value="#{users.password}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">created</f:facet>
                    <h:outputText value="#{users.created}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">verified</f:facet>
                    <h:outputText value="#{users.verified}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">hintAnswer</f:facet>
                    <h:outputText value="#{users.hintAnswer}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">active</f:facet>
                    <h:outputText value="#{users.active}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">userName</f:facet>
                    <h:outputText value="#{users.userName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/Users.xhtml" 
                              id="selectusers" 
                           value="Select"
                     propagation="none">
                        <f:param name="usersUserSeqid" 
                                value="#{users.userSeqid}"/>
                        <f:param name="usersFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="userses">
        <div class="actionButtons">
            <s:button id="addusers" 
                   value="Add users"
                    view="/protected/UsersEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="usersFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="signupses">
        <div class="association" id="signupsesChildren">
        
            <h:outputText value="No signupses" 
                       rendered="#{empty emailAddressesHome.instance.signupses}"/>
        
            <rich:dataTable value="#{emailAddressesHome.instance.signupses}" 
                           var="signups" 
                      rendered="#{not empty emailAddressesHome.instance.signupses}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="signupsesTable">
                <h:column>
                    <f:facet name="header">signupSeqid</f:facet>
                    <h:outputText value="#{signups.signupSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">userName</f:facet>
                    <h:outputText value="#{signups.userName}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">md5</f:facet>
                    <h:outputText value="#{signups.md5}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">domain</f:facet>
                    <h:outputText value="#{signups.domain}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">confirmSent</f:facet>
                    <h:outputText value="#{signups.confirmSent}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">confirmExpires</f:facet>
                    <h:outputText value="#{signups.confirmExpires}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">hintAnswer</f:facet>
                    <h:outputText value="#{signups.hintAnswer}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">password</f:facet>
                    <h:outputText value="#{signups.password}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/Signups.xhtml" 
                              id="selectsignups" 
                           value="Select"
                     propagation="none">
                        <f:param name="signupsSignupSeqid" 
                                value="#{signups.signupSeqid}"/>
                        <f:param name="signupsFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="signupses">
        <div class="actionButtons">
            <s:button id="addsignups" 
                   value="Add signups"
                    view="/protected/SignupsEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="signupsFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="smtpPieces">
        <div class="association" id="smtpPiecesChildren">
        
            <h:outputText value="No smtpPieces" 
                       rendered="#{empty emailAddressesHome.smtpPieces}"/>
        
            <rich:dataTable value="#{emailAddressesHome.smtpPieces}" 
                           var="smtpPiece" 
                      rendered="#{not empty emailAddressesHome.smtpPieces}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="smtpPiecesTable">
                <h:column>
                    <f:facet name="header">smtpPieceSeqid</f:facet>
                    <h:outputText value="#{smtpPiece.smtpPieceSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">subXid</f:facet>
                    <h:outputText value="#{smtpPiece.subXid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">fromRef</f:facet>
                    <h:outputText value="#{smtpPiece.fromRef}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/SmtpPiece.xhtml" 
                              id="selectsmtpPiece" 
                           value="Select"
                     propagation="none">
                        <f:param name="smtpPieceSmtpPieceSeqid" 
                                value="#{smtpPiece.smtpPieceSeqid}"/>
                        <f:param name="smtpPieceFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="smtpPieces">
        <div class="actionButtons">
            <s:button id="addsmtpPiece" 
                   value="Add smtpPiece"
                    view="/protected/SmtpPieceEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="smtpPieceFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>


    <rich:tab label="suggestions">
        <div class="association" id="suggestionsChildren">
        
            <h:outputText value="No suggestions" 
                       rendered="#{empty emailAddressesHome.instance.suggestions}"/>
        
            <rich:dataTable value="#{emailAddressesHome.instance.suggestions}" 
                           var="suggestion" 
                      rendered="#{not empty emailAddressesHome.instance.suggestions}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="suggestionsTable">
                <h:column>
                    <f:facet name="header">suggestSeqid</f:facet>
                    <h:outputText value="#{suggestion.suggestSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">submittal</f:facet>
                    <h:outputText value="#{suggestion.submittal}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">thecomment</f:facet>
                    <h:outputText value="#{suggestion.thecomment}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">wasread</f:facet>
                    <h:outputText value="#{suggestion.wasread}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">importance</f:facet>
                    <h:outputText value="#{suggestion.importance}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">state</f:facet>
                    <h:outputText value="#{suggestion.state}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">name</f:facet>
                    <h:outputText value="#{suggestion.name}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">phone</f:facet>
                    <h:outputText value="#{suggestion.phone}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">allowPublish</f:facet>
                    <h:outputText value="#{suggestion.allowPublish}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/Suggestion.xhtml" 
                              id="selectsuggestion" 
                           value="Select"
                     propagation="none">
                        <f:param name="suggestionSuggestSeqid" 
                                value="#{suggestion.suggestSeqid}"/>
                        <f:param name="suggestionFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="suggestions">
        <div class="actionButtons">
            <s:button id="addsuggestion" 
                   value="Add suggestion"
                    view="/protected/SuggestionEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="suggestionFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="reservations">
        <div class="association" id="reservationsChildren">
        
            <h:outputText value="No reservations" 
                       rendered="#{empty emailAddressesHome.reservations}"/>
        
            <rich:dataTable value="#{emailAddressesHome.reservations}" 
                           var="reservation" 
                      rendered="#{not empty emailAddressesHome.reservations}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="reservationsTable">
                <h:column>
                    <f:facet name="header">rid</f:facet>
                    <h:outputText value="#{reservation.rid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">publicRid</f:facet>
                    <h:outputText value="#{reservation.publicRid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">ridDate</f:facet>
                    <h:outputText value="#{reservation.ridDate}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">expires</f:facet>
                    <h:outputText value="#{reservation.expires}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">networkAddress</f:facet>
                    <h:outputText value="#{reservation.networkAddress}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">lead</f:facet>
                    <h:outputText value="#{reservation.lead}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">parentrid</f:facet>
                    <h:outputText value="#{reservation.parentrid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/Reservation.xhtml" 
                              id="selectreservation" 
                           value="Select"
                     propagation="none">
                        <f:param name="reservationRid" 
                                value="#{reservation.rid}"/>
                        <f:param name="reservationFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="reservations">
        <div class="actionButtons">
            <s:button id="addreservation" 
                   value="Add reservation"
                    view="/protected/ReservationEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="reservationFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="notifylists">
        <div class="association" id="notifylistsChildren">
        
            <h:outputText value="No notifylists" 
                       rendered="#{empty emailAddressesHome.instance.notifylists}"/>
        
            <rich:dataTable value="#{emailAddressesHome.instance.notifylists}" 
                           var="notifylist" 
                      rendered="#{not empty emailAddressesHome.instance.notifylists}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="notifylistsTable">
                <h:column>
                    <f:facet name="header">notifySeqid</f:facet>
                    <h:outputText value="#{notifylist.notifySeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/Notifylist.xhtml" 
                              id="selectnotifylist" 
                           value="Select"
                     propagation="none">
                        <f:param name="notifylistNotifySeqid" 
                                value="#{notifylist.notifySeqid}"/>
                        <f:param name="notifylistFrom" value="EmailAddresses"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{emailAddressesHome.managed}" id="notifylists">
        <div class="actionButtons">
            <s:button id="addnotifylist" 
                   value="Add notifylist"
                    view="/protected/NotifylistEdit.xhtml"
             propagation="none">
                 <f:param name="emailAddressesEmailSeqid" 
                         value="#{emailAddressesHome.instance.emailSeqid}"/>
                 <f:param name="notifylistFrom" value="EmailAddresses"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
