<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <h:form id="emailAddressesSearch" styleClass="edit">
    
        <rich:simpleTogglePanel label="EmailAddresses search parameters" switchType="ajax">
        
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">emailAddress</ui:define>
                <h:inputText id="emailAddress" value="#{emailAddressesList.emailAddresses.emailAddress}"/>
            </s:decorate>

            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">md5</ui:define>
                <h:inputText id="md5" value="#{emailAddressesList.emailAddresses.md5}"/>
            </s:decorate>

        
        </rich:simpleTogglePanel>
        
        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/protected/EmailAddressesList.xhtml"/>
        </div>
        
    </h:form>
    
    <rich:panel>
        <f:facet name="header">EmailAddresses search results</f:facet>
    <div class="results" id="emailAddressesList">

    <h:outputText value="No emailAddresses exists" 
               rendered="#{empty emailAddressesList.resultList}"/>
               
    <rich:dataTable id="emailAddressesList" 
                var="emailAddresses"
              value="#{emailAddressesList.resultList}" 
           rendered="#{not empty emailAddressesList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="emailSeqid #{emailAddressesList.order=='emailSeqid asc' ? messages.down : ( emailAddressesList.order=='emailSeqid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{emailAddressesList.order=='emailSeqid asc' ? 'emailSeqid desc' : 'emailSeqid asc'}"/>
                </s:link>
            </f:facet>
            #{emailAddresses.emailSeqid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="emailAddress #{emailAddressesList.order=='emailAddress asc' ? messages.down : ( emailAddressesList.order=='emailAddress desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{emailAddressesList.order=='emailAddress asc' ? 'emailAddress desc' : 'emailAddress asc'}"/>
                </s:link>
            </f:facet>
            #{emailAddresses.emailAddress}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="md5 #{emailAddressesList.order=='md5 asc' ? messages.down : ( emailAddressesList.order=='md5 desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{emailAddressesList.order=='md5 asc' ? 'md5 desc' : 'md5 asc'}"/>
                </s:link>
            </f:facet>
            #{emailAddresses.md5}
        </h:column>
        <h:column>
            <f:facet name="header">action</f:facet>
            <s:link view="/protected/#{empty from ? 'EmailAddresses' : from}.xhtml" 
                   value="Select" 
                      id="emailAddresses">
                <f:param name="emailAddressesEmailSeqid" 
                        value="#{emailAddresses.emailSeqid}"/>
            </s:link>
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>
    
    <div class="tableControl">
      
        <s:link view="/protected/EmailAddressesList.xhtml" 
            rendered="#{emailAddressesList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/EmailAddressesList.xhtml" 
            rendered="#{emailAddressesList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult" 
                    value="#{emailAddressesList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/EmailAddressesList.xhtml" 
            rendered="#{emailAddressesList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult" 
                    value="#{emailAddressesList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/EmailAddressesList.xhtml" 
            rendered="#{emailAddressesList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult" 
                    value="#{emailAddressesList.lastFirstResult}"/>
        </s:link>
        
    </div>
    
    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/protected/EmailAddressesEdit.xhtml"
                    id="create" 
                 value="Create emailAddresses">
            <f:param name="emailAddressesEmailSeqid"/>
        </s:button>
    </s:div>
    
</ui:define>

</ui:composition>

