<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                template="/layout/template-openlayers.xhtml">


<ui:define name="body">


<!--  body -->
    <h:messages globalOnly="true" styleClass="message"/>
    
    <rich:panel>
    <f:facet name="header">Welcome</f:facet>
    <p>Check your Advertising Campaign. Including:</p>
    <ul>
		<li>Interactive Graphs</li>
		<li>Interactive Heatmaps by Account, Campaign</li>
        <li>Rollups by Sender Area Code</li>
        <li>PDF/Excel Reports </li>

    </ul>
    <rich:tabPanel switchType="ajax"  rendered="#{identity.loggedIn &amp;&amp; (not empty currentUser.accountUserses or s:hasRole('admin') or s:hasRole('engineering') or s:hasRole('support') or s:hasRole('accounting'))}">

    <rich:tab label="Overall Campaign Heatmap">


		<ui:include src="../WEB-INF/geolayer.xhtml" >
	        <ui:param name="baseLayerURL" value="#{geoserverPath}/layer/renderer/states"/>
			<ui:param name="baseLayerName" value="topp:JustAnOutline" />
		
    	    <ui:param name="drillableLayerURL" value="#{geoserverPath}/layer/allAccounts"/>
			<ui:param name="drillableLayerName" value="mongonet:areacode_overall_" />
		
			<ui:param name="queryLayer" value="mongonet:areacode_account_" />
			<ui:param name="drillTarget" value="#{geoserverPath}/feature/drillAllAccounts-" />

			<ui:param name="mapWidth" value="800" />
			<ui:param name="mapHeight" value="364" />

		</ui:include>
		

  		<ui:include src="../WEB-INF/geo_layout.xhtml">
			<ui:param name="LegendLayer" value="mongonet:areacode_account_30day" />
		</ui:include>    
		
    	<s:fragment rendered="#{identity.loggedIn &amp;&amp; empty currentUser.accountUserses}">
    		<div style="font-size:15px;">
    			This user has no associated account.
    		</div>
    	</s:fragment>
    </rich:tab>
    <rich:tab label="Non Campaign Heatmap">

		<ui:include src="../WEB-INF/geolayer.xhtml" >
	        <ui:param name="baseLayerURL" value="#{geoserverPath}/layer/renderer/states"/>
			<ui:param name="baseLayerName" value="topp:JustAnOutline" />
		
    	    <ui:param name="drillableLayerURL" value="#{geoserverPath}/layer/allAccounts"/>
			<ui:param name="drillableLayerName" value="mongonet:areacode_overall_o_" />
		
			<ui:param name="queryLayer" value="mongonet:areacode_account_o_" />
			<ui:param name="drillTarget" value="#{geoserverPath}/feature/drillAllAccounts-" />

			<ui:param name="mapWidth" value="800" />
			<ui:param name="mapHeight" value="364" />

		</ui:include>
		

  		<ui:include src="../WEB-INF/geo_layout.xhtml">
			<ui:param name="LegendLayer" value="mongonet:areacode_account_30day" />
		</ui:include>    

	</rich:tab>    	
	</rich:tabPanel>
    </rich:panel>
    
</ui:define> 
</ui:composition>
