<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    <script type="text/javascript" src="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/js/jquery/jquery.js"></script>
    <script type="text/javascript" src="#{facesContext.externalContext.request.scheme}://#{facesContext.externalContext.request.serverName}:#{facesContext.externalContext.request.serverPort}#{facesContext.externalContext.request.contextPath}/js/dump.js"></script>

	<script  type="text/javascript">
        jQuery.noConflict();
        jQuery(document).ready(function(){
            	init();})
            	
		function init()
		{
//			var obj = jQuery('input:text[id*=acctSeqid]');
//			alert('start: ' + obj.attr('id') + ' ' 
//				+ obj.val());
				
			jQuery("#accountSearch").submit( function() {

				var obj = jQuery('input:text[id*=acctSeqid]');
				
				if (obj.val() == null || obj.val().length == 0)
				{
					obj.val(0);
					return true;
				}
				else
				{
					return true;
				}
			})
		}
	</script>
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>

       <s:decorate id="userSeqid" template="/layout/display.xhtml">
       </s:decorate>
    
    <h:form id="accountSearch" styleClass="edit">
    
        <rich:simpleTogglePanel label="Account search parameters" switchType="ajax">

            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">Acct#</ui:define>
                <h:inputText id="acctSeqid" value="#{accountList.account.acctSeqid}"  autocomplete="off"/>
            </s:decorate>
        
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">companyName</ui:define>
                <h:inputText id="companyName" value="#{accountList.account.companyName}" autocomplete="off"/>
            </s:decorate>

        
        </rich:simpleTogglePanel>
        
        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="LinkAcct.xhtml"/>
        </div>
        
    </h:form>

    <s:div styleClass="tableControl" rendered="#{not empty accountList.resultList}">
      
        <s:link view="/protected/LinkAcct.xhtml" 
            rendered="#{accountList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage_top">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/LinkAcct.xhtml" 
            rendered="#{accountList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage_top">
            <f:param name="firstResult" 
                    value="#{accountList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/LinkAcct.xhtml" 
            rendered="#{accountList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage_top">
            <f:param name="firstResult" 
                    value="#{accountList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/LinkAcct.xhtml" 
            rendered="#{accountList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage_top">
            <f:param name="firstResult" 
                    value="#{accountList.lastFirstResult}"/>
        </s:link>
        
    </s:div>
    
    <rich:panel>
        <f:facet name="header">Account search results</f:facet>
    <div class="results" id="accountList">

    <h:outputText value="No account exists" 
               rendered="#{empty accountList.resultList}"/>
               
    <rich:dataTable id="accountList" 
                var="account"
              value="#{accountList.resultList}" 
           rendered="#{not empty accountList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="Acct# #{accountList.order=='acctSeqid asc' ? messages.down : ( accountList.order=='acctSeqid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{accountList.order=='acctSeqid asc' ? 'acctSeqid desc' : 'acctSeqid asc'}"/>
                </s:link>
            </f:facet>
            #{account.acctSeqid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="Company Name #{accountList.order=='companyName asc' ? messages.down : ( accountList.order=='companyName desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{accountList.order=='companyName asc' ? 'companyName desc' : 'companyName asc'}"/>
                </s:link>
            </f:facet>
            #{account.companyName}
        </h:column>
        <h:column>
            <f:facet name="header">action</f:facet>
            <s:link view="/ManagedAccount.xhtml" 
                   value="Manage" 
                      id="account">
                <f:param name="accountAcctSeqid" 
                        value="#{account.acctSeqid}"/>
                <f:param name="accountFrom" value="protected/LinkAcct" />
            </s:link>
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>
    
    <s:div styleClass="tableControl" rendered="#{not empty accountList.resultList}">
      
        <s:link view="/protected/LinkAcct.xhtml" 
            rendered="#{accountList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/LinkAcct.xhtml" 
            rendered="#{accountList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult" 
                    value="#{accountList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/LinkAcct.xhtml" 
            rendered="#{accountList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult" 
                    value="#{accountList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/LinkAcct.xhtml" 
            rendered="#{accountList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult" 
                    value="#{accountList.lastFirstResult}"/>
        </s:link>
        
    </s:div>
    
    
        <s:button view="/protected/#{empty from ? 'home' : from}.xhtml"
                    id="done"
                 value="Done"/>


</ui:define>

</ui:composition>

