<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <rich:panel>
        <f:facet name="header">Url</f:facet>

        <s:decorate id="urlSeqid" template="/layout/display.xhtml">
            <ui:define name="label">urlSeqid</ui:define>
            #{urlHome.instance.urlSeqid}
        </s:decorate>

        <s:decorate id="url" template="/layout/display.xhtml">
            <ui:define name="label">url</ui:define>
            #{urlHome.instance.url}
        </s:decorate>

        <s:decorate id="data" template="/layout/display.xhtml">
            <ui:define name="label">data</ui:define>
            #{urlHome.instance.data}
        </s:decorate>

        <s:decorate id="istransient" template="/layout/display.xhtml">
            <ui:define name="label">istransient</ui:define>
            #{urlHome.instance.istransient}
        </s:decorate>

        <s:decorate id="isencrypted" template="/layout/display.xhtml">
            <ui:define name="label">isencrypted</ui:define>
            #{urlHome.instance.isencrypted}
        </s:decorate>

        <div style="clear:both"/>
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/protected/UrlEdit.xhtml" 
                    id="edit" 
                 value="Edit"/>

        <s:button view="/protected/#{empty urlFrom ? 'UrlList' : urlFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab label="urlLists">
    <div class="association" id="urlListsChildren">
        
        <h:outputText value="No urlLists" 
                   rendered="#{empty urlHome.urlLists}"/>
        
        <rich:dataTable value="#{urlHome.urlLists}" 
                       var="urlList" 
                  rendered="#{not empty urlHome.urlLists}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="urlListsTable">
            <h:column>
                <f:facet name="header">ulistSeqid</f:facet>
                <h:outputText value="#{urlList.ulistSeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">listType</f:facet>
                <h:outputText value="#{urlList.listType}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selecturlList" 
                     value="Select" 
                      view="/protected/UrlList.xhtml">
                    <f:param name="urlListUlistSeqid" 
                            value="#{urlList.ulistSeqid}"/>
                    <f:param name="urlListFrom" value="Url"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add urlList"
                view="/protected/UrlListEdit.xhtml">
            <f:param name="urlUrlSeqid" 
                    value="#{urlHome.instance.urlSeqid}"/>
            <f:param name="urlListFrom" value="Url"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="ecpTrackers">
    <div class="association" id="ecpTrackersChildren">
        
        <h:outputText value="No ecpTrackers" 
                   rendered="#{empty urlHome.ecpTrackers}"/>
        
        <rich:dataTable value="#{urlHome.ecpTrackers}" 
                       var="ecpTracker" 
                  rendered="#{not empty urlHome.ecpTrackers}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="ecpTrackersTable">
            <h:column>
                <f:facet name="header">missingEcpSeqid</f:facet>
                <h:outputText value="#{ecpTracker.missingEcpSeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">confirmedEcp</f:facet>
                <h:outputText value="#{ecpTracker.confirmedEcp}"/>
            </h:column>
            <h:column>
                <f:facet name="header">captured</f:facet>
                <h:outputText value="#{ecpTracker.captured}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectecpTracker" 
                     value="Select" 
                      view="/protected/EcpTracker.xhtml">
                    <f:param name="ecpTrackerMissingEcpSeqid" 
                            value="#{ecpTracker.missingEcpSeqid}"/>
                    <f:param name="ecpTrackerFrom" value="Url"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add ecpTracker"
                view="/protected/EcpTrackerEdit.xhtml">
            <f:param name="urlUrlSeqid" 
                    value="#{urlHome.instance.urlSeqid}"/>
            <f:param name="ecpTrackerFrom" value="Url"/>
        </s:button>
    </div>        
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
