<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>

    <h:form id="url" styleClass="edit">
    
        <rich:panel>
            <f:facet name="header">#{urlHome.managed ? 'Edit' : 'Add'} Url</f:facet>

            <s:decorate id="urlSeqidDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">urlSeqid</ui:define>
                <h:inputText id="urlSeqid"
                       required="true"
                       disabled="#{urlHome.managed}"
                          value="#{urlHome.instance.urlSeqid}">
                    <a:support event="onblur" reRender="urlSeqidDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="urlDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">url</ui:define>
                <h:inputTextarea id="url"
                               cols="80"
                               rows="3"
                           required="true"
                              value="#{urlHome.instance.url}"/>
            </s:decorate>

            <s:decorate id="dataDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">data</ui:define>
                <h:inputText id="data"
                          value="#{urlHome.instance.data}">
                    <a:support event="onblur" reRender="dataDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="istransientDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">istransient</ui:define>
                <h:inputText id="istransient"
                          value="#{urlHome.instance.istransient}">
                    <a:support event="onblur" reRender="istransientDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="isencryptedDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">isencrypted</ui:define>
                <h:inputText id="isencrypted"
                          value="#{urlHome.instance.isencrypted}">
                    <a:support event="onblur" reRender="isencryptedDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
        
            <div style="clear:both">
                <span class="required">*</span> 
                required fields
            </div>
            
        </rich:panel>
                
        <div class="actionButtons">

            <h:commandButton id="save" 
                          value="Save" 
                         action="#{urlHome.persist}"
                       disabled="#{!urlHome.wired}"
                       rendered="#{!urlHome.managed}"/>  
                          			  
            <h:commandButton id="update" 
                          value="Save" 
                         action="#{urlHome.update}"
                       rendered="#{urlHome.managed}"/>
                        			  
            <h:commandButton id="delete" 
                          value="Delete" 
                         action="#{urlHome.remove}"
                       rendered="#{urlHome.managed}"/>
                    
            <s:button id="done" 
                   value="Done"
             propagation="end"
                    view="/protected/Url.xhtml"
                rendered="#{urlHome.managed}"/>
                
            <s:button id="cancel" 
                   value="Cancel"
             propagation="end"
                    view="/protected/#{empty urlFrom ? 'UrlList' : urlFrom}.xhtml"
                rendered="#{!urlHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">

    <rich:tab label="urlLists">
        <div class="association" id="urlListsChildren">
        
            <h:outputText value="No urlLists" 
                       rendered="#{empty urlHome.urlLists}"/>
        
            <rich:dataTable value="#{urlHome.urlLists}" 
                           var="urlList" 
                      rendered="#{not empty urlHome.urlLists}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="urlListsTable">
                <h:column>
                    <f:facet name="header">ulistSeqid</f:facet>
                    <h:outputText value="#{urlList.ulistSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">listType</f:facet>
                    <h:outputText value="#{urlList.listType}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/UrlList.xhtml" 
                              id="selecturlList" 
                           value="Select"
                     propagation="none">
                        <f:param name="urlListUlistSeqid" 
                                value="#{urlList.ulistSeqid}"/>
                        <f:param name="urlListFrom" value="Url"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{urlHome.managed}" id="urlLists">
        <div class="actionButtons">
            <s:button id="addurlList" 
                   value="Add urlList"
                    view="/protected/UrlListEdit.xhtml"
             propagation="none">
                 <f:param name="urlUrlSeqid" 
                         value="#{urlHome.instance.urlSeqid}"/>
                 <f:param name="urlListFrom" value="Url"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>

    <rich:tab label="ecpTrackers">
        <div class="association" id="ecpTrackersChildren">
        
            <h:outputText value="No ecpTrackers" 
                       rendered="#{empty urlHome.ecpTrackers}"/>
        
            <rich:dataTable value="#{urlHome.ecpTrackers}" 
                           var="ecpTracker" 
                      rendered="#{not empty urlHome.ecpTrackers}" 
                    rowClasses="rvgRowOne,rvgRowTwo"
                            id="ecpTrackersTable">
                <h:column>
                    <f:facet name="header">missingEcpSeqid</f:facet>
                    <h:outputText value="#{ecpTracker.missingEcpSeqid}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">confirmedEcp</f:facet>
                    <h:outputText value="#{ecpTracker.confirmedEcp}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">captured</f:facet>
                    <h:outputText value="#{ecpTracker.captured}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">action</f:facet>
                    <s:link view="/protected/EcpTracker.xhtml" 
                              id="selectecpTracker" 
                           value="Select"
                     propagation="none">
                        <f:param name="ecpTrackerMissingEcpSeqid" 
                                value="#{ecpTracker.missingEcpSeqid}"/>
                        <f:param name="ecpTrackerFrom" value="Url"/>
                    </s:link>
                </h:column>
            </rich:dataTable>
        
        </div>
          
        <f:subview rendered="#{urlHome.managed}" id="ecpTrackers">
        <div class="actionButtons">
            <s:button id="addecpTracker" 
                   value="Add ecpTracker"
                    view="/protected/EcpTrackerEdit.xhtml"
             propagation="none">
                 <f:param name="urlUrlSeqid" 
                         value="#{urlHome.instance.urlSeqid}"/>
                 <f:param name="ecpTrackerFrom" value="Url"/>
            </s:button>
        </div>
        </f:subview>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
