<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>

    <h:form id="urlList" styleClass="edit">
    
        <rich:panel>
            <f:facet name="header">#{urlListHome.managed ? 'Edit' : 'Add'} UrlList</f:facet>

            <s:decorate id="ulistSeqidDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">ulistSeqid</ui:define>
                <h:inputText id="ulistSeqid"
                       required="true"
                       disabled="#{urlListHome.managed}"
                          value="#{urlListHome.instance.ulistSeqid}">
                    <a:support event="onblur" reRender="ulistSeqidDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>

            <s:decorate id="listTypeDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">listType</ui:define>
                <h:inputText id="listType"
                       required="true"
                          value="#{urlListHome.instance.listType}">
                    <a:support event="onblur" reRender="listTypeDecoration" bypassUpdates="true"/>
                </h:inputText>
            </s:decorate>
        
            <div style="clear:both">
                <span class="required">*</span> 
                required fields
            </div>
            
        </rich:panel>
                
        <div class="actionButtons">

            <h:commandButton id="save" 
                          value="Save" 
                         action="#{urlListHome.persist}"
                       disabled="#{!urlListHome.wired}"
                       rendered="#{!urlListHome.managed}"/>  
                          			  
            <h:commandButton id="update" 
                          value="Save" 
                         action="#{urlListHome.update}"
                       rendered="#{urlListHome.managed}"/>
                        			  
            <h:commandButton id="delete" 
                          value="Delete" 
                         action="#{urlListHome.remove}"
                       rendered="#{urlListHome.managed}"/>
                    
            <s:button id="done" 
                   value="Done"
             propagation="end"
                    view="/protected/UrlList.xhtml"
                rendered="#{urlListHome.managed}"/>
                
            <s:button id="cancel" 
                   value="Cancel"
             propagation="end"
                    view="/protected/#{empty urlListFrom ? 'UrlListList' : urlListFrom}.xhtml"
                rendered="#{!urlListHome.managed}"/>

        </div>
    </h:form>

<rich:tabPanel switchType="ajax">
    
    <rich:tab label="url *" labelClass="required">
    <div class="association" id="urlParent">
    
        <h:outputText value="No url" 
                   rendered="#{urlListHome.instance.url == null}"/>
        
        <rich:dataTable var="url" 
                   value="#{urlListHome.instance.url}" 
                rendered="#{urlListHome.instance.url != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="urlTable">
            <h:column>
                <f:facet name="header">urlSeqid</f:facet>
                #{url.urlSeqid}
            </h:column>
            <h:column>
                <f:facet name="header">url</f:facet>
                #{url.url}
            </h:column>
            <h:column>
                <f:facet name="header">data</f:facet>
                #{url.data}
            </h:column>
            <h:column>
                <f:facet name="header">istransient</f:facet>
                #{url.istransient}
            </h:column>
            <h:column>
                <f:facet name="header">isencrypted</f:facet>
                #{url.isencrypted}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link view="/protected/Url.xhtml" 
                         id="viewurl" 
                      value="View" 
                propagation="none">
                    <f:param name="urlUrlSeqid" 
                           value="#{url.urlSeqid}"/>
                </s:link>
            </h:column>
        </rich:dataTable>

        <div class="actionButtons">
            <s:button value="Select url"
                       view="/protected/UrlList.xhtml">
                <f:param name="from" value="UrlListEdit"/>
            </s:button>
        </div>
        
    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
