<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <h:form id="urlListSearch" styleClass="edit">
    
        <rich:simpleTogglePanel label="UrlList search parameters" switchType="ajax">
        
        
        </rich:simpleTogglePanel>
        
        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/protected/UrlListList.xhtml"/>
        </div>
        
    </h:form>
    
    <rich:panel>
        <f:facet name="header">UrlList search results</f:facet>
    <div class="results" id="urlListList">

    <h:outputText value="No urlList exists" 
               rendered="#{empty urlListList.resultList}"/>
               
    <rich:dataTable id="urlListList" 
                var="urlList"
              value="#{urlListList.resultList}" 
           rendered="#{not empty urlListList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="ulistSeqid #{urlListList.order=='ulistSeqid asc' ? messages.down : ( urlListList.order=='ulistSeqid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{urlListList.order=='ulistSeqid asc' ? 'ulistSeqid desc' : 'ulistSeqid asc'}"/>
                </s:link>
            </f:facet>
            #{urlList.ulistSeqid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="url urlSeqid #{urlListList.order=='url.urlSeqid asc' ? messages.down : ( urlListList.order=='url.urlSeqid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{urlListList.order=='url.urlSeqid asc' ? 'url.urlSeqid desc' : 'url.urlSeqid asc'}"/>
                </s:link>
            </f:facet>
            #{urlList.url.urlSeqid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="listType #{urlListList.order=='listType asc' ? messages.down : ( urlListList.order=='listType desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{urlListList.order=='listType asc' ? 'listType desc' : 'listType asc'}"/>
                </s:link>
            </f:facet>
            #{urlList.listType}
        </h:column>
        <h:column>
            <f:facet name="header">action</f:facet>
            <s:link view="/protected/#{empty from ? 'UrlList' : from}.xhtml" 
                   value="Select" 
                      id="urlList">
                <f:param name="urlListUlistSeqid" 
                        value="#{urlList.ulistSeqid}"/>
            </s:link>
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>
    
    <div class="tableControl">
      
        <s:link view="/protected/UrlListList.xhtml" 
            rendered="#{urlListList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/UrlListList.xhtml" 
            rendered="#{urlListList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult" 
                    value="#{urlListList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/UrlListList.xhtml" 
            rendered="#{urlListList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult" 
                    value="#{urlListList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/UrlListList.xhtml" 
            rendered="#{urlListList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult" 
                    value="#{urlListList.lastFirstResult}"/>
        </s:link>
        
    </div>
    
    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/protected/UrlListEdit.xhtml"
                    id="create" 
                 value="Create urlList">
            <f:param name="urlListUlistSeqid"/>
        </s:button>
    </s:div>
    
</ui:define>

</ui:composition>

