<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <rich:panel>
        <f:facet name="header">UrlList</f:facet>

        <s:decorate id="ulistSeqid" template="/layout/display.xhtml">
            <ui:define name="label">ulistSeqid</ui:define>
            #{urlListHome.instance.ulistSeqid}
        </s:decorate>

        <s:decorate id="listType" template="/layout/display.xhtml">
            <ui:define name="label">listType</ui:define>
            #{urlListHome.instance.listType}
        </s:decorate>

        <div style="clear:both"/>
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/protected/UrlListEdit.xhtml" 
                    id="edit" 
                 value="Edit"/>

        <s:button view="/protected/#{empty urlListFrom ? 'UrlListList' : urlListFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab label="url">
    <div class="association" id="urlParent">
        
        <h:outputText value="No url" 
                   rendered="#{urlListHome.instance.url == null}"/>
        
        <rich:dataTable var="url" 
                   value="#{urlListHome.instance.url}" 
                rendered="#{urlListHome.instance.url != null}"
              rowClasses="rvgRowOne,rvgRowTwo"
                      id="urlTable">
            <h:column>
                <f:facet name="header">urlSeqid</f:facet>
                #{url.urlSeqid}
            </h:column>
            <h:column>
                <f:facet name="header">url</f:facet>
                #{url.url}
            </h:column>
            <h:column>
                <f:facet name="header">data</f:facet>
                #{url.data}
            </h:column>
            <h:column>
                <f:facet name="header">istransient</f:facet>
                #{url.istransient}
            </h:column>
            <h:column>
                <f:facet name="header">isencrypted</f:facet>
                #{url.isencrypted}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="viewurl" 
                     value="View" 
                      view="/protected/Url.xhtml">
                    <f:param name="urlUrlSeqid" 
                           value="#{url.urlSeqid}"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
