<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <rich:panel>
        <f:facet name="header">Xids</f:facet>

        <s:decorate id="xidSeqid" template="/layout/display.xhtml">
            <ui:define name="label">xidSeqid</ui:define>
            #{xidsHome.instance.xidSeqid}
        </s:decorate>

        <s:decorate id="xid" template="/layout/display.xhtml">
            <ui:define name="label">xid</ui:define>
            #{xidsHome.instance.xid}
        </s:decorate>

        <s:decorate id="xidDate" template="/layout/display.xhtml">
            <ui:define name="label">xidDate</ui:define>
            <h:outputText value="#{xidsHome.instance.xidDate}">
                <s:convertDateTime type="both" dateStyle="short"/>
            </h:outputText>
        </s:decorate>

        <div style="clear:both"/>
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/protected/XidsEdit.xhtml" 
                    id="edit" 
                 value="Edit"/>

        <s:button view="/protected/#{empty xidsFrom ? 'XidsList' : xidsFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">

    <rich:tab label="smtplogs">
    <div class="association" id="smtplogsChildren">
        
        <h:outputText value="No smtplogs" 
                   rendered="#{empty xidsHome.smtplogs}"/>
        
        <rich:dataTable value="#{xidsHome.smtplogs}" 
                       var="smtplog" 
                  rendered="#{not empty xidsHome.smtplogs}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="smtplogsTable">
            <h:column>
                <f:facet name="header">smtpSeqid</f:facet>
                <h:outputText value="#{smtplog.smtpSeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">created</f:facet>
                <h:outputText value="#{smtplog.created}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectsmtplog" 
                     value="Select" 
                      view="/protected/Smtplog.xhtml">
                    <f:param name="smtplogSmtpSeqid" 
                            value="#{smtplog.smtpSeqid}"/>
                    <f:param name="smtplogFrom" value="Xids"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add smtplog"
                view="/protected/SmtplogEdit.xhtml">
            <f:param name="xidsXidSeqid" 
                    value="#{xidsHome.instance.xidSeqid}"/>
            <f:param name="smtplogFrom" value="Xids"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="histories">
    <div class="association" id="historiesChildren">
        
        <h:outputText value="No histories" 
                   rendered="#{empty xidsHome.histories}"/>
        
        <rich:dataTable value="#{xidsHome.histories}" 
                       var="history" 
                  rendered="#{not empty xidsHome.histories}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="historiesTable">
            <h:column>
                <f:facet name="header">historySeqid</f:facet>
                <h:outputText value="#{history.historySeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">whenProcessed</f:facet>
                <h:outputText value="#{history.whenProcessed}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selecthistory" 
                     value="Select" 
                      view="/protected/History.xhtml">
                    <f:param name="historyHistorySeqid" 
                            value="#{history.historySeqid}"/>
                    <f:param name="historyFrom" value="Xids"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add history"
                view="/protected/HistoryEdit.xhtml">
            <f:param name="xidsXidSeqid" 
                    value="#{xidsHome.instance.xidSeqid}"/>
            <f:param name="historyFrom" value="Xids"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="llasForOrigXidRef">
    <div class="association" id="llasForOrigXidRefChildren">
        
        <h:outputText value="No llasForOrigXidRef" 
                   rendered="#{empty xidsHome.llasForOrigXidRef}"/>
        
        <rich:dataTable value="#{xidsHome.llasForOrigXidRef}" 
                       var="lla" 
                  rendered="#{not empty xidsHome.llasForOrigXidRef}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="llasForOrigXidRefTable">
            <h:column>
                <f:facet name="header">origXidRef</f:facet>
                #{lla.id.origXidRef}
            </h:column>
            <h:column>
                <f:facet name="header">newXidRef</f:facet>
                #{lla.id.newXidRef}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectlla" 
                     value="Select" 
                      view="/protected/Lla.xhtml">
                    <f:param name="llaOrigXidRef" 
                            value="#{lla.id.origXidRef}"/>
                    <f:param name="llaNewXidRef" 
                            value="#{lla.id.newXidRef}"/>
                    <f:param name="llaFrom" value="Xids"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add lla"
                view="/protected/LlaEdit.xhtml">
            <f:param name="xidsXidSeqid" 
                    value="#{xidsHome.instance.xidSeqid}"/>
            <f:param name="llaFrom" value="Xids"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="llasForNewXidRef">
    <div class="association" id="llasForNewXidRefChildren">
        
        <h:outputText value="No llasForNewXidRef" 
                   rendered="#{empty xidsHome.llasForNewXidRef}"/>
        
        <rich:dataTable value="#{xidsHome.llasForNewXidRef}" 
                       var="lla" 
                  rendered="#{not empty xidsHome.llasForNewXidRef}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="llasForNewXidRefTable">
            <h:column>
                <f:facet name="header">origXidRef</f:facet>
                #{lla.id.origXidRef}
            </h:column>
            <h:column>
                <f:facet name="header">newXidRef</f:facet>
                #{lla.id.newXidRef}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectlla" 
                     value="Select" 
                      view="/protected/Lla.xhtml">
                    <f:param name="llaOrigXidRef" 
                            value="#{lla.id.origXidRef}"/>
                    <f:param name="llaNewXidRef" 
                            value="#{lla.id.newXidRef}"/>
                    <f:param name="llaFrom" value="Xids"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add lla"
                view="/protected/LlaEdit.xhtml">
            <f:param name="xidsXidSeqid" 
                    value="#{xidsHome.instance.xidSeqid}"/>
            <f:param name="llaFrom" value="Xids"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="stackersForOrigXidRef">
    <div class="association" id="stackersForOrigXidRefChildren">
        
        <h:outputText value="No stackersForOrigXidRef" 
                   rendered="#{empty xidsHome.stackersForOrigXidRef}"/>
        
        <rich:dataTable value="#{xidsHome.stackersForOrigXidRef}" 
                       var="stacker" 
                  rendered="#{not empty xidsHome.stackersForOrigXidRef}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="stackersForOrigXidRefTable">
            <h:column>
                <f:facet name="header">origXidRef</f:facet>
                #{stacker.id.origXidRef}
            </h:column>
            <h:column>
                <f:facet name="header">newXidRef</f:facet>
                #{stacker.id.newXidRef}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectstacker" 
                     value="Select" 
                      view="/protected/Stacker.xhtml">
                    <f:param name="stackerOrigXidRef" 
                            value="#{stacker.id.origXidRef}"/>
                    <f:param name="stackerNewXidRef" 
                            value="#{stacker.id.newXidRef}"/>
                    <f:param name="stackerFrom" value="Xids"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add stacker"
                view="/protected/StackerEdit.xhtml">
            <f:param name="xidsXidSeqid" 
                    value="#{xidsHome.instance.xidSeqid}"/>
            <f:param name="stackerFrom" value="Xids"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="stackersForNewXidRef">
    <div class="association" id="stackersForNewXidRefChildren">
        
        <h:outputText value="No stackersForNewXidRef" 
                   rendered="#{empty xidsHome.stackersForNewXidRef}"/>
        
        <rich:dataTable value="#{xidsHome.stackersForNewXidRef}" 
                       var="stacker" 
                  rendered="#{not empty xidsHome.stackersForNewXidRef}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="stackersForNewXidRefTable">
            <h:column>
                <f:facet name="header">origXidRef</f:facet>
                #{stacker.id.origXidRef}
            </h:column>
            <h:column>
                <f:facet name="header">newXidRef</f:facet>
                #{stacker.id.newXidRef}
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectstacker" 
                     value="Select" 
                      view="/protected/Stacker.xhtml">
                    <f:param name="stackerOrigXidRef" 
                            value="#{stacker.id.origXidRef}"/>
                    <f:param name="stackerNewXidRef" 
                            value="#{stacker.id.newXidRef}"/>
                    <f:param name="stackerFrom" value="Xids"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add stacker"
                view="/protected/StackerEdit.xhtml">
            <f:param name="xidsXidSeqid" 
                    value="#{xidsHome.instance.xidSeqid}"/>
            <f:param name="stackerFrom" value="Xids"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="faxjobs">
    <div class="association" id="faxjobsChildren">
        
        <h:outputText value="No faxjobs" 
                   rendered="#{empty xidsHome.faxjobs}"/>
        
        <rich:dataTable value="#{xidsHome.faxjobs}" 
                       var="faxjob" 
                  rendered="#{not empty xidsHome.faxjobs}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="faxjobsTable">
            <h:column>
                <f:facet name="header">faxjobSeqid</f:facet>
                <h:outputText value="#{faxjob.faxjobSeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">noticeSent</f:facet>
                <h:outputText value="#{faxjob.noticeSent}"/>
            </h:column>
            <h:column>
                <f:facet name="header">adopted</f:facet>
                <h:outputText value="#{faxjob.adopted}"/>
            </h:column>
            <h:column>
                <f:facet name="header">renbrooked</f:facet>
                <h:outputText value="#{faxjob.renbrooked}"/>
            </h:column>
            <h:column>
                <f:facet name="header">startTime</f:facet>
                <h:outputText value="#{faxjob.startTime}"/>
            </h:column>
            <h:column>
                <f:facet name="header">endTime</f:facet>
                <h:outputText value="#{faxjob.endTime}"/>
            </h:column>
            <h:column>
                <f:facet name="header">cvpPages</f:facet>
                <h:outputText value="#{faxjob.cvpPages}"/>
            </h:column>
            <h:column>
                <f:facet name="header">cntPages</f:facet>
                <h:outputText value="#{faxjob.cntPages}"/>
            </h:column>
            <h:column>
                <f:facet name="header">curPage</f:facet>
                <h:outputText value="#{faxjob.curPage}"/>
            </h:column>
            <h:column>
                <f:facet name="header">gotGlp</f:facet>
                <h:outputText value="#{faxjob.gotGlp}"/>
            </h:column>
            <h:column>
                <f:facet name="header">acctSeqid</f:facet>
                <h:outputText value="#{faxjob.acctSeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">stacker</f:facet>
                <h:outputText value="#{faxjob.stacker}"/>
            </h:column>
            <h:column>
                <f:facet name="header">destPhoneRef</f:facet>
                <h:outputText value="#{faxjob.destPhoneRef}"/>
            </h:column>
            <h:column>
                <f:facet name="header">srcPhoneRef</f:facet>
                <h:outputText value="#{faxjob.srcPhoneRef}"/>
            </h:column>
            <h:column>
                <f:facet name="header">hasBounce</f:facet>
                <h:outputText value="#{faxjob.hasBounce}"/>
            </h:column>
            <h:column>
                <f:facet name="header">pageResX</f:facet>
                <h:outputText value="#{faxjob.pageResX}"/>
            </h:column>
            <h:column>
                <f:facet name="header">pageResY</f:facet>
                <h:outputText value="#{faxjob.pageResY}"/>
            </h:column>
            <h:column>
                <f:facet name="header">neededDarkening</f:facet>
                <h:outputText value="#{faxjob.neededDarkening}"/>
            </h:column>
            <h:column>
                <f:facet name="header">neededResizing</f:facet>
                <h:outputText value="#{faxjob.neededResizing}"/>
            </h:column>
            <h:column>
                <f:facet name="header">handwritten</f:facet>
                <h:outputText value="#{faxjob.handwritten}"/>
            </h:column>
            <h:column>
                <f:facet name="header">tranxCode</f:facet>
                <h:outputText value="#{faxjob.tranxCode}"/>
            </h:column>
            <h:column>
                <f:facet name="header">lastPageArrival</f:facet>
                <h:outputText value="#{faxjob.lastPageArrival}"/>
            </h:column>
            <h:column>
                <f:facet name="header">ltr</f:facet>
                <h:outputText value="#{faxjob.ltr}"/>
            </h:column>
            <h:column>
                <f:facet name="header">mailSentSuccessfully</f:facet>
                <h:outputText value="#{faxjob.mailSentSuccessfully}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectfaxjob" 
                     value="Select" 
                      view="/protected/Faxjob.xhtml">
                    <f:param name="faxjobFaxjobSeqid" 
                            value="#{faxjob.faxjobSeqid}"/>
                    <f:param name="faxjobFrom" value="Xids"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add faxjob"
                view="/protected/FaxjobEdit.xhtml">
            <f:param name="xidsXidSeqid" 
                    value="#{xidsHome.instance.xidSeqid}"/>
            <f:param name="faxjobFrom" value="Xids"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="collationsteps">
    <div class="association" id="collationstepsChildren">
        
        <h:outputText value="No collationsteps" 
                   rendered="#{empty xidsHome.collationsteps}"/>
        
        <rich:dataTable value="#{xidsHome.collationsteps}" 
                       var="collationstep" 
                  rendered="#{not empty xidsHome.collationsteps}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="collationstepsTable">
            <h:column>
                <f:facet name="header">stepSeqid</f:facet>
                <h:outputText value="#{collationstep.stepSeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">md5</f:facet>
                <h:outputText value="#{collationstep.md5}"/>
            </h:column>
            <h:column>
                <f:facet name="header">created</f:facet>
                <h:outputText value="#{collationstep.created}"/>
            </h:column>
            <h:column>
                <f:facet name="header">iniUrl</f:facet>
                <h:outputText value="#{collationstep.iniUrl}"/>
            </h:column>
            <h:column>
                <f:facet name="header">msgMd5</f:facet>
                <h:outputText value="#{collationstep.msgMd5}"/>
            </h:column>
            <h:column>
                <f:facet name="header">notesboxUrlref</f:facet>
                <h:outputText value="#{collationstep.notesboxUrlref}"/>
            </h:column>
            <h:column>
                <f:facet name="header">destPhoneRef</f:facet>
                <h:outputText value="#{collationstep.destPhoneRef}"/>
            </h:column>
            <h:column>
                <f:facet name="header">srcPhoneRef</f:facet>
                <h:outputText value="#{collationstep.srcPhoneRef}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectcollationstep" 
                     value="Select" 
                      view="/protected/Collationstep.xhtml">
                    <f:param name="collationstepStepSeqid" 
                            value="#{collationstep.stepSeqid}"/>
                    <f:param name="collationstepFrom" value="Xids"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add collationstep"
                view="/protected/CollationstepEdit.xhtml">
            <f:param name="xidsXidSeqid" 
                    value="#{xidsHome.instance.xidSeqid}"/>
            <f:param name="collationstepFrom" value="Xids"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="bounceses">
    <div class="association" id="bouncesesChildren">
        
        <h:outputText value="No bounceses" 
                   rendered="#{empty xidsHome.bounceses}"/>
        
        <rich:dataTable value="#{xidsHome.bounceses}" 
                       var="bounces" 
                  rendered="#{not empty xidsHome.bounceses}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="bouncesesTable">
            <h:column>
                <f:facet name="header">bounceSeqid</f:facet>
                <h:outputText value="#{bounces.bounceSeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">fromEmailRef</f:facet>
                <h:outputText value="#{bounces.fromEmailRef}"/>
            </h:column>
            <h:column>
                <f:facet name="header">bounceProcessed</f:facet>
                <h:outputText value="#{bounces.bounceProcessed}"/>
            </h:column>
            <h:column>
                <f:facet name="header">data</f:facet>
                <h:outputText value="#{bounces.data}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectbounces" 
                     value="Select" 
                      view="/protected/Bounces.xhtml">
                    <f:param name="bouncesBounceSeqid" 
                            value="#{bounces.bounceSeqid}"/>
                    <f:param name="bouncesFrom" value="Xids"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add bounces"
                view="/protected/BouncesEdit.xhtml">
            <f:param name="xidsXidSeqid" 
                    value="#{xidsHome.instance.xidSeqid}"/>
            <f:param name="bouncesFrom" value="Xids"/>
        </s:button>
    </div>        
    </rich:tab>

    <rich:tab label="campaignUsages">
    <div class="association" id="campaignUsagesChildren">
        
        <h:outputText value="No campaignUsages" 
                   rendered="#{empty xidsHome.campaignUsages}"/>
        
        <rich:dataTable value="#{xidsHome.campaignUsages}" 
                       var="campaignUsage" 
                  rendered="#{not empty xidsHome.campaignUsages}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="campaignUsagesTable">
            <h:column>
                <f:facet name="header">cuid</f:facet>
                <h:outputText value="#{campaignUsage.cuid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">clicked</f:facet>
                <h:outputText value="#{campaignUsage.clicked}"/>
            </h:column>
            <h:column>
                <f:facet name="header">ip</f:facet>
                <h:outputText value="#{campaignUsage.ip}"/>
            </h:column>
            <h:column>
                <f:facet name="header">uid</f:facet>
                <h:outputText value="#{campaignUsage.uid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectcampaignUsage" 
                     value="Select" 
                      view="/protected/CampaignUsage.xhtml">
                    <f:param name="campaignUsageCuid" 
                            value="#{campaignUsage.cuid}"/>
                    <f:param name="campaignUsageFrom" value="Xids"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
    <div class="actionButtons">
        <s:button 
               value="Add campaignUsage"
                view="/protected/CampaignUsageEdit.xhtml">
            <f:param name="xidsXidSeqid" 
                    value="#{xidsHome.instance.xidSeqid}"/>
            <f:param name="campaignUsageFrom" value="Xids"/>
        </s:button>
    </div>        
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
