<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <h:form id="xidsSearch" styleClass="edit">
    
        <rich:simpleTogglePanel label="Xids search parameters" switchType="ajax">
        
            <s:decorate template="/layout/display.xhtml">
                <ui:define name="label">xid</ui:define>
                <h:inputText id="xid" value="#{xidsList.xids.xid}"/>
            </s:decorate>

        
        </rich:simpleTogglePanel>
        
        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="/protected/XidsList.xhtml"/>
        </div>
        
    </h:form>
    
    <rich:panel>
        <f:facet name="header">Xids search results</f:facet>
    <div class="results" id="xidsList">

    <h:outputText value="No xids exists" 
               rendered="#{empty xidsList.resultList}"/>
               
    <rich:dataTable id="xidsList" 
                var="xids"
              value="#{xidsList.resultList}" 
           rendered="#{not empty xidsList.resultList}">
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="xidSeqid #{xidsList.order=='xidSeqid asc' ? messages.down : ( xidsList.order=='xidSeqid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{xidsList.order=='xidSeqid asc' ? 'xidSeqid desc' : 'xidSeqid asc'}"/>
                </s:link>
            </f:facet>
            #{xids.xidSeqid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="xid #{xidsList.order=='xid asc' ? messages.down : ( xidsList.order=='xid desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{xidsList.order=='xid asc' ? 'xid desc' : 'xid asc'}"/>
                </s:link>
            </f:facet>
            #{xids.xid}
        </h:column>
        <h:column>
            <f:facet name="header">
                <s:link styleClass="columnHeader"
                             value="xidDate #{xidsList.order=='xidDate asc' ? messages.down : ( xidsList.order=='xidDate desc' ? messages.up : '' )}">
                    <f:param name="order" value="#{xidsList.order=='xidDate asc' ? 'xidDate desc' : 'xidDate asc'}"/>
                </s:link>
            </f:facet>
            #{xids.xidDate}
        </h:column>
        <h:column>
            <f:facet name="header">action</f:facet>
            <s:link view="/protected/#{empty from ? 'Xids' : from}.xhtml" 
                   value="Select" 
                      id="xids">
                <f:param name="xidsXidSeqid" 
                        value="#{xids.xidSeqid}"/>
            </s:link>
        </h:column>
    </rich:dataTable>

    </div>
    </rich:panel>
    
    <div class="tableControl">
      
        <s:link view="/protected/XidsList.xhtml" 
            rendered="#{xidsList.previousExists}" 
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>
        
        <s:link view="/protected/XidsList.xhtml" 
            rendered="#{xidsList.previousExists}" 
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult" 
                    value="#{xidsList.previousFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/XidsList.xhtml" 
            rendered="#{xidsList.nextExists}" 
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult" 
                    value="#{xidsList.nextFirstResult}"/>
        </s:link>
        
        <s:link view="/protected/XidsList.xhtml" 
            rendered="#{xidsList.nextExists}" 
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult" 
                    value="#{xidsList.lastFirstResult}"/>
        </s:link>
        
    </div>
    
    <s:div styleClass="actionButtons" rendered="#{empty from}">
        <s:button view="/protected/XidsEdit.xhtml"
                    id="create" 
                 value="Create xids">
            <f:param name="xidsXidSeqid"/>
        </s:button>
    </s:div>
    
</ui:define>

</ui:composition>

