<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template-openlayers.xhtml">
                       
<ui:define name="body">
<ui:include src="WEB-INF/geolayer.xhtml" >
        <ui:param name="baseLayerURL" value="#{geoserverPath}/layer/renderer"/>
		<ui:param name="baseLayerName" value="topp:JustAnOutline" />
		
        <ui:param name="drillableLayerURL" value="#{geoserverPath}/layer/currentAccount30day?cid=#{conversation.id}&amp;conversationPropagation=join&amp;"/>
		<ui:param name="drillableLayerName" value="mongonet:areacode_account_30day" />
		
		<ui:param name="queryLayer" value="mongonet:areacode_campaign_30day" />
		<ui:param name="drillTarget" value="#{geoserverPath}/layer/currentAccount30day" />

		<ui:param name="mapWidth" value="800" />
		<ui:param name="mapHeight" value="364" />

</ui:include>
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
    <rich:panel>
        <f:facet name="header">Account</f:facet>

        <s:decorate id="acctSeqid" template="/layout/display.xhtml">
            <ui:define name="label">acctSeqid</ui:define>
            #{accountHome.instance.acctSeqid}
        </s:decorate>

        <s:decorate id="companyName" template="/layout/display.xhtml">
            <ui:define name="label">companyName</ui:define>
            #{accountHome.instance.companyName}
        </s:decorate>

        <div style="clear:both"/>
		<div id="mapContainer" style="width:810px;height:500px; border 2px solid green;">
		    <div id="map" style="width:100%;height:80%;padding:2px;">
				<img id="legend"
					src="#{geoserverPath}/wms?REQUEST=GetLegendGraphic&amp;VERSION=1.0.0&amp;FORMAT=image/png&amp;WIDTH=20&amp;HEIGHT=20&amp;LAYER=mongonet:areacode_account_30day"
					 alt="Map Legend" />
        	</div>
        
        <div id="wrapper">
            <div id="location">location</div>
            <div id="scale" />
            
        </div>
        <div id="nodelist"  style="border=solid black 2px;width:800px;height:100px;">
            <em>Click on the map to get feature info</em>
        </div>
		
		</div>
		
        <s:div rendered="true" style="width:100%; height:500px;border:2px solid black; padding: 0px;  " >
				<ui:include src="WEB-INF/account_graph.xhtml" />	 
		</s:div>
        
        
    </rich:panel>
    
    <div class="actionButtons">      

        <s:button view="/#{empty accountFrom ? 'ManageAccounts' : accountFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>

    <rich:tabPanel switchType="ajax">
    <rich:tab label="campaigns">
    <div class="association" id="campaignsChildren">
        
        <h:outputText value="No campaigns" 
                   rendered="#{empty accountHome.campaigns}"/>
        
        <rich:dataTable value="#{accountHome.campaigns}" 
                       var="campaign" 
                  rendered="#{not empty accountHome.campaigns}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="campaignsTable">
            <h:column>
                <f:facet name="header">cid</f:facet>
                <h:outputText value="#{campaign.cid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">publicId</f:facet>
                <h:outputText value="#{campaign.publicId}"/>
            </h:column>
            <h:column>
                <f:facet name="header">name</f:facet>
                <h:outputText value="#{campaign.name}"/>
            </h:column>
            <h:column>
                <f:facet name="header">description</f:facet>
                <h:outputText value="#{campaign.description}"/>
            </h:column>
            <h:column>
                <f:facet name="header">URL</f:facet>
                <h:outputText value="#{campaign.link}"/>
            </h:column>

            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectcampaign" 
                     value="Select"
                      view="/ManagedCampaign.xhtml">
                    <f:param name="campaignCid" 
                            value="#{campaign.cid}"/>
                    <f:param name="accountAcctSeqid" 
                            value="#{accountHome.id}"/>
                    <f:param name="campaignFrom" value="ManagedAccount"/>

                </s:link>

            </h:column>
        </rich:dataTable>
        
    </div>
    <s:fragment rendered="#{identity.loggedIn and s:hasRole('admin')}">
    <div class="actionButtons">
        <s:button 
               value="Add campaign"
                view="/ManagedCampaign.xhtml">
            <f:param name="accountAcctSeqid" 
                    value="#{accountHome.instance.acctSeqid}"/>
            <f:param name="campaignFrom" value="ManagedAccount"/>
            <f:param name="accountAcctSeqid" 
                   value="#{accountHome.accountAcctSeqid}"/>

        </s:button>
    </div>
    </s:fragment>        
    </rich:tab>
</rich:tabPanel>
</ui:define>

</ui:composition>
