<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
 
 <s:fragment rendered="#{identity.loggedIn and campaignHome.managed and (empty org.jboss.seam.web.parameters.requestParameters['e'] or not s:hasRole('admin')) }">
    <rich:panel>
        <f:facet name="header">Campaign</f:facet>

        <s:decorate id="cid" template="/layout/display.xhtml">
            <ui:define name="label">cid</ui:define>
            #{campaignHome.instance.cid}
        </s:decorate>

        <s:decorate id="publicId" template="/layout/display.xhtml">
            <ui:define name="label">PublicId</ui:define>
            #{campaignHome.instance.publicId}
        </s:decorate>

        <s:decorate id="name" template="/layout/display.xhtml">
            <ui:define name="label">Name</ui:define>
            #{campaignHome.instance.name}
        </s:decorate>

        <s:decorate id="description" template="/layout/display.xhtml">
            <ui:define name="label">Description</ui:define>
            #{campaignHome.instance.description}
        </s:decorate>

        <s:decorate id="startTime" template="/layout/display.xhtml">
            <ui:define name="label">Activation Date</ui:define>
            <h:outputText value="#{campaignHome.instance.startTime}">
                <s:convertDateTime type="both" dateStyle="short"/>
            </h:outputText>
        </s:decorate>

        <div style="clear:both"/>
        

	     <div style="width:100%; height:600px ;border:2px solid black; padding: 0px; margin:0px" > 
<!--    <div style="width:100%; height:500px;border:2px solid black; padding: 0px; background-color:light gray;" >-->
				<ui:include src="WEB-INF/campaign_graph.xhtml" />	 
		</div>
		<div>
		        <h:graphicImage value="/geo/currentCampaign30dayHeatmap-640x480.png?cid=#{conversation.id}" width="640" height="680"/>
		</div>
		
    </rich:panel>
     <div class="actionButtons">      

        <s:button id="selectcampaign2" 
                     value="Report" 
                      view="/CampaignReports.xhtml">
                    <f:param name="campaignFrom" value="ManagedAccount"/>
                    <f:param name="campaignCid" 
                            value="#{campaignHome.id}"/>
                    <f:param name="accountAcctSeqid" 
                            value="#{accountHome.id}"/>

        </s:button>

            <s:button id="edit" 
                   value="Edit (#{conversation.id})"
                    view="/ManagedCampaign.xhtml"
                    propagation="join"
                rendered="#{campaignHome.managed and s:hasRole('admin')}">
                    <f:param name="e" value="1"/>
            </s:button>

            <s:button id="done" 
                   value="Done"
             propagation="end"
                    view="/ManagedAccount.xhtml"
                rendered="#{campaignHome.managed}"/>
    </div>
    
 </s:fragment>
 
 <s:fragment rendered="#{identity.loggedIn and s:hasRole('admin') and (not empty org.jboss.seam.web.parameters.requestParameters['e'] or not campaignHome.managed) }">
    <h:form id="campaign" styleClass="edit">
    
        <rich:panel >
            <f:facet name="header">#{campaignHome.managed ? 'Edit' : 'Add'} Campaign conversation=#{conversation.id} </f:facet>

        <s:decorate id="cid" template="/layout/display.xhtml" rendered="#{campaignHome.managed}">
            <ui:define name="label">cid</ui:define>
            #{campaignHome.instance.cid}
        </s:decorate>

            <s:decorate id="nameDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">Name</ui:define>
                <h:inputTextarea id="name"
                               cols="80"
                               rows="3"
                           required="true"
                              value="#{campaignHome.instance.name}"/>
            </s:decorate>

            <s:decorate id="descriptionDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">Description</ui:define>
                <h:inputTextarea id="description"
                               cols="80"
                               rows="3"
                              value="#{campaignHome.instance.description}"/>
            </s:decorate>


            <s:decorate id="linkDecoration" template="/layout/edit.xhtml">
                <ui:define name="label">URL</ui:define>
                <h:inputText id="description" style="width:500px;"
                              value="#{campaignHome.instance.link}"/>
            </s:decorate>

        
            <div style="clear:both">
                <span class="required">*</span> 
                required fields
            </div>
            
        </rich:panel>
                
        <div class="actionButtons">

            <h:commandButton id="save" 
                          value="Save" 
                         action="#{campaignHome.persist}"
                       disabled="#{!campaignHome.wired}"
                       rendered="#{!campaignHome.managed}"/>  
                          			  
            <h:commandButton id="update" 
                          value="Update (#{conversation.id})" 
                         action="#{campaignHome.update}"
                       rendered="#{campaignHome.managed}"/>
                        			  
                        			  
            <h:commandButton id="delete" 
                          value="Delete" 
                         action="#{campaignHome.remove}"
                       rendered="#{campaignHome.managed}"/>

            <s:button id="done" 
                   value="Done"
             propagation="end"
                    view="/ManagedCampaign.xhtml"
                rendered="#{campaignHome.managed}">
                
               
                </s:button>
                
            <s:button id="cancel" 
                   value="Cancel"
             propagation="end"
                    view="/protected/#{empty campaignFrom ? 'ManagedAccount' : campaignFrom}.xhtml"
                rendered="#{!campaignHome.managed}" />

        </div>
    </h:form>

<rich:tabPanel switchType="ajax" style="height:500px" rendered="false" >

			<rich:tab label="campaignUsages">
		        <div class="association" id="campaignUsagesChildren">
        
        		    <h:outputText value="No campaignUsages" 
                	       rendered="#{empty campaignHome.campaignUsages}"/>
        
		            <rich:dataTable value="#{campaignHome.campaignUsages}"
        	                   var="campaignUsage" 
            	          rendered="#{not empty campaignHome.campaignUsages}" 
                	    rowClasses="rvgRowOne,rvgRowTwo"
                    	        id="campaignUsagesTable">
		                <h:column>
        		            <f:facet name="header">cuid</f:facet>
                		    <h:outputText value="#{campaignUsage.cuid}"/>
                		</h:column>
		                <h:column>
        		            <f:facet name="header">clicked</f:facet>
                		    <h:outputText value="#{campaignUsage.clicked}"/>
		                </h:column>
        		        <h:column>
                		    <f:facet name="header">ip</f:facet>
		                    <h:outputText value="#{campaignUsage.ip}"/>
        		        </h:column>
                		<h:column>
		                    <f:facet name="header">uid</f:facet>
        		            <h:outputText value="#{campaignUsage.uid}"/>
                		</h:column>
		            </rich:dataTable>
		        </div>
		    </rich:tab>

			<rich:tab label="areacodeRollups">
		        <div class="association" id="areacodeRollupsChildren">
        
        		    <h:outputText value="No areacodeRollups" 
                	       rendered="#{empty campaignHome.areacodeRollups}"/>
        
		            <rich:dataTable value="#{campaignHome.areacodeRollups}" 
        	                   var="areacodeRollup" 
            	          rendered="#{not empty campaignHome.areacodeRollups}" 
                	    rowClasses="rvgRowOne,rvgRowTwo"
                    	        id="areacodeRollupsTable">
		                <h:column>
        		            <f:facet name="header">areacodeRollupId</f:facet>
                		    <h:outputText value="#{areacodeRollup.areacodeRollupId}"/>
		                </h:column>
        		        <h:column>
                		    <f:facet name="header">rollupType</f:facet>
		                    <h:outputText value="#{areacodeRollup.rollupType}"/>
        		        </h:column>
                		<h:column>
		                    <f:facet name="header">transDate</f:facet>
        		            <h:outputText value="#{areacodeRollup.transDate}"/>
                		</h:column>
        		        <h:column>
                		    <f:facet name="header">areacode</f:facet>
		                    <h:outputText value="#{areacodeRollup.areacode}"/>
        		        </h:column>
                		<h:column>
		                    <f:facet name="header">totalClicks</f:facet>
        		            <h:outputText value="#{areacodeRollup.totalClicks}"/>
		                </h:column>
        		        <h:column>
		                    <f:facet name="header">totalTx</f:facet>
        		            <h:outputText value="#{areacodeRollup.totalTx}"/>
                		</h:column>
		                <h:column>
        		            <f:facet name="header">totalEmails</f:facet>
                		    <h:outputText value="#{areacodeRollup.totalEmails}"/>
		                </h:column>
        		        <h:column>
                		    <f:facet name="header">totalUniqEmails</f:facet>
		                    <h:outputText value="#{areacodeRollup.totalUniqEmails}"/>
        		        </h:column>
		                <h:column>
        		            <f:facet name="header">action</f:facet>
		                    <s:link view="/protected/AreacodeRollup.xhtml" 
		                              id="selectareacodeRollup" 
        		                   value="Select"
                		     propagation="none">
                        		<f:param name="areacodeRollupAreacodeRollupId" 
		                                value="#{areacodeRollup.areacodeRollupId}"/>
        		                <f:param name="areacodeRollupFrom" value="Campaign"/>
                		    </s:link>
		                </h:column>
        		    </rich:dataTable>
		        </div>
	    </rich:tab>
	</rich:tabPanel>
</s:fragment>

</ui:define>

</ui:composition>
