<?xml version="1.0" encoding="UTF-8"?>
<page xmlns="http://jboss.com/products/seam/pages"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://jboss.com/products/seam/pages http://jboss.com/products/seam/pages-2.0.xsd">
      
   <param name="accountUsersFrom"/>
   <param name="accountUsersAcctuserid" value="#{accountUsersHome.accountUsersAcctuserid}"/>
   <param name="usersFrom"/>
   <param name="usersUserSeqid" value="#{usersHome.usersUserSeqid}"/>
   <param name="emailAddressesFrom"/>
   <param name="emailAddressesEmailSeqid" value="#{emailAddressesHome.emailAddressesEmailSeqid}"/>

   <param name="hintQuestionsFrom"/>
   <param name="hintQuestionsQuestionId" value="#{hintQuestionsHome.hintQuestionsQuestionId}"/>

   <param name="domainFrom"/>
   <param name="domainDomainId" value="#{domainHome.domainDomainId}"/>


   <param name="accountFrom"/>
   <param name="accountAcctSeqid" value="#{accountHome.accountAcctSeqid}"/>



</page>
