<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template.xhtml">
                       
<ui:define name="body">
<style>
.rich-panel{
	margin-left:20%;
	margin-right:20%;
}
.actionButtons
{
	text-align:center;
	
}
 
</style>

    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>

		    <h:form id="campaignReport" styleClass="edit">

        <rich:panel>
            <f:facet name="header">CampaignReports</f:facet>
				<s:decorate id="startDateDecorate" template="/layout/edit.xhtml">
					<ui:define name="label">Start Date</ui:define>
					<rich:calendar value="#{campaignPreferences.start}"
                        locale="US"
                        popup="true"
                        datePattern="MM/dd/yyyy"
                        showApplyButton="false" cellWidth="24px" cellHeight="22px" style="width:200px"/>
				</s:decorate>
				<s:decorate id="stopDateDecorate" template="/layout/edit.xhtml">
					<ui:define name="label">End Date</ui:define>
				
					<rich:calendar value="#{campaignPreferences.stop}"
                        locale="US"
                        popup="true"
                        datePattern="MM/dd/yyyy"
                        showApplyButton="false" cellWidth="24px" cellHeight="22px" style="width:200px"/>
				</s:decorate>
				<input type="hidden" name="campaignCid" value="#{campaignHome.campaignCid}" />
			<div style="clear:both" />
			
        	<div class="actionButtons">

		       <h:commandButton rendered="#{identity.loggedIn and s:hasRole('admin')}"
					value="Transaction Detail (PDF)"
            	    action="transaction_pdf" >
	           </h:commandButton>  

		       <h:commandButton rendered="#{identity.loggedIn and s:hasRole('admin')}"
					value="Transaction Detail (CSV) "
            	    action="transaction_csv" >
	           </h:commandButton>  
	           
		       <h:commandButton
					value="Areacode Report(PDF)"
            	    action="areacode_pdf" >
	           </h:commandButton>
	             
		       <h:commandButton
					value="Campaign Click Report (CSV)  "
            	    action="click_csv" >
	           </h:commandButton>  
		       <h:commandButton
					value="Campaign Click Report (PDF)  "
            	    action="click_pdf" >
	           </h:commandButton>  

	           <!-- 
		       <h:commandButton
					value="Domain PDF Report "
            	    action="domain_pdf" >
	           </h:commandButton>  
			-->
			</div>

    </rich:panel>


		</h:form>

</ui:define>

</ui:composition>
