<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<s:fragment rendered="#{identity.loggedIn and ( s:hasRole('support') or s:hasRole('admin') or s:hasRole('engineering'))}">
  <meta http-equiv="Refresh" content="0; URL=protected/home.mongo" />
</s:fragment>
<s:fragment rendered="#{identity.loggedIn and not ( s:hasRole('support') or s:hasRole('admin') or s:hasRole('engineering'))}">
  <meta http-equiv="Refresh" content="0; URL=ManageAccounts.mongo" />
</s:fragment>
<s:fragment rendered="#{not identity.loggedIn}">
  <meta http-equiv="Refresh" content="0; URL=login.mongo" />
</s:fragment>
</head>
</html>

</ui:composition>
