<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.ajax4jsf.org/rich"
                template="layout/template.xhtml">

<ui:define name="body">
    
    <h:messages styleClass="message"/>
    <style>
    
	.editpanel{
		margin-left:20%;
		margin-right:20%;
		padding:0px;
		
		width: 60%;
		}
	.prop{
		margin-left:5%;
		}
	.actionButtons{
		margin-left:20%;
		margin-right:20%;
		width: 60%;

		text-align: center;
		border:solid black 0px;
		
	}
	div > div[id~="Decoration"]{
		color:green;
		font-size: 30px;
		border:
		}
	#login:userDecoration {
		float:right;
		padding:20px;
	}
	
    </style>
		<h:form id="login">

			<h:inputHidden id="A" name="A"
				value="#{pageParams.crack(org.jboss.seam.web.parameters.requestParameters['n'])}"
				rendered="#{not empty org.jboss.seam.web.parameters.requestParameters['n']}" />
			<rich:panel styleClass="editpanel">
				<f:facet name="header">Login</f:facet>
				<p style="float:left;"><b>Please enter your username and password</b></p>

					<s:decorate id="userDecoration" template="layout/edit.xhtml">
						<ui:define name="label">Username:</ui:define>
						<h:inputText id="user" required="true" size="32" maxlength="64"
							value="#{identity.username}">
						</h:inputText>
					</s:decorate>
					<s:decorate id="pwdDecoration" template="layout/edit.xhtml">
						<ui:define name="label">Password:</ui:define>
						<h:inputSecret id="userpwd" required="true" size="32"
							maxlength="64" value="#{identity.password}" />
						<span ><s:link view="/forgot/forgot_step1.xhtml" target="_top" value="Forgot Password?"  /></span>
						
					</s:decorate>
					<s:decorate id="rememberDecoration" template="layout/edit.xhtml">
						<h:outputLabel for="rememberMe">Remember me</h:outputLabel>
						<h:selectBooleanCheckbox id="rememberMe"
							value="#{identity.rememberMe}" />

					</s:decorate>

				<div style="clear:both" />

			<div class="actionButtons"><h:commandButton value="Login"
				action="#{identity.login}" /></div>

			</rich:panel>


		</h:form>

	</ui:define> 
</ui:composition>
