<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template-openlayers.xhtml">

                       
<ui:define name="body">
    <s:fragment rendered="#{identity.loggedIn &amp;&amp; not empty currentUser.accountUserses}">

		<ui:include src="WEB-INF/geolayer.xhtml" >
	        <ui:param name="baseLayerURL" value="#{geoserverPath}/layer/renderer/states"/>
			<ui:param name="baseLayerName" value="topp:JustAnOutline" />
		
    	    <ui:param name="drillableLayerURL" value="#{geoserverPath}/layer/userAccounts"/>
			<ui:param name="drillableLayerName" value="mongonet:user_overall_areacode_" />
		
			<ui:param name="queryLayer" value="mongonet:areacode_account_" />
			<ui:param name="drillTarget" value="#{geoserverPath}/feature/drillUserAccounts-" />

			<ui:param name="mapWidth" value="800" />
			<ui:param name="mapHeight" value="364" />

		</ui:include>
		<style type="text/css">

		.graphContainer{
			width: 100%;
			height:500px;
			border: 2px solid green;
		}


		</style>
		
	</s:fragment>    

    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>



    <rich:tabPanel switchType="client" >

    <rich:tab label="Your Heatmap">
   	<s:fragment rendered="#{identity.loggedIn &amp;&amp; not empty currentUser.accountUserses}">

			<ui:include src="WEB-INF/geo_layout.xhtml">
				<ui:param name="LegendLayer" value="mongonet:areacode_account_30day" />
			</ui:include>    

   	</s:fragment>
   	<s:fragment rendered="#{identity.loggedIn &amp;&amp; empty currentUser.accountUserses}">
    		<div style="font-size:15px;">
    			This user has no associated account.
    		</div>
   	</s:fragment>

	</rich:tab>
    <rich:tab label="Your Accounts" ontabenter="//transformRichTab(this);">
    <div class="association" id="accountUsersesChildren">
        
        <h:outputText value="No accountUserses" 
                   rendered="#{empty usersHome.accountUsers}"/>
        
        <rich:dataTable value="#{usersHome.accountUsers}" 
                       var="accountUsers" 
                  rendered="#{not empty usersHome.accountUsers}" 
                rowClasses="rvgRowOne,rvgRowTwo"
                        id="accountUsersesTable">
            <h:column>
                <f:facet name="header">AcctId</f:facet>
                <h:outputText value="#{accountUsers.account.acctSeqid}"/>
            </h:column>
            <h:column>
                <f:facet name="header">CompanyName</f:facet>
                <h:outputText value="#{accountUsers.account.companyName}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Established</f:facet>
                <h:outputText value="#{accountUsers.established}"/>
            </h:column>
            <h:column>
                <f:facet name="header">Active</f:facet>
                <h:outputText value="#{empty accountUsers.active ? 'true' : (accountUsers.active ? 'true' : 'false')}"/>
            </h:column>
            <h:column>
                <f:facet name="header">action</f:facet>
                <s:link id="selectaccountUsers" 
                     value="Select" 
                      view="/ManagedAccount.xhtml">
                    <f:param name="accountAcctSeqid" 
                            value="#{accountUsers.account.acctSeqid}"/>
                    <f:param name="accountUsersFrom" value="ManageAccounts"/>
                </s:link>
            </h:column>
        </rich:dataTable>
        
    </div>
    
      
    </rich:tab>
</rich:tabPanel>

    
</ui:define>

</ui:composition>
