<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template-openlayers.xhtml">
                       
<ui:define name="body">

<style type="text/css">

.graphContainer{
	width: 100%;
	height:500px;
	border: 2px solid green;
	}


</style>

<ui:include src="WEB-INF/geolayer.xhtml" >
        <ui:param name="baseLayerURL" value="#{geoserverPath}/layer/renderer/states"/>
		<ui:param name="baseLayerName" value="topp:JustAnOutline" />
		
        <ui:param name="drillableLayerURL" value="#{geoserverPath}/layer/currentAccount"/>
		<ui:param name="drillableLayerName" value="mongonet:areacode_account_" />
		
		<ui:param name="queryLayer" value="mongonet:areacode_campaign_" />
		<ui:param name="drillTarget" value="#{geoserverPath}/layer/currentAccount-" />

		<ui:param name="mapWidth" value="800" />
		<ui:param name="mapHeight" value="364" />

</ui:include>

    
    <h:messages globalOnly="true" styleClass="message" id="globalMessages"/>
    
		    <rich:panel rendered="true">
        		<f:facet name="header">Account</f:facet>
		        <s:decorate id="acctSeqid" template="/layout/display.xhtml">
        		    <ui:define name="label">Acct#</ui:define>
			            #{accountHome.instance.acctSeqid}
			        </s:decorate>

		        <s:decorate id="companyName" template="/layout/display.xhtml">
        		    <ui:define name="label">Company</ui:define>
			            #{accountHome.instance.companyName}
       			 </s:decorate>

            <div style="clear:both"/>
        
		    </rich:panel>
    <div class="actionButtons">      

        <s:button view="/#{empty accountFrom ? ((identity.loggedIn and ( s:hasRole('support') or s:hasRole('admin') or s:hasRole('engineering'))) ? 'protected/home' : 'ManageAccounts') : accountFrom}.xhtml"
                    id="done"
                 value="Done"/>

    </div>
    
    <rich:tabPanel id="child" height="600" width="100%" switchType="client"	 >
        <rich:tab  id="mapTab" label="#{accountHome.instance.companyName} Interactive Heatmap" 
        	ontabenter="//alert(map.layers.length);" rendered="#{not empty accountHome.instance.campaigns}">

			<ui:include src="WEB-INF/geo_layout.xhtml">
				<ui:param name="LegendLayer" value="mongonet:areacode_account_30day" />
			</ui:include>
    	        
	    </rich:tab>        

        <rich:tab  label="#{accountHome.instance.companyName} Interactive Trend Chart" rendered="#{not empty accountHome.instance.campaigns}">
	        <s:div rendered="true" styleClass="graphContainer" >
				<ui:include src="WEB-INF/account_graph.xhtml" />	 
			</s:div>
		</rich:tab>
    
        <rich:tab label="#{accountHome.instance.companyName} Campaigns">
        
				    <div class="association" id="campaignsChildren">

				        <h:outputText value="No campaigns" rendered="#{empty accountHome.campaigns}"/>
        
				        <rich:dataTable value="#{accountHome.campaigns}" 
                		      var="campaign" 
			                  rendered="#{not empty accountHome.campaigns}" 
            				  rowClasses="rvgRowOne,rvgRowTwo"
                        	  id="campaignsTable">
				            <h:column>
                				<f:facet name="header">Campaign#</f:facet>
				                <h:outputText value="#{campaign.cid}"/>
				            </h:column>
            				<h:column>
			        	        <f:facet name="header">publicId</f:facet>
				                <h:outputText value="#{campaign.publicId}"/>
				            </h:column>
				            <h:column>
				                <f:facet name="header">name</f:facet>
                				<h:outputText value="#{campaign.name}"/>
				            </h:column>
				            <h:column>
                				<f:facet name="header">description</f:facet>
				                <h:outputText value="#{campaign.description}"/>
				            </h:column>
				            <h:column>
                				<f:facet name="header">URL</f:facet>
				                <h:outputText value="#{campaign.link}"/>
				            </h:column>
				            <h:column>
				                <f:facet name="header">action</f:facet>
				                <s:link id="selectcampaign" 
                				     value="Select"
				                      view="/ManagedCampaign.xhtml">
                				    <f:param name="campaignCid" 
			                            value="#{campaign.cid}"/>
            				        <f:param name="accountAcctSeqid" 
			                            value="#{accountHome.id}"/>
				                    <f:param name="campaignFrom" value="ManagedAccount"/>
				                </s:link>
				            </h:column>
				        </rich:dataTable>
				    </div>
				    <s:fragment rendered="#{identity.loggedIn and s:hasRole('admin')}">
					    <div class="actionButtons">
					        <s:button value="Add campaign" view="/protected/CampaignEdit.xhtml">
					            <f:param name="campaignFrom" value="ManagedAccount"/>
					            <f:param name="accountAcctSeqid" value="#{accountHome.id}"/>
					        </s:button>
					    </div>
				    </s:fragment>        
		</rich:tab>
	

	</rich:tabPanel>		
		    

</ui:define>

</ui:composition>
