<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:s="http://jboss.com/products/seam/taglib"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:a="http://richfaces.org/a4j"
                xmlns:rich="http://richfaces.org/rich"
                template="/layout/template-openlayers.xhtml">
                       
<ui:define name="body">

<style>


.graphContainer{
	width: 100%;
	height:500px;
	border: 2px solid green;
}

</style>

<ui:include src="WEB-INF/geolayer.xhtml" >
        <ui:param name="baseLayerURL" value="#{geoserverPath}/layer/renderer/states"/>
		<ui:param name="baseLayerName" value="topp:JustAnOutline" />
		
        <ui:param name="drillableLayerURL" value="#{geoserverPath}/layer/currentCampaign"/>
		<ui:param name="drillableLayerName" value="mongonet:areacode_campaign_" />
		
		<ui:param name="queryLayer" value="mongonet:areacode_campaign_" />
		<ui:param name="drillTarget" value="#{geoserverPath}/layer/currentCampaign-" />

		<ui:param name="mapWidth" value="800" />
		<ui:param name="mapHeight" value="364" />

</ui:include>

    
    <h:messages globalOnly="true" styleClass="message" />
				<rich:panel>
					<f:facet name="header">Campaign</f:facet>
					
					<s:decorate id="acct" template="/layout/display.xhtml">
			            <ui:define name="label">Account</ui:define>
			            	<s:link view="/ManagedAccount.xhtml"  propagation="end"
			                   value="#{campaignHome.instance.account.acctSeqid} - #{campaignHome.instance.account.companyName}" 
            			          id="account_link">
			            	    <f:param name="accountAcctSeqid" value="#{campaignHome.instance.account.acctSeqid}"/>
            			    	<f:param name="campaignCid" value="#{campaignHome.id}"/>
				            </s:link>
			        </s:decorate>

					<s:decorate id="cid" template="/layout/display.xhtml">
			            <ui:define name="label">Campaign#</ui:define>
            				#{campaignHome.instance.cid}
			        </s:decorate>

			        <s:decorate id="publicId" template="/layout/display.xhtml">
			            <ui:define name="label">PublicId</ui:define>
            				#{campaignHome.instance.publicId}
				    </s:decorate>

			        <s:decorate id="name" template="/layout/display.xhtml">
            			<ui:define name="label">Name</ui:define>
				            #{campaignHome.instance.name}
			        </s:decorate>

			        <s:decorate id="description" template="/layout/display.xhtml">
            			<ui:define name="label">Description</ui:define>
				            #{campaignHome.instance.description}
			        </s:decorate>
			        <s:decorate id="link" template="/layout/display.xhtml">
            			<ui:define name="label">Link</ui:define>
				            #{campaignHome.instance.link}
			        </s:decorate>

			        <s:decorate id="startTime" template="/layout/display.xhtml">
            			<ui:define name="label">Activation Date</ui:define>
			            <h:outputText value="#{campaignHome.instance.startTime}">
            			    <s:convertDateTime type="both" dateStyle="short"/>
			            </h:outputText>
			        </s:decorate>

			        <div style="clear:both"/>
			    </rich:panel>
				<div class="actionButtons">      


					<s:button id="edit" 
	                   value="Edit (#{conversation.id})"
						view="/protected/CampaignEdit.xhtml"
    		            rendered="#{campaignHome.managed and s:hasRole('admin')}">
    		            <f:param name="campaignFrom" value="ManagedCampaign"/>
            		</s:button>

		            <s:button id="done" 
        	           	value="Done"
            			propagation="end"
						view="/#{empty campaignFrom ? 'ManagedAccount' : campaignFrom}.xhtml"
                		rendered="#{campaignHome.managed}"/>
			    </div>
    
 

	<rich:tabPanel height="800" width="100%"  switchType="client" rendered="#{campaignHome.managed }">

		<rich:tab id="mapTab" label="##{campaignHome.instance.cid} #{campaignHome.instance.account.companyName}  -- Interactive Heatmap" >
			   
				<ui:include src="WEB-INF/geo_layout.xhtml">
					<ui:param name="LegendLayer" value="mongonet:areacode_campaign_30day" />
				</ui:include>
			</rich:tab>
		    <rich:tab label="##{campaignHome.instance.cid} #{campaignHome.instance.account.companyName}  Line Graph "  >
				<s:div rendered="true"  styleClass="graphContainer"> 
					<ui:include src="WEB-INF/campaign_graph.xhtml" />	 
				</s:div>
			</rich:tab>

		    <rich:tab label="##{campaignHome.instance.cid} #{campaignHome.instance.account.companyName} -- Heatmap  Image" rendered="#{s:hasRole('admin')}">
				<div>
					<h:graphicImage value="/geo/currentCampaign-30day-Heatmap-800x364.png?cid=#{conversation.id}" width="800" height="364"/>
				</div>
			</rich:tab>
	
			<rich:tab label="Reports">
				<ui:include src="WEB-INF/campaignPrefsForm.xhtml" />	 
			</rich:tab>

    		<rich:tab label="Other Data" switchType="ajax"
        		rendered="#{identity.loggedIn and s:hasRole('admin') and (not empty org.jboss.seam.web.parameters.requestParameters['e'] or not campaignHome.managed)}">

				<rich:tabPanel switchType="ajax" style="height:500px" rendered="false" >
					<rich:tab label="campaignUsages">
		    		    <div class="association" id="campaignUsagesChildren">
        
        		    		<h:outputText value="No campaignUsages" 
	                	       rendered="#{empty campaignHome.campaignUsages}"/>
        
				            <rich:dataTable value="#{campaignHome.campaignUsages}"
        		                   var="campaignUsage" 
            		          rendered="#{not empty campaignHome.campaignUsages}" 
                		    rowClasses="rvgRowOne,rvgRowTwo"
                    		        id="campaignUsagesTable">
		                		<h:column>
		        		            <f:facet name="header">cuid</f:facet>
        		        		    <h:outputText value="#{campaignUsage.cuid}"/>
                				</h:column>
		                		<h:column>
		        		            <f:facet name="header">clicked</f:facet>
        			       		    <h:outputText value="#{campaignUsage.clicked}"/>
		            		    </h:column>
		        		        <h:column>
        		        		    <f:facet name="header">ip</f:facet>
		        		            <h:outputText value="#{campaignUsage.ip}"/>
        		        		</h:column>
		                		<h:column>
				                    <f:facet name="header">uid</f:facet>
        				            <h:outputText value="#{campaignUsage.uid}"/>
                				</h:column>
				            </rich:dataTable>
				        </div>
				    </rich:tab>

					<rich:tab label="areacodeRollups">
				        <div class="association" id="areacodeRollupsChildren">
        
        			    <h:outputText value="No areacodeRollups" 
                	       rendered="#{empty campaignHome.areacodeRollups}"/>
        
			            <rich:dataTable value="#{campaignHome.areacodeRollups}" 
        	                   var="areacodeRollup" 
            	          rendered="#{not empty campaignHome.areacodeRollups}" 
                	    rowClasses="rvgRowOne,rvgRowTwo"
                    	        id="areacodeRollupsTable">
			                <h:column>
        			            <f:facet name="header">areacodeRollupId</f:facet>
            	    		    <h:outputText value="#{areacodeRollup.areacodeRollupId}"/>
		        	        </h:column>
	        		        <h:column>
    	            		    <f:facet name="header">rollupType</f:facet>
			                    <h:outputText value="#{areacodeRollup.rollupType}"/>
        			        </h:column>
                			<h:column>
			                    <f:facet name="header">transDate</f:facet>
    	    		            <h:outputText value="#{areacodeRollup.transDate}"/>
        	        		</h:column>
        			        <h:column>
                			    <f:facet name="header">areacode</f:facet>
		            	        <h:outputText value="#{areacodeRollup.areacode}"/>
        		        	</h:column>
	                		<h:column>
			                    <f:facet name="header">totalClicks</f:facet>
        			            <h:outputText value="#{areacodeRollup.totalClicks}"/>
		    	            </h:column>
        			        <h:column>
		            	        <f:facet name="header">totalTx</f:facet>
        		        	    <h:outputText value="#{areacodeRollup.totalTx}"/>
	                		</h:column>
			                <h:column>
        			            <f:facet name="header">totalEmails</f:facet>
            	    		    <h:outputText value="#{areacodeRollup.totalEmails}"/>
		        	        </h:column>
        		    	    <h:column>
	                		    <f:facet name="header">totalUniqEmails</f:facet>
			                    <h:outputText value="#{areacodeRollup.totalUniqEmails}"/>
        			        </h:column>
		    	            <h:column>
        			            <f:facet name="header">action</f:facet>
		            	        <s:link view="/protected/AreacodeRollup.xhtml" 
			                              id="selectareacodeRollup" 
    	    		                   value="Select"
        	        		     propagation="none">
            	            		<f:param name="areacodeRollupAreacodeRollupId" 
		        	                        value="#{areacodeRollup.areacodeRollupId}"/>
        		    	            <f:param name="areacodeRollupFrom" value="Campaign"/>
                			    </s:link>
			                </h:column>
    	    		    </rich:dataTable>
			        </div>
			    </rich:tab>
			</rich:tabPanel>
	</rich:tab>

	
</rich:tabPanel>
</ui:define>

</ui:composition>
