<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:a4j="http://richfaces.org/a4j"
	  xmlns:s="http://jboss.com/products/seam/taglib"
      xmlns:rich="http://richfaces.org/rich">
<h:form id="mongomenu">

<rich:toolBar >

    <rich:toolBarGroup>
        <h:outputText value="Campaign Manager 1.0"/>
        <s:link view="/protected/home.xhtml" value="Home" rendered="#{identity.loggedIn and ( s:hasRole('support') or s:hasRole('admin') or s:hasRole('engineering'))}"/>
        <s:link view="/home.xhtml" value="Home" rendered="#{identity.loggedIn and not ( s:hasRole('support') or s:hasRole('admin') or s:hasRole('engineering'))}"/>

    </rich:toolBarGroup>


    <rich:toolBarGroup location="right" rendered="#{identity.loggedIn and ( s:hasRole('support') or s:hasRole('admin') or s:hasRole('engineering') )}">
		<rich:dropDownMenu value="Admin" rendered="#{s:hasRole('engineering') or s:hasRole('billing') or s:hasRole('support')}">
			<rich:menuGroup value="Engineering Related" rendered="#{s:hasRole('engineering') }">
				<rich:menuItem action="/protected/test.html" 
				           value="SOAP test" 
					     propagation="none"  />
			</rich:menuGroup>
			<rich:menuGroup value="General" rendered="#{identity.loggedIn and ( s:hasRole('support') or s:hasRole('admin') or s:hasRole('engineering') )}">
    <rich:menuItem action="/protected/LinkAcct.xhtml" 
           value="Account List" 
     propagation="none"/>
    <rich:menuItem action="/protected/EmailAddressesList.xhtml" 
           value="EmailAddresses List" 
     propagation="none"/>
    <rich:menuItem action="/protected/CampaignList.xhtml" 
           value="Campaign List" 
     propagation="none"/>

			</rich:menuGroup>
			<rich:menuGroup value="Support Related" rendered="#{s:hasRole('support') }">

				<rich:menuItem submitMode="none" >
						<s:link  value="AreacodeRollupList"
							view="/protected/AreacodeRollupList.xhtml" >
							<f:param name="maxResults" value="25" />
						</s:link>
				</rich:menuItem>

				<rich:menuItem action="/protected/UrlList.xhtml" 
				           value="Url List" propagation="none"/>
				<rich:menuItem action="/protected/DomainRollupList.xhtml" 
				           value="DomainRollup List" propagation="none"/>
				<rich:menuItem action="/protected/XidsList.xhtml" 
				           value="Xids List" propagation="none"/>
				<rich:menuItem action="/protected/CampaignUsageList.xhtml" 
				           value="CampaignUsage List" propagation="none"/>
			</rich:menuGroup>
		</rich:dropDownMenu>
    </rich:toolBarGroup>


<s:fragment rendered="#{identity.loggedIn and not empty usersHome.instance.accountUserses}">
    <s:link view="/ManageAccounts.xhtml" 
           value="Manage Accounts" 
     propagation="none"/>
</s:fragment>


    <!-- @newMenuItem@ -->
    <rich:toolBarGroup location="right">
        <h:outputText value="Welcome, #{identity.username}!" rendered="#{identity.loggedIn}"/>
        <s:link view="/login.xhtml" value="Login" rendered="#{not identity.loggedIn}" propagation="none"/>
        <s:link view="/home.xhtml" action="#{identity.logout}" value="Logout" rendered="#{identity.loggedIn}"/>
    </rich:toolBarGroup>
</rich:toolBar>
</h:form>
</ui:composition>