<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:a4j="http://richfaces.org/a4j"
      xmlns:s="http://jboss.com/products/seam/taglib">
<head>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>Campaign</title>

    <link href="/campaign/stylesheet/theme.css" rel="stylesheet" type="text/css" />

    <link href="/campaign/stylesheet/openlayers.css" rel="stylesheet" type="text/css" />

    <link href="/campaign/stylesheet/tablesorter/style.css" rel="stylesheet" type="text/css" />


    <script src="#{facesContext.externalContext.request.contextPath}/js/openlayers/OpenLayers.js" type="text/javascript"  />

    <script src="#{facesContext.externalContext.request.contextPath}/js/jquery/jquery.js" type="text/javascript" />

	<script src="#{facesContext.externalContext.request.contextPath}/js/jquery.tablesorter.js" type="text/javascript" />
	<script type="text/javascript">
//<![CDATA[ 

			OpenLayers.ImgPath="#{facesContext.externalContext.request.contextPath}/img/ol/";
//]]>
</script>

<script src="#{facesContext.externalContext.request.contextPath}/js/mongo_map.js" type="text/javascript" />

</head>

<body>
    <ui:include src="menu.xhtml">
        <ui:param name="projectName" value="campaign"/>
    </ui:include>

	<div class="body">
  		<ui:insert name="body"/>
	</div>

	<div class="footer">
				<div class="mongoinfo" >
			<span style="margin:5px"> 
				<a href="http://www.mongonet.net/c_front/contact/">Contact Us</a>
		</span>
		<span style="margin:5px"> 
				<a href="http://www.mongonet.net/c_front/corporate/">About Us</a>
		</span>
		<span style="margin:5px"> 
				<a href="http://www.mongonet.net/acrobat">Get Adobe&copy; Reader</a>
		</span>
	
			</div>
			<div style="clear:both;font-weight:bold;margin:10px;text-align:center;font-size:12px">&#169;2009 <a href="http://www.mongonet.net">MongoNet,Inc.</a></div>
	
	</div>

</body>
</html>
