
table.tablesorter tbody tr .good td {
    color: green;
}
table.tablesorter tbody tr .bad td {
    color: red;
}

td {
    color: black;
    font-family: arial,helvetica,sans-serif;
    font-size: 10pt;
}
.error {
    color: red;
}
.warn {
  color: yellow;
}

p.sql,.verbose {
    color: green;
    border: 1px solid white;
}

p.osql,.overbose {
    color: green;
    font-family: mono-space;
    white-space: pre;
    border: 1px solid white;
}

.title {

	font-family: arial,helvetica,sans-serif;
	font-size: 14pt;
	text-align: center;
	width: 100%;
}
.subtitle {

	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	text-align: center;
	width: 100%;
}

.time {
	float:right;
	text-align: right;
	width: 100%;
	font-size: 8pt;
	border: 1px red;
}

