table.rich-table {
	font-size: 12px;
	color:#000000;
	background-color: #FFFFFF;
	width: 1024px;
	border: 1px solid #000;
}
table.rich-table th {
	text-align: left;
	padding: 5px;
	background-color: #EEEEEE;
}
table.rich-table td {
	padding: 5px;
}
table.rich-table tr{
	background-color: white;
}

table.rich-table .odd {
	background-color: #f9ebc6;
}

table.rich-table .even {
	background-color: white;
	color:black;
}
table.rich-table .header {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.rich-table .headerSortUp {
	background-image: url(asc.png);
	background-repeat: no-repeat;
}
table.rich-table .headerSortDown {
	background-image: url(desc.png);
	background-repeat: no-repeat;
}