table.tablesorter {
	font-size: 12px;
	color:#000000;
	background-color: #FFFFFF;
	width: 1024px;
	border: 1px solid #000;
}
table.tablesorter th {
	text-align: left;
	padding: 5px;
	background-color: #EEEEEE;
}
table.tablesorter td {
	padding: 5px;
}
table.tablesorter tr{
	background-color: white;
}

table.tablesorter .odd {
	background-color: #f9ebc6;
}

table.tablesorter .even {
	background-color: white;
	color:black;
}
table.tablesorter .header {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	border-left: 1px solid #FFF;
	border-right: 1px solid #000;
	border-top: 1px solid #FFF;
	padding-left: 30px;
	padding-top: 8px;
	height: auto;
}
table.tablesorter .headerSortUp {
	background-image: url(asc.png);
	background-repeat: no-repeat;
}
table.tablesorter .headerSortDown {
	background-image: url(desc.png);
	background-repeat: no-repeat;
}