<!DOCTYPE composition PUBLIC "Mod-//W3C//DTD XHTML 1.0 Transitional//EN" 
                             "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="https://ajax4jsf.dev.java.net/ajax"
	xmlns:rich="http://richfaces.ajax4jsf.org/rich"
	template="/layout/template.xhtml">

	<ui:define name="body">
		<style>
	
	.editpanel{
		margin-left:10%;
		width: 80%
		border:1px red solid;
		}
	.name{
		width:25%;
		}
	.value{
		width:45%;
		border: black 0px solid;
		}
	.prop{
		float:left;
		width:100%;
		border: blue 0px solid;
		}

	.error{
		width: 20%;
		}
				.dr-pnl-h{
			margin-left:26%;
			width:54%;
			padding:1px;
			}
	.wizard{
		position:relative;
		height:140px;
		border:1px border solid;
		}
		
	</style>

				<h:messages globalOnly="true" styleClass="message"
					id="globalMessages" />
<rich:dataList var="msg"
	value="#{facesMessages.currentGlobalMessages}">
	#{msg.summary}
</rich:dataList>

		<h:form id="registerInfo" styleClass="edit" autocomplete="off">
			<rich:panel id="main" styleClass="editpanel">
				<s:validateAll>

				<ui:include src="/WEB-INF/forgot2.xhtml" />

				</s:validateAll>

			</rich:panel>
		</h:form>

	</ui:define>

</ui:composition>
