<p:document xmlns:ui="http://java.sun.com/jsf/facelets"
            xmlns:s="http://jboss.com/products/seam/taglib"
            xmlns:p="http://jboss.com/products/seam/pdf"
            xmlns:c="http://java.sun.com/jstl/core"
			xmlns:f="http://java.sun.com/jsf/core"
			xmlns:h="http://java.sun.com/jsf/html"
            title="CampaignReport" >

<f:facet name="header">
	<p:font size="8">
		<p:header borderWidthTop="-1" borderWidthBottom="0.4" alignment="left">
<p:paragraph><p:html>
			<body>
			<font size="-3" color="green">
            <table rules="none" frame="box" cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td align="left" valign="top" rowspan="2">
                    	<s:fragment rendered="#{campaignHome.managed}">
                    		<table rules="none" frame="box" cellpadding="0" cellspacing="0"><tr><td>Account#:</td><td>#{campaignHome.instance.account.acctSeqid}</td></tr>
	                     		   <tr><td>Advertister-Market:</td><td>#{campaignHome.instance.account.companyName}</td></tr>
	                        </table>
	                   </s:fragment>
	                </td>
<!--                     <td align="center" valign="center"><img src="#{basePath}/img/mongo_ani.gif" alt=" " border="0" width="32" height="32"/></td> -->
						<td></td>
                    <td align="right" valign="top">
                    <table align="right" valign="top" rules="none" frame="box" cellpadding="0" cellspacing="0">
                    	<tr><td>Generated:</td><td><h:outputText value=" "/><h:outputText value="#{currentDate}"><s:convertDateTime locale="#{locale}" dateStyle="medium"/></h:outputText></td></tr>
						<tr><td>Report Period:</td><td>
							<h:outputText value="#{campaignPreferences.start}"><s:convertDateTime locale="#{locale}" dateStyle="short"/></h:outputText> -  
							<h:outputText value="#{campaignPreferences.stop}"><s:convertDateTime locale="#{locale}" dateStyle="short"/></h:outputText></td></tr>
					</table>                    
                    </td>
                </tr>
            </table>
            </font>
            </body>
            
            </p:html></p:paragraph>
        </p:header>

		<p:footer borderWidthTop="1" borderColorTop="blue"
			borderWidthBottom="0" alignment="center">
			<p:text value="Page - "/><p:pageNumber />
		</p:footer>
	</p:font>
</f:facet>

<p:stroke id="dot1" width="2" cap="round" join="bevel" dash="1 2 3 4" />
<p:stroke id="dot2" width="2" cap="round" join="bevel" dash="2 3" />
<p:stroke id="solid-thin"  width="1" cap="round" join="bevel" dash="1" />
<p:stroke id="solid-thick" width="4" cap="round" join="bevel" dash="1" />
<p:stroke id="dot1"  width="2" cap="round" join="bevel" dash="3 3" />
<p:stroke id="dot2"  width="2" cap="round" join="bevel" dash="2 4" />
<p:color id="foo"  color="#0ff00f"/>
<p:color id="bar"  color="#ff00ff" color2="#00ff00" point="50 50" point2="300 300"/>
<p:color id="bar2" color="#0f0ff0" color2="#00000f" point="50 50" point2="300 300"/>
<c:set var="theFont" value="helvetica" />
<c:set var="normalFontSize" value="10" />
<c:set var="smallFontSize" value="5" />



<p:font name="#{theFont}" size="#{normalFontSize}">
		    <p:table columns="2" headerRows="0" widthPercentage="100" spacingBefore="100" >
		    
		    <f:facet name="defaultCell">
            	<p:cell borderWidth="1"  horizontalAlignment="right"/>
	        </f:facet>

			<s:fragment rendered="#{accountHome.managed}">
				<p:cell >Account#: </p:cell><p:cell ><p:font color="blue">#{campaignHome.instance.account.acctSeqid} </p:font></p:cell>
				<p:cell>Advertister-Market: </p:cell><p:cell><p:font color="blue">#{campaignHome.instance.account.companyName}</p:font></p:cell>
			</s:fragment>

			<s:fragment rendered="#{campaignHome.managed}" >
				<p:cell>Campaign#:</p:cell> <p:cell><p:font color="blue">#{campaignHome.id} </p:font></p:cell>
				<p:cell>CampaignURL: </p:cell><p:cell><p:font color="blue">#{campaignHome.instance.link} </p:font> </p:cell>
				<p:cell>Campaign Created:</p:cell>
					<p:cell> 
						<p:font color="blue">
							<p:text  value="#{campaignHome.instance.startTime}">
								<s:convertDateTime type="both" locale="#{locale}" dateStyle="medium" timeStyle="long"/>
							</p:text>
						</p:font>
					</p:cell>
			

		        <ui:repeat value="#{campaignAPI.getCampaignPeriodTotals(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">

					<p:cell>Total Transmissions*:		</p:cell><p:cell><p:font color="blue">#{item[6]}</p:font></p:cell>
					<p:cell>Total Minutes**:			</p:cell><p:cell><p:font color="blue">#{item[4]}</p:font></p:cell>
					<p:cell>Total Impressions:			</p:cell><p:cell><p:font color="blue">#{item[3]}</p:font></p:cell>
					<p:cell>Total Clicks:			</p:cell><p:cell><p:font color="blue">#{item[2]}</p:font></p:cell>
					<p:cell>Total Charges**:			</p:cell><p:cell><p:font color="blue"><p:text value="#{item[1]}"><f:convertNumber type="currency" currencySymbol="$"/></p:text></p:font></p:cell>
					<p:cell>Total ClickThrough Percentage:			</p:cell><p:cell><p:font color="blue"><p:text  value="#{(item[2]/item[3])*100.0}"><f:convertNumber pattern="###.#"/></p:text></p:font></p:cell>
					<p:cell>Cost Per ClickThrough**:			</p:cell><p:cell><p:font color="blue"><p:text  value="#{empty item[2] ? 0.00 : (item[1]/item[2])}"><f:convertNumber type="currency" currencySymbol="$"/> </p:text></p:font></p:cell>
					<p:cell>Cost Per Transmission**:			</p:cell><p:cell><p:font color="blue"><p:text  value="#{empty item[6] ? 0.00 : (item[1]/item[6])}"><f:convertNumber type="currency" currencySymbol="$"/> </p:text></p:font></p:cell>
					<p:cell>Cost Per Impression**:			</p:cell><p:cell><p:font color="blue"><p:text  value="#{empty item[3] ? 0.00 : (item[1]/item[3])}"><f:convertNumber type="currency" currencySymbol="$"/> </p:text></p:font></p:cell>

<!-- 
					<p:cell>Total Unique Impressions:</p:cell><p:cell><p:font color="blue">#{item[7]}</p:font></p:cell>

					<p:cell>Total Click%:			</p:cell><p:cell><p:font color="blue"><p:text  value="#{(item[2]/item[3])*100.0}"><f:convertNumber pattern="###.#"/> </p:text></p:font></p:cell>
					<p:cell>Cost Per Click**:			</p:cell><p:cell><p:font color="blue"><p:text  value="#{empty item[2] ? 0.00 : (item[1]/item[2])}"><f:convertNumber type="currency" currencySymbol="$"/> </p:text></p:font></p:cell>
-->
				
		    	</ui:repeat>
				
			</s:fragment>

		</p:table>
<p:font name="#{theFont}" size="#{smallFontSize}">
		<p:paragraph>*Note:  'Total Impressions' counts a given email address only once per transmission even if a Transmission uses the same address in both the To and Cc.
		</p:paragraph>
		<p:paragraph>**Note:  'Total Minutes' and 'Total Charges' figures above do not include transmissions that failed to complete successfully but contribute minutes and charges to your overall bill. Examples include user hang-ups before the transmission of a complete first page where no email was sent.
		</p:paragraph>
</p:font>
		
	
</p:font>

<s:fragment rendered="#{empty alt_getCampaignDailySummarySet.getResultList()}">
	
	<p:paragraph spacingAfter="50"><p:font color="red"> <p:text value="No data for the period"/></p:font> </p:paragraph>
</s:fragment>


<s:fragment rendered="#{not empty alt_getCampaignDailySummarySet.resultList }" >

<p:chapter number="2">
<p:title>
<p:paragraph>Daily Transmission Breakdown (Table form)</p:paragraph>
</p:title>
    
    	
		<p:font size="#{smallFontSize}">

		    <p:table columns="10" headerRows="1" widthPercentage="100" spacingBefore="5" >
    			<p:cell> Acct# </p:cell>
    			<p:cell> Campaign# </p:cell>

				<p:cell> Date</p:cell>
				<p:cell> Charges</p:cell>
				<p:cell> ClickThroughs</p:cell>
				<p:cell> Impressions</p:cell>
				<p:cell> Minutes</p:cell>
				<p:cell> Unique Impressions</p:cell>
				<p:cell> ClickThrough%</p:cell>
				<p:cell> Cost/ClickThrough</p:cell>

  		        <ui:repeat value="#{alt_getCampaignDailySummarySet.getResultList()}" var="item">
					<p:cell>#{item.campaign.account.acctSeqid}</p:cell>
					<p:cell>#{item.campaign.cid}</p:cell>
					<p:cell><p:paragraph><p:text value="#{item.transDate}"><s:convertDateTime locale="#{locale}" dateStyle="short"/></p:text></p:paragraph></p:cell>
					<p:cell><p:text value="#{item.totalCharges}"><f:convertNumber type="currency" currencySymbol="$"/></p:text></p:cell>
					<p:cell>#{item.totalClicks}</p:cell>
					<p:cell>#{item.totalEmails}</p:cell>
					<p:cell>#{item.totalMinutes}</p:cell>
					<p:cell>#{item.totalUniqEmails}</p:cell>
					<p:cell><p:text  value="#{(item.totalClicks/item.totalEmails)*100.0}"><f:convertNumber pattern="###.##"/> </p:text></p:cell>
					<p:cell><p:text value="#{empty item.totalClicks ? 0.00 : item.totalCharges/item.totalClicks}"><f:convertNumber type="currency" currencySymbol="$"/></p:text></p:cell>
					
		        </ui:repeat>
		  </p:table>
		</p:font>

</p:chapter>

<p:chapter number="3">
<p:title>
<p:paragraph>Impressions,Transmissions,Clicks Chart</p:paragraph>
</p:title>
    <p:linechart title="Impressions, Transmissions, Clicks" width="500" height="500"
                 is3D="false" legend="true" orientation="vertical"
                 domainAxisLabel="Date #{campaignPreferences.start} - #{campaignPreferences.stop} " domainGridlinesVisible="true" domainAxisPaint="blue"
                  >
        

        <p:series key="Transmissions" seriesPaint="blue"  seriesStroke="dot2">

            <ui:repeat value="#{alt_getCampaignDailySummarySet.getResultList()}" var="item">
                <p:data key="#{item.transDate}" value="#{item.totalTx}" />
            </ui:repeat>

        </p:series>
        <p:series key="Impressions" seriesPaint="green"  seriesStroke="dot2">

            <ui:repeat value="#{alt_getCampaignDailySummarySet.getResultList()}" var="item">
                <p:data key="#{item.transDate}" value="#{item.totalEmails}" />
            </ui:repeat>

        </p:series>

        <p:series key="Clicks" seriesPaint="red"  seriesStroke="dot1">
            <ui:repeat value="#{alt_getCampaignDailySummarySet.getResultList()}" var="item">
                <p:data key="#{item.transDate}" value="#{item.totalClicks}" />
            </ui:repeat>

        </p:series>
	</p:linechart>
	
</p:chapter>

<p:chapter number="4">

<p:title>
<p:paragraph>Impressions Chart(Line Chart)</p:paragraph>
</p:title>
    <p:linechart title="Impressions" width="500" height="500"
                 is3D="false" legend="true" orientation="vertical"
                 domainAxisLabel="Date #{campaignPreferences.start} - #{campaignPreferences.stop} " domainGridlinesVisible="true" domainAxisPaint="blue"
                  >
        

        <p:series key="Impressions" seriesPaint="green"  seriesStroke="dot2">

            <ui:repeat value="#{alt_getCampaignDailySummarySet.getResultList()}" var="item">
                <p:data key="#{item.transDate}" value="#{item.totalEmails}" />
            </ui:repeat>

        </p:series>

	</p:linechart>
</p:chapter>
<p:chapter number="5">

<p:title>
<p:paragraph>Transmissions Chart(Line Chart)</p:paragraph>
</p:title>
    <p:linechart title="Transmissions" width="500" height="500"
                 is3D="false" legend="true" orientation="vertical"
                 domainAxisLabel="Date #{campaignPreferences.start} - #{campaignPreferences.stop} " domainGridlinesVisible="true" domainAxisPaint="blue"
                  >
        

        <p:series key="Transmissions" seriesPaint="blue"  seriesStroke="dot2">

            <ui:repeat value="#{alt_getCampaignDailySummarySet.getResultList()}" var="item">
                <p:data key="#{item.transDate}" value="#{item.totalTx}" />
            </ui:repeat>

        </p:series>

	</p:linechart>
	
</p:chapter>

<p:chapter number="6">
<p:title>
<p:paragraph>ClickThrough Chart(Line Chart)</p:paragraph>
</p:title>
    <p:linechart title="ClickThroughs" width="500" height="500"
                 is3D="false" legend="true" orientation="vertical"
                 domainAxisLabel="Date #{campaignPreferences.start} - #{campaignPreferences.stop} " domainGridlinesVisible="true" domainAxisPaint="blue"
                  >
        

        <p:series key="ClickThroughs" seriesPaint="red"  seriesStroke="dot1">
            <ui:repeat value="#{alt_getCampaignDailySummarySet.getResultList()}" var="item">
                <p:data key="#{item.transDate}" value="#{item.totalClicks}" />
            </ui:repeat>

        </p:series>
	</p:linechart>


</p:chapter>

<p:chapter number="7">
<p:title>
<p:paragraph>Impressions by Areacode (Pie Chart)</p:paragraph>
</p:title>

	    <p:piechart title="Impressions by Areacode" width="500"  height="500" legend="true" 
               borderBackgroundPaint="#ffffff" borderStroke="solid-thin" borderPaint="blue" borderVisible="false"
               plotBackgroundPaint="#ffffff"  plotBackgroundAlpha="1" plotForegroundAlpha="1"
               plotOutlinePaint="blue" 
               labelBackgroundPaint="gray"  labelPaint="white" 
               direction="anticlockwise" >
        <ui:repeat value="#{campaignAPI.getCampaignAreacodePieSet(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">
            <p:data key="#{item[0]}" value="#{item[3]}"  />
        </ui:repeat>
    </p:piechart>

</p:chapter>

<p:chapter number="8">
<p:title>
<p:paragraph>Clicks by Areacode (Pie Chart)</p:paragraph>
</p:title>


	    <p:piechart title="Clicks by Areacode" width="500"  height="500" legend="true" 
               borderBackgroundPaint="#ffffff" borderStroke="solid-thin" borderPaint="blue" borderVisible="false"
               plotBackgroundPaint="#ffffff"  plotBackgroundAlpha="1" plotForegroundAlpha="1"
               plotOutlinePaint="blue" 
               labelBackgroundPaint="gray"  labelPaint="white" 
               direction="anticlockwise" >
        <ui:repeat value="#{campaignAPI.getCampaignAreacodePieSet(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">
            <p:data key="#{item[0]}" value="#{item[2]}"  />
        </ui:repeat>
    </p:piechart>


</p:chapter>

<p:chapter number="9">
<p:title>
<p:paragraph>Transmissions by Areacode (Pie Chart)</p:paragraph>
</p:title>

	    <p:piechart title="Transmissions by Areacode" width="500"  height="500" legend="true" 
               borderBackgroundPaint="#ffffff" borderStroke="solid-thin" borderPaint="blue" borderVisible="false"
               plotBackgroundPaint="#ffffff"  plotBackgroundAlpha="1" plotForegroundAlpha="1"
               plotOutlinePaint="blue" 
               labelBackgroundPaint="gray"  labelPaint="white" 
               direction="anticlockwise" >
        <ui:repeat value="#{campaignAPI.getCampaignAreacodePieSet(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">
            <p:data key="#{item[0]}" value="#{item[6]}"  />
        </ui:repeat>
    </p:piechart>

</p:chapter>
</s:fragment>


<s:fragment rendered="false">

<!--   Below is a bunch of different methods for rendering graphs.  They DON'T render so don't worry about there presence -->

</s:fragment>
<s:fragment rendered="false">
	the rows returned aren't summarized and don't rendered correctly
	    <p:piechart title="Alt -Impressions by Areacode" width="500"  height="500" legend="true" 
               borderBackgroundPaint="#ffffff" borderStroke="solid-thin" borderPaint="blue" borderVisible="false"
               plotBackgroundPaint="#ffffff"  plotBackgroundAlpha="1" plotForegroundAlpha="1"
               plotOutlinePaint="blue" 
               labelBackgroundPaint="gray"  labelPaint="white" 
               direction="anticlockwise" >
        <ui:repeat value="#{alt_getAreacodeSummarySet.getResultList()}" var="item">
            <p:data key="#{item.areacode}" value="#{item.totalEmails}"  />
        </ui:repeat>
        
    </p:piechart>
</s:fragment>

<s:fragment rendered="false">
	the rows returned aren't summarized and don't rendered correctly

	    <p:piechart title="Clicks by Areacode" width="500"  height="500" legend="true" 
               borderBackgroundPaint="#ffffff" borderStroke="solid-thin" borderPaint="blue" borderVisible="false"
               plotBackgroundPaint="#ffffff"  plotBackgroundAlpha="1" plotForegroundAlpha="1"
               plotOutlinePaint="blue" 
               labelBackgroundPaint="gray"  labelPaint="white" 
               direction="anticlockwise" >
        <ui:repeat value="#{alt_getAreacodeSummarySet.getResultList()}" var="item">
            <p:data key="#{item.areacode}" value="#{item.totalClicks}"  />
        </ui:repeat>
    </p:piechart>


	<p:font name="#{theFont}" size="#{smallFontSize}">

		<p:table columns="3" headerRows="1" widthPercentage="100" spacingBefore="5" >
			<p:cell> alt areacode </p:cell>
			<p:cell> totalClicks</p:cell>
			<p:cell> totalImpressions</p:cell>
        	<ui:repeat value="#{alt_getAreacodeSummarySet.getResultList()}" var="item">
				<p:cell>#{item.areacode}</p:cell>
				<p:cell>#{item.totalClicks}</p:cell>
				<p:cell>#{item.totalEmails}</p:cell>

			</ui:repeat>
		</p:table>
	</p:font>
</s:fragment>


<s:fragment rendered="false">
dump the table
	<p:font name="#{theFont}" size="#{smallFontSize}">

		<p:table columns="2" headerRows="1" widthPercentage="100" spacingBefore="5" >
			<p:cell> api areacode </p:cell>
			<p:cell> totalClicks</p:cell>
        	<ui:repeat value="#{campaignAPI.getCampaignAreacodePieSet(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">
				<p:cell>#{item[0]}</p:cell>
				<p:cell>#{item[2]}</p:cell>
			</ui:repeat>
		</p:table>
	</p:font>
</s:fragment>

<s:fragment rendered="false">
no accurate
	    <p:piechart title="Transmissions by Areacode" width="500"  height="500" legend="true" 
               borderBackgroundPaint="#ffffff" borderStroke="solid-thin" borderPaint="blue" borderVisible="false"
               plotBackgroundPaint="#ffffff"  plotBackgroundAlpha="1" plotForegroundAlpha="1"
               plotOutlinePaint="blue" 
               labelBackgroundPaint="gray"  labelPaint="white" 
               direction="anticlockwise" >
        <ui:repeat value="#{alt_getAreacodeSummarySet.getResultList()}" var="item">
            <p:data key="#{item.areacode}" value="#{item.totalTx}"  />
        </ui:repeat>
    </p:piechart>
</s:fragment>

<s:fragment rendered="false">
<p:chapter number="30">
<p:title>
<p:paragraph>Impressions,Transmissions,Clicks Chart</p:paragraph>
</p:title>

    <p:linechart title="Impressions, Transmissions, Clicks" width="500" height="500"
                 is3D="false" legend="true" orientation="vertical"
                 domainAxisLabel="Date #{campaignPreferences.start} - #{campaignPreferences.stop} " domainGridlinesVisible="true" domainAxisPaint="blue"
                  >

        <p:series key="Transmissions" seriesPaint="bar"  seriesStroke="dot2">

            <ui:repeat value="#{campaignAPI.getCampaignDailySummarySet(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">
                <p:data key="#{item[1]}" value="#{item[7]}" />
            </ui:repeat>

        </p:series>
        <p:series key="Impressions" seriesPaint="bar2"  seriesStroke="dot2">

            <ui:repeat value="#{campaignAPI.getCampaignDailySummarySet(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">
                <p:data key="#{item[1]}" value="#{item[4]}" />
            </ui:repeat>

        </p:series>

        <p:series key="Clicks" seriesPaint="red"  seriesStroke="dot1">
            <ui:repeat value="#{campaignAPI.getCampaignDailySummarySet(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">
                <p:data key="#{item[1]}" value="#{item[3]}" />
            </ui:repeat>

        </p:series>
	</p:linechart>
</p:chapter>
</s:fragment>

<s:fragment rendered="false">				

		    <p:table columns="9" headerRows="1" widthPercentage="100" spacingBefore="5" >
    			<p:cell> acctId </p:cell>
				<p:cell> date</p:cell>
				<p:cell> totalCharges</p:cell>
				<p:cell> totalClicks</p:cell>
				<p:cell> totalEmails</p:cell>
				<p:cell> totalMinutes</p:cell>
				<p:cell> totalPages</p:cell>
				<p:cell> totalTx</p:cell>
				<p:cell> totalUniqEmails</p:cell>

  		        <ui:repeat value="#{alt_getAccountDailySummarySet.getResultList()}" var="item">
					<p:cell>#{item.account.acctSeqid}</p:cell>
					<p:cell><p:paragraph><p:text value="#{item.transDate}"><s:convertDateTime locale="#{locale}" dateStyle="short"/></p:text></p:paragraph></p:cell>
					<p:cell>#{item.totalCharges}</p:cell>
					<p:cell>#{item.totalClicks}</p:cell>
					<p:cell>#{item.totalEmails}</p:cell>
					<p:cell>#{item.totalMinutes}</p:cell>
					<p:cell>#{item.totalPages}</p:cell>
					<p:cell>#{item.totalTx}</p:cell>
					<p:cell>#{item.totalUniqEmails}</p:cell>
					
		        </ui:repeat>
		  </p:table>

    <p:piechart title="Clicks by Areacode" width="500"  height="500" legend="true" 
               borderBackgroundPaint="#ffffff" borderStroke="solid-thin" borderPaint="blue" borderVisible="false"
               plotBackgroundPaint="#ffffff"  plotBackgroundAlpha="1" plotForegroundAlpha="1"
               plotOutlinePaint="blue" 
               labelBackgroundPaint="gray"  labelPaint="white" 
               direction="anticlockwise" >
        <ui:repeat value="#{campaignAPI.getCampaignAreacodePieSet(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">
            <p:data key="#{item[0]}" value="#{item[3]}"  />
        </ui:repeat>
    </p:piechart>

    <p:piechart title="Impressions by Areacode" width="500"  height="500" legend="true" 
               borderBackgroundPaint="#ffffff" borderStroke="solid-thin" borderPaint="blue" borderVisible="false"
               plotBackgroundPaint="#ffffff"  plotBackgroundAlpha="1" plotForegroundAlpha="1"
               plotOutlinePaint="blue" 
               labelBackgroundPaint="gray"  labelPaint="white" 
               direction="anticlockwise" >
        <ui:repeat value="#{campaignAPI.getCampaignAreacodePieSet(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">
            <p:data key="#{item[0]}" value="#{item[4]}"  />
        </ui:repeat>
        
    </p:piechart>


    <p:piechart title="3d Pie Chart" width="500" height="500" legend="true" is3D="true" backgroundPaint="bar"
                plotForegroundAlpha=".2">
        <ui:repeat value="#{campaignAPI.getCampaignAreacodePieSet(campaignHome.id,campaignPreferences.start,campaignPreferences.stop)}" var="item">
            <p:data key="#{item[0]}" value="#{item[3]}"  />
        </ui:repeat>
    </p:piechart>

</s:fragment>		 

</p:document>    
