<p:document xmlns:ui="http://java.sun.com/jsf/facelets"
            xmlns:s="http://jboss.com/products/seam/taglib"
            xmlns:p="http://jboss.com/products/seam/pdf"
            xmlns:c="http://java.sun.com/jstl/core"
            xmlns:f="http://java.sun.com/jsf/core"
            title="CampaignReport" >

    <p:font name="helvetica" size="10">

<c:set var="theFont" value="helvetica" />
<c:set var="normalFontSize" value="10" />
<c:set var="smallFontSize" value="5" />


	
	<p:font name="#{theFont}" size="#{normalFontSize}">
		    <p:table columns="2" headerRows="0" widthPercentage="100" spacingBefore="100" >
		    
		    <f:facet name="defaultCell">
            	<p:cell borderWidth="1"  horizontalAlignment="right"/>
	        </f:facet>

			<s:fragment rendered="#{accountHome.managed}">
				<p:cell >Account#: </p:cell><p:cell ><p:font color="blue">#{accountHome.instance.acctSeqid} </p:font></p:cell>
				<p:cell>Company: </p:cell><p:cell><p:font color="blue">#{accountHome.instance.companyName}</p:font></p:cell>
			</s:fragment>

			<s:fragment rendered="#{campaignHome.managed}" >
				<p:cell>Campaign#:</p:cell> <p:cell><p:font color="blue">#{campaignHome.id} </p:font></p:cell>
				<p:cell>CampaignURL: </p:cell><p:cell><p:font color="blue">#{campaignHome.instance.link} </p:font> </p:cell>
				<p:cell>Campaign Created:</p:cell><p:cell> <p:font color="blue">#{campaignHome.instance.startTime}</p:font></p:cell>

				<p:cell>Report Start Date</p:cell><p:cell><p:text value="#{campaignPreferences.start}"><s:convertDateTime locale="#{locale}" dateStyle="short"/></p:text></p:cell>
				<p:cell>Report End Date</p:cell><p:cell><p:text value="#{campaignPreferences.stop}"><s:convertDateTime locale="#{locale}" dateStyle="short"/></p:text></p:cell>

			</s:fragment>
			</p:table>
	</p:font>
	
	
    <p:image alignment="right" wrap="true" value="img/mongo_ani.gif" /> 
     <p:newPage />
    <p:paragraph>Click records</p:paragraph>
    <p:font size="6">
    <p:table columns="6" headerRows="1" spacingBefore="50">
		<p:cell>Impression Date</p:cell>
		<p:cell>Clicked Date</p:cell>
		<p:cell>Clicker IP</p:cell>
		<p:cell>Sender Areacode</p:cell>
		<p:cell>Domain</p:cell>
		<p:cell>XID</p:cell>

        <ui:repeat value="#{alt_getRawCampaignUsage.resultList}" var="item">
        	<p:cell>#{item[1]}</p:cell>
        	<p:cell>#{item[2]}</p:cell>
        	<p:cell>#{item[3]}</p:cell>
        	<p:cell>#{item[4]}</p:cell>
        	<p:cell>#{item[5]}</p:cell>
        	<p:cell>#{item[6]}</p:cell>
        </ui:repeat>
	</p:table>
	</p:font>

    
</p:font>

</p:document>    
