<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<f:view contentType="text/csv">
# cid, Impression Date, Click Date, ipAddress,areacode, domain, xid

        <ui:repeat value="#{alt_getRawCampaignUsage.resultList}" var="item">
#{item[0]}, #{item[1]}, #{item[2]}, #{item[3]}, #{item[4]},#{item[5]},#{item[6]}
        </ui:repeat>
</f:view>

</ui:composition> 
