<p:document xmlns:ui="http://java.sun.com/jsf/facelets"
            xmlns:s="http://jboss.com/products/seam/taglib"
            xmlns:p="http://jboss.com/products/seam/pdf"
            title="CampaignReport" >


<p:font size="12">
<p:header borderWidthTop="0" borderColorBottom="blue"
borderWidthBottom="1" alignment="center">
		Account#: #{accountHome.instance.acctSeqid} 
		Company : #{accountHome.instance.companyName}		

</p:header>
</p:font>

<p:font size="10">
<p:footer borderWidthTop="1" borderColorTop="blue"
borderWidthBottom="0" alignment="center">
Period     : #{campaignPreferences.start} - #{campaignPreferences.stop} 
[<p:pageNumber />]

</p:footer>
</p:font>
    <p:image alignment="right" wrap="true" value="img/mongo_ani.gif" /> 

    <p:font name="helvetica" size="10">

	<p:paragraph>
		Account#: #{accountHome.instance.acctSeqid} 
		Company : #{accountHome.instance.companyName}		
	</p:paragraph>
	
	<p:paragraph>
		Campaign#  : #{campaignHome.id} 
		CampaignURL: #{campaignHome.instance.link}  
		Created    : #{campaignHome.instance.startTime}
		Clicks     : #{domainRollupDetailList.resultCount}
		Period     : #{campaignPreferences.start} - #{campaignPreferences.stop}
	</p:paragraph>
	

    <p:stroke id="dot1" width="2" cap="round" join="bevel" dash="1 2 3 4" />
    <p:stroke id="dot2" width="2" cap="round" join="bevel" dash="2 3" />

    <p:color id="foo" color="#0ff00f"/>
    <p:color id="bar" color="#ff00ff" color2="#00ff00" point="50 50" point2="300 300"/>

    <p:linechart title="Domain Transactions" width="500" height="500"
                 is3D="true" legend="true" orientation="horizontal"
                 domainAxisLabel="domain" rangeAxisLabel="transactions" >

        <p:series key="Transactions" seriesPaint="bar"  seriesStroke="dot2">
            <ui:repeat value="#{domainRollupDetailList.resultList}" var="item">
                <p:data key="#{item.domainName}" value="#{item.totalTx}" />
            </ui:repeat>
        </p:series>
        
	</p:linechart>
	
	<p:newPage />
    <p:image alignment="right" wrap="true" value="img/mongo_ani.gif" /> 
    
    
    <p:paragraph>Domain Details</p:paragraph>
    <p:font size="5">
    
    <p:table columns="9" headerRows="1">
	<p:cell> date</p:cell>
	<p:cell> domain</p:cell>
	<p:cell> totalClicks</p:cell>
	<p:cell> totalTx</p:cell>
	<p:cell> totalEmails</p:cell>
	<p:cell> totalUniqEmails</p:cell>
	<p:cell> totalCharges</p:cell>
	<p:cell> totalMinutes</p:cell>
	<p:cell> totalPages</p:cell>
	
        <ui:repeat value="#{domainRollupDetailList.resultList}" var="item">
		<p:cell>#{item.transDate}</p:cell>
		<p:cell>#{item.domainName}</p:cell>
		<p:cell>#{item.totalClicks}</p:cell>
		<p:cell>#{item.totalTx}</p:cell>
		<p:cell>#{item.totalEmails}</p:cell>
		<p:cell>#{item.totalUniqEmails}</p:cell>
		<p:cell>#{item.totalCharges}</p:cell>
		<p:cell>#{item.totalMinutes}</p:cell>
		<p:cell>#{item.totalPages}</p:cell>

        </ui:repeat>
	</p:table>
	</p:font>

    
</p:font>

</p:document>    
