<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<f:view contentType="text/csv">
# Impression Date, areacode, domain, email_type, xid

        <ui:repeat value="#{alt_getRawCampaignImpression.resultList}" var="item">
#{item[1]}, #{item[2]}, #{item[3]}, #{item[4]},#{item[5]}
        </ui:repeat>
</f:view>

</ui:composition> 

<!-- 
        <ui:repeat value="#{alt_getRawCampaignUsage.resultList}" var="item">
             <h:outputText value="#{item.xid},#{item.xidDate}" />
             <s:fragment rendered="#{empty item.campaignUsages}">
				,empty usage1,empty usage2,
			 </s:fragment>
             <s:fragment rendered="#{not empty item.campaignUsages}">
			 
					<ui:repeat value="#{item.campaignUsages}" var="usage">
					#{usage.clicked},#{usage.ip},#{usage.emailAddress.emailAddress},#{usage.emailType},
					</ui:repeat>
			 </s:fragment>
        </ui:repeat>
-->
